/* Z-INDEX */
/* line 6, ../sass/validationEngine.jquery.scss */
.formError {
  z-index: 990;
}

/* line 7, ../sass/validationEngine.jquery.scss */
.formError .formErrorContent {
  z-index: 991;
}

/* line 8, ../sass/validationEngine.jquery.scss */
.formError .formErrorArrow {
  z-index: 996;
}

/* line 10, ../sass/validationEngine.jquery.scss */
.formErrorInsideDialog.formError {
  z-index: 5000;
}

/* line 11, ../sass/validationEngine.jquery.scss */
.formErrorInsideDialog.formError .formErrorContent {
  z-index: 5001;
}

/* line 12, ../sass/validationEngine.jquery.scss */
.formErrorInsideDialog.formError .formErrorArrow {
  z-index: 5006;
}

/* line 17, ../sass/validationEngine.jquery.scss */
.inputContainer {
  position: relative;
  float: left;
}

/* line 22, ../sass/validationEngine.jquery.scss */
.formError {
  position: absolute;
  top: 300px;
  left: 300px;
  display: block;
  cursor: pointer;
}

/* line 30, ../sass/validationEngine.jquery.scss */
.ajaxSubmit {
  padding: 20px;
  background: #55ea55;
  border: 1px solid #999;
  display: none;
}

/* line 37, ../sass/validationEngine.jquery.scss */
.formError .formErrorContent {
  width: 100%;
  background: #ee0101;
  position: relative;
  color: #fff;
  width: 150px;
  font-size: 11px;
  border: 2px solid #ddd;
  box-shadow: 0 0 6px #000;
  -moz-box-shadow: 0 0 6px #000;
  -webkit-box-shadow: 0 0 6px #000;
  padding: 4px 10px 4px 10px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

/* line 54, ../sass/validationEngine.jquery.scss */
.greenPopup .formErrorContent {
  background: #33be40;
}

/* line 58, ../sass/validationEngine.jquery.scss */
.blackPopup .formErrorContent {
  background: #393939;
  color: #FFF;
}

/* line 63, ../sass/validationEngine.jquery.scss */
.formError .formErrorArrow {
  width: 15px;
  margin: -2px 0 0 13px;
  position: relative;
}

/* line 69, ../sass/validationEngine.jquery.scss */
body[dir='rtl'] .formError .formErrorArrow,
body.rtl .formError .formErrorArrow {
  margin: -2px 13px 0 0;
}

/* line 73, ../sass/validationEngine.jquery.scss */
.formError .formErrorArrowBottom {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0px 0 0 12px;
  top: 2px;
}

/* line 81, ../sass/validationEngine.jquery.scss */
.formError .formErrorArrow div {
  border-left: 2px solid #ddd;
  border-right: 2px solid #ddd;
  box-shadow: 0 2px 3px #444;
  -moz-box-shadow: 0 2px 3px #444;
  -webkit-box-shadow: 0 2px 3px #444;
  font-size: 0px;
  height: 1px;
  background: #ee0101;
  margin: 0 auto;
  line-height: 0;
  font-size: 0;
  display: block;
}

/* line 96, ../sass/validationEngine.jquery.scss */
.formError .formErrorArrowBottom div {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

/* line 102, ../sass/validationEngine.jquery.scss */
.greenPopup .formErrorArrow div {
  background: #33be40;
}

/* line 106, ../sass/validationEngine.jquery.scss */
.blackPopup .formErrorArrow div {
  background: #393939;
  color: #FFF;
}

/* line 111, ../sass/validationEngine.jquery.scss */
.formError .formErrorArrow .line10 {
  width: 15px;
  border: none;
}

/* line 116, ../sass/validationEngine.jquery.scss */
.formError .formErrorArrow .line9 {
  width: 13px;
  border: none;
}

/* line 121, ../sass/validationEngine.jquery.scss */
.formError .formErrorArrow .line8 {
  width: 11px;
}

/* line 125, ../sass/validationEngine.jquery.scss */
.formError .formErrorArrow .line7 {
  width: 9px;
}

/* line 129, ../sass/validationEngine.jquery.scss */
.formError .formErrorArrow .line6 {
  width: 7px;
}

/* line 133, ../sass/validationEngine.jquery.scss */
.formError .formErrorArrow .line5 {
  width: 5px;
}

/* line 137, ../sass/validationEngine.jquery.scss */
.formError .formErrorArrow .line4 {
  width: 3px;
}

/* line 141, ../sass/validationEngine.jquery.scss */
.formError .formErrorArrow .line3 {
  width: 1px;
  border-left: 2px solid #ddd;
  border-right: 2px solid #ddd;
  border-bottom: 0 solid #ddd;
}

/* line 148, ../sass/validationEngine.jquery.scss */
.formError .formErrorArrow .line2 {
  width: 3px;
  border: none;
  background: #ddd;
}

/* line 154, ../sass/validationEngine.jquery.scss */
.formError .formErrorArrow .line1 {
  width: 1px;
  border: none;
  background: #ddd;
}
