{% extends 'expert_base.html' %}

{% block main-content %}
    <h1>Ваша заявка принята.</h1>
    <div class="b-frame ">
    <div class="frame round-5">
    <p>Благодарим Вас за регистрацию. Мы отправили Вам подтверждение на {{ email }}. Пожалуйста, проверьте Ваш почтовый
        ящик. Если в течение 5 минут Вы не получите письмо с подтверждением, то проверьте папку спам, скорее всего,
        письмо по ошибке попало туда</p>

    <div>В случае, если Вы не получили подтверждения:</div>
    <ul class="bullet">
        <li>проверьте правильно ли Вы указали ваш адрес;</li>
{#        <li>проверьте папку Спам в вашем почтовом ящике;</li>#}
        <li>напишите нам о возникшей проблеме, используя <a href="{% url "feedback-all" %}">форму обратной связи.</a></li>
    </ul>
    </div>
        <div class="shadow round-5"></div>
    </div>


{% endblock main-content %}