{% extends 'expert_base.html' %}
{% load bootstrap_tags %}


{% block extra_script %}
    <link rel="stylesheet" href="{{ STATIC_URL }}psyco/css/validationEngine.jquery.css" type="text/css"/>
    <script src="{{ STATIC_URL }}psyco/js/validation_engine/languages/jquery.validationEngine-ru.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}psyco/js/validation_engine/jquery.validationEngine.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}psyco/js/jquery.maskedinput-1.3.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}psyco/js/jquery.textareaCounter.plugin.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}pybb/js/jquery.formset.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $("#id_institutions-0-instatution_name").addClass('validate[required]');
            $("#id_institutions-0-institution_specialization").addClass('validate[required]');

            $("#expert_registration").validationEngine({
                ajaxFormValidationMethod:'get'
            });
            $("#id_birthday").mask("99.99.9999");
            $("#id_phone_number").mask("+ 9 999 999 99 99");
            //$('input[name$="instatution_start"]').mask("9999");
            //$('input[name$="instatution_stop"]').mask("9999");

            var textareaCountOptions = {
                'maxCharacterSize': 1000,
                'originalStyle': 'originalDisplayInfo',
                'warningStyle': 'warningDisplayInfo',
                'warningNumber': 50,
                'displayFormat': '#input | #left'
            };
            $('#id_personal').textareaCount(textareaCountOptions);

            function manageAddButton(){
                var fs_prefix = this.prefix;
                var fs_total = $('#id_' + fs_prefix + '-TOTAL_FORMS').val();
                var fs_max = $('#id_' + fs_prefix + '-MAX_NUM_FORMS').val();
                if(!fs_max){
                    return;
                }
                var balance = fs_max - fs_total;
                if (!balance) {
                    $('.' + fs_prefix + '_add').hide()
                }else{
                    $('.' + fs_prefix + '_add').show()
                }
            }



{#            $('.formset1').formset({#}
{#                prefix: "institutions",#}
{#                formCssClass: "institutions_fs",#}
{#                addCssClass: 'add-row btn institutions_add',#}
{#                deleteText: '<i class="icon-remove"></i>',#}
{#                added: manageAddButton,#}
{#                removed: manageAddButton,#}
{#                addText: 'Добавить высшее учебное заведение'#}
{#            });#}

{#            $('.formset2').formset({#}
{#                prefix: "study_centers",#}
{#                formCssClass: "study_centers_fs",#}
{#                addCssClass: 'add-row btn study_centers_add',#}
{#                deleteText: '<i class="icon-remove"></i>',#}
{#                added: manageAddButton,#}
{#                removed: manageAddButton,#}
{#                addText: 'Добавить учебный центр'#}
{#            });#}

{#            $('.formset3').formset({#}
{#                prefix: "associations",#}
{#                formCssClass: "associations_fs",#}
{#                addCssClass: 'add-row btn associations_add',#}
{#                deleteText: '<i class="icon-remove"></i>',#}
{#                added: manageAddButton,#}
{#                removed: manageAddButton,#}
{#                addText: 'Добавить профессиональное объединение'#}
{#            });#}

            $("input[type='checkbox']").change (function (){
                var thischeck = $(this);

                if (thischeck.is (':checked')){
                    //console.log('parent'+thischeck.val());

                    $('.parent'+thischeck.val()).children("input[type='checkbox']").prop('checked', true).trigger('change');
                }else{
                    $('.parent'+thischeck.val()).children("input[type='checkbox']").prop('checked', false).trigger('change');
                }
            });

            $("#add-diplom-block").click(function()
            {
                var new_block = $("#diplom-block").clone();
                var new_rel = $(this).attr('rel');
                new_rel = parseInt(new_rel) + 1;
                new_block.find('textarea').val('');
                new_block.find('textarea').attr('name', 'diplom-scan-text-'+new_rel);
                new_block.find('input[type="file"]').val('');
                new_block.find('input[type="file"]').attr('name', 'diplom-scan-file-'+new_rel);
                $("#diplom-block").after(new_block);
                return false;
            });

        });
    </script>
{% endblock extra_script%}

{% block title %}Регистрация специалиста{% endblock title%}

{% block content %}

    <h1>Регистрация специалиста</h1>
    <div class="b-frame ">
    <div class="frame round-5">
    {#    {% include "form.html" with submit_text="Зарегистрироваться" enctype='enctype="multipart/form-data"' %}#}
    <div class="info-expert-registration">
        Здравствуйте, чтобы зарегистрироваться на сайте Кабинет №1 в качестве специалиста, Вам нужно будет в анкете ответить на несколько вопросов, а также загрузить вашу фотографию и электронный вариант диплома о высшем психологическом образовании (скан).
    </div>
    <p class="help-block" style="font-size:14px;font-weight: bold;color: black;">Обратите внимания, что поля, отмеченные звездочкой<span
            class="req">* </span> обязательны для заполнения</p>
    <div class="expert-reg-title-block">1. Личные данные</div>
    <form id="expert_registration" target="" method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        {{ form.non_field_errors }}


        {% for field in form.fieldsets.first %}
            {% include "bootstrap/field.html" %}
            {% if field.name == 'phone_number' %}
                <div class="expert-reg-title-block">2. Информация для клиентов</div>
            {% endif %}
        {% endfor %}


        {% for field in form.fieldsets.issues %}
            {% include "bootstrap/checkboxes_tree.html" %}
        {% endfor %}
{#        <hr>#}

        <div class="expert-reg-title-block">3. Сведения об образовании</div>

        <h3>Сведения о высшем профессиональном образовании</h3>

        {% for form in institutions %}
            <div class="formset1 well institutions_fs">
            {{ form.non_field_errors }}
                {{ form|as_bootstrap }}
            </div>
        {% endfor %}
        {{ institutions.management_form }}
        <hr>

        <h3>Сведения о дополнительном образовании</h3>
        {% for form in study_centers %}
            <div class="formset2 well study_centers_fs">
                {{ form.non_field_errors }}
                {{ form|as_bootstrap }}
            </div>
        {% endfor %}
        {{ study_centers.management_form }}
        <hr>

        <h3>Членство в профессиональных объединениях</h3>
        {% for form in associations %}
            <div class="formset3 well associations_fs">
            {{ form.non_field_errors }}
                {{ form|as_bootstrap }}
            </div>
        {% endfor %}
        {{ associations.management_form }}
        <hr>

        {% for field in form.fieldsets.last %}
            {% include "bootstrap/field.html" %}
        {% endfor %}
{#        <div id="div_id_diplom_scan" class="control-group  " style="height: 100px;">#}
{#            <label for="id_diplom_scan" class="control-label">#}
{#                Дипломы и сертификаты#}
{#            </label>#}
{#            <div class="controls" id="diplom-block">#}
{#                <textarea placeholder="Загрузите скан диплома о высшем психологическом образовании" cols="20" rows="5" name="diplom-scan-text-1" style="width: 300px;"></textarea>#}
{#                <span class="help-inline help-expert-description">#}
{#                    Если у Вас есть еще дипломы и сертификаты, которые вы хотели бы#}
{#                    разместить в своей анкете, Вы сможете загрузить их в Личном кабинете после регистрации.#}
{#                </span>#}
{#                <span class="help-inline" style="float: right;">Поддерживаются форматы#}
{#                                            jpeg, png - это основные#}
{#                                            форматы изображений в#}
{#                                            интернете, размер одного#}
{#                                            загружаемого файла до 5 Mb.#}
{#                </span>#}
{#                <div>#}
{#                    <input type="file" style="vertical-align: top;" name="diplom-scan-file-1" id="id_diplom_scan">#}
{#                </div>#}
{#            </div>#}
{#            <a href="#" id="add-diplom-block" rel="1">Добавить ещё один</a>#}
{#        </div>#}
{##}
{#        <hr style="width: 100%;">#}

        <input class="btn btn-primary" type="submit" value="Зарегистрироваться">

    </form>

    </div>
        <div class="shadow round-5"></div>
    </div>



{% endblock content %}
