{% extends 'base.html' %}

{% block content %}
    <h1>Обратная связь</h1>

    <div class="b-frame">
        <div class="frame round-5">
            <div class="b-feedback">
                {% include "qna.html" %}

                <p>Ваше сообщение успешно отправленно.</p>



            </div>
        </div>
        <div class="shadow round-5"></div>
    </div>

{% endblock content %}
