{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block title %}

{% endblock %}

{% block extra_script %}
{% include "js/validation_engine.html" %}
<script>
        $(document).ready(function () {
            $("#feedback-form").validationEngine();
        });
</script>
{% endblock extra_script %}

{% block content %}
    <h1>Написать психологу онлайн</h1>

    <div class="b-frame b-videos">
        <div class="frame round-5">

            <div class="b-feedback">
                {% include "qna.html" %}



                <form id="feedback-form" method="POST" action="">
                    <div style='display:none'>{% csrf_token %}</div>
                    <div class="form">
                    {{ feedback_form|as_bootstrap }}
{#                        {% for field in feedback_form %}#}
{#                            <div class="line">#}
{#                                <div>{{ field.label }}</div>#}
{#                                <div>{{ field }}</div>#}
{#                                <div class="error">{{ field.errors }}</div>#}
{#                            </div>#}
{#                        {% endfor %}#}

                        <div class="line">
                            <div class="green answer button"><input type="submit" value="Отправить"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="feedback-contact">
                <span>support@kabinet1.ru</span>
                <span>+7(931)2830042</span>
                <span>OOO "ЕТ - Cофт"</span>
            </div>
        </div>
        <div class="shadow round-5"></div>
    </div>


{% endblock content %}
