<div class="b-qna-list">
{#    <div class="item">#}
{#        <div class="bubble right round-5">#}
{#            Мне очень трудно. Помощь нужна прямо сейчас!#}
{#            <span class="a"></span>#}
{#        </div>#}
{#        <p>Перейдите в раздел <a href="/urgent_help/">Экстренная помощь</a>.</p>#}
{#    </div>#}
    <div class="item">
        <div class="bubble left round-5">
            Не могу войти в свой профиль, что делать?
            <span class="a"></span>
        </div>
        <p>Проверьте правильность ввода электронной почты и пароля или восстановите пароль.</p>
    </div>
    <div class="item">
        <div class="bubble right round-5">
            Возникли сложности с использованием нашего сайта?
            <span class="a"></span>
        </div>
        <p>Заполните форму слева. Мы вам обязательно вам поможем.</p>
    </div>
                        <div class="item">
                            <div class="bubble left round-5">
                                Вы психолог? Хотите работать на проекте?
                                <span class="a"></span>
                            </div>
                            <p>Заполните <a href="{% url "expert-registration" %}">Анкету для специалистов</a>.</p>
                        </div>
    <div class="item">
        <div class="bubble left round-5">
            Мечтаете работать в нашей команде?
            <span class="a"></span>
        </div>
        <p>Заполните форму слева.</p>
    </div>
{#    <div class="item">#}
{#        <div class="bubble left round-5">#}
{#            Подскажите контакты для прессы.#}
{#            <span class="a"></span>#}
{#        </div>#}
{#        <p>Свяжитесь с <a href="mailto:press@kabinet1.ru">press@kabinet1.ru</a></p>#}
{#    </div>#}
</div>
