/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";
@import "partials/compass_twitter_bootstrap";
@import 'partials/reset';
@import 'partials/menu';
@import 'partials/typography';

@import 'partials/buttons';
@import "partials/pagination";
@import "partials/reviews";
@import "partials/news";
@import "partials/forms";
@import "partials/tag-cloud";

@import "partials/b-application";
@import "partials/b-comments";
@import "partials/b-faq";
@import "partials/b-feedback";
@import "partials/b-frame";
@import "partials/b-media";
@import "partials/b-schedule";
@import "partials/b-services";
@import "partials/target_groups";
//@import "partials/b-videos";
//@import "partials/popups";
@import "partials/steps";
//@import "partials/library";
@import "partials/default";

@import "partials/cusel";
@import "partials/jquery.ui.theme";
@import "partials/jquery.ui.datepicker";
@import "partials/jquery.ui.slider";
@import "partials/jquery.jscrollpane";
@import "partials/moment";
@import "partials/specialist";


//ntcn

@import "partials/pybbm";


.clearfix{
  @include clearfix();
}

.bullet {
  margin-bottom: 10px;
}

.bullet li {
  background: image-url("images/li.png?1352796942") no-repeat scroll 0 6px transparent;
  list-style: none outside none;
  padding-left: 18px;
}

