<div class="ajax-mode-title">{{ title }}</div>
{% for wp in wps %}
    <div class="mode-msg-interval">
        с <input type="text" value="{{ wp.start_time|time:"H:i" }}" name="time-left" />
        по <input type="text" value="{{ wp.end_time|time:"H:i" }}" name="time-right" />
            <span>
                <a href="#" class="del-interval">
                    <img src="/static/psyco/img/red-cross.png" style="width: 15px;" width="15" />
                </a>
            </span>
        <span class="hidden-wh-pk">{{ wp.pk }}</span>
    </div>
    {% if forloop.last %}
        <div class="mode-msg-add-interval"><a href="#">Добавить интервал</a></div>
    <div class="allday">
        <input name="allday" type="checkbox" {% if is_allday %} checked="checked"{% endif %} /> Доступен весь день
    </div>
    {% endif %}
{% empty %}
    {% if wd.holliday %}
        <span id="holliday">Выходной день</span>
    {% else %}
        <div class="mode-msg-interval">
            с <input type="text" value="00:00" name="time-left" />
            по <input type="text" value="23:59" name="time-right" />
            <span>
                <a href="#" class="del-interval">
                    <img src="/static/psyco/img/red-cross.png" style="width: 15px;" width="15" />
                </a>
            </span>
        </div>
    {% endif %}
    <div class="mode-msg-add-interval"><a href="#">Добавить интервал</a></div>
    <div class="allday">
        <input name="allday" type="checkbox" {% if not wd.holliday %}checked="checked"{% endif %} /> Доступен весь день
    </div>
{% endfor %}
