{% extends "admin:admin/index.html" %}

{% block content %}
    <div style="margin-bottom: 20px;">
        <h3>Запросы на модерацию "Образование"</h3>
        {% for m in moderate_institutuin %}
            <div>
                <a href="{{ m.get_admin_url }}">{{ m }}</a>
            </div>
        {% endfor %}

        <h3>Запросы на модерацию "Проблемы"</h3>
        {% for m in moderate_issues %}
            <div>
                <a href="{{ m.get_admin_url }}">{{ m }}</a>
            </div>
        {% endfor %}

        <h3>Запросы на модерацию "Личные данные"</h3>
        {% for m in moderate_privatedata %}
            <div>
                <a href="{{ m.get_admin_url }}">{{ m }}</a>
            </div>
        {% endfor %}
    </div>
    {{block.super}}
{% endblock %}