{% extends "admin/base.html" %}
{% load i18n admin_tools_menu_tags admintools_bootstrap %}
{% load url from future %}

{% block title %}{{ title }} | {% atb_site_name %} {% trans "admin" %}{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}admintools_bootstrap/lib/style.less" />
<script type="text/javascript" src="{{ STATIC_URL }}admintools_bootstrap/js/less.js"></script>

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admintools_bootstrap/chosen/chosen.css" />
<!--[if IE]><link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admintools_bootstrap/css/custom-theme/jquery.ui.1.8.16.ie.css" /><![endif]-->
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admintools_bootstrap/css/custom-theme/jquery-ui-1.8.16.custom.css" />
{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{{ STATIC_URL }}admintools_bootstrap/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admintools_bootstrap/chosen/chosen.jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admintools_bootstrap/js/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admintools_bootstrap/js/bootstrap-dropdown.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admintools_bootstrap/js/bootstrap-alerts.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admintools_bootstrap/js/bootstrap-twipsy.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admintools_bootstrap/js/init-ui.js"></script>
{% endblock %}

{% block branding %}
<a class="brand" href="{% url "'admin:index'" %}">{% atb_site_name %} {% trans "admin" %}</a>
{% endblock %}

{% block nav-global %}
{% if user.is_active and user.is_staff %}
{% if not is_popup %}
{% admin_tools_render_menu %}
{% endif %}
{% endif %}
{% endblock %}
