{% extends "admin/change_form.html" %}

{% block after_related_objects %}
  {% if original.pk %}
    <div class="submit-row">
      <p class="deletelink-box">Manage this request</p>
        <input type="submit" value="response" name="response">
    </div>
  {% endif %}
{% endblock %}
