
.b-faq{}
.b-faq .line{
  /*overflow:hidden;*/
  margin:0 -15px;
}
.b-faq .line .item{
  width:50%;
  float:left;
  font-size:0.857em;
  line-height:130%;/*position:relative;*/
}
.b-faq .line .item .i{
  margin:0 15px;
  padding:0 0 5px 0;
  border:0;
}
.b-faq .line + .line .item .i{
  border-top:1px solid #d5d5d5;
  padding-top:18px;
}
.b-faq .line .item .i p{
  margin:0 0 5px 0!important;
}
.b-faq .line .item .i p.info, .bubble_answer p.info{
  color:#8e8e8e;
  font-size:0.917em;
}
.b-faq .line .item .i p.info em{
  color:#565656;
}
.b-faq .line .item .i p.answer a, .news_item .answer a, .kabinet .answer a{
  padding-right:15px;
  background: image-url('bg/more.gif') 100% 50% no-repeat;
}