.b-frame{
  position:relative;
  margin-bottom:30px;
}
.b-frame .shadow{
  position:absolute;
  width:100%;
  height:100%;
  background:#c0c0c0;
  left:3px;
  top:3px;
  z-index:1;
}
.b-frame .shadow2{
  position:absolute;
  width:100%;
  height:100%;
  background:#c0c0c0;
  left:2px;
  top:2px;
  z-index:1;
}


.b-frame .shadow1{
  position:absolute;
  width:100%;
  height:100%;
  background: #89AFB8;
  left:3px;
  top:3px;
  z-index:1;
}
.b-frame .shadow3{
  position:absolute;
  width:100%;
  height:100%;
  background: #A77400;
  left:3px;
  top:3px;
  z-index:1;
}
.b-frame .frame, .b-frame .frame1{
  position:relative;
  background:#fff;
  padding:25px;
  z-index:10;
}
.b-frame .frame1{
  background: image-url('images/balans_back.png') repeat-x;padding:16px;
}
.b-frame .frame2{
  padding:3px;z-index:10;position:relative;background:#FFF;
}
.b-frame .frame3{
  position:relative;
  z-index:10;
}
