.b-services{
  background: image-url('bg/service-menu.gif');
  padding:0 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.b-services .title{
  position:relative;
  color:#fff;
  padding:14px 10px 18px 10px;
  margin:0 -10px;
  text-transform:uppercase;
  text-shadow:#1b3603 1px 1px 1px;
  background: image-url('bg/service-menu-title.gif');
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  z-index:1;
}
.b-services .learn-more{
  position:relative;
  text-align:center;
  padding:20px 10px 15px 10px;
  margin:-4px -10px 0 -10px;
  background: image-url('bg/service-menu-more.gif') 50% 50%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  z-index:1;
}
.b-services .learn-more .button{
  background-image: image-url('bg/button-w.gif');
  color:#027bc8;
  /*line-height:2.667em;*/
  line-height:100%;
  padding-top:11px;
  padding-left:11px;
  padding-bottom:10px;
  text-shadow:none;
  font-weight:bold;
}
.b-services .learn-more .button span{
  display:block;
  padding-right:21px;
  background: image-url('bg/more.png') 100% 50% no-repeat;
}
.b-services .learn-more .button:hover{
  background:#ebedea;
}
