
.b-videos .col-3{
  position:relative;
  overflow:hidden;
  margin:0 -10px;
}
.b-videos .col-3 .col{
  width:33%;
  float:left;
  clear:right;
}
.b-videos .col-3 .col .i{
  padding:0 10px;
  overflow:hidden;
}
.b-videos .col-3 .col .i img{
  max-width:100%;
}
.b-videos .video{
  margin:0 0 20px 0;
  line-height:0;
  font-size:0;
}
.b-videos p{
  margin:0 0 5px 0!important;
  font-size:12px;
  line-height:17px;
}
.b-videos p a{
  font-size:14px;
  font-weight:bold;
}
