.step4 label{
    background: none;
    width: auto;
    overflow: visible;
}

.step4 input[type="radio"] {
    position: relative;
    left: auto;
    top: auto;
}

input[type="radio"]{
    cursor: pointer
}

.step4 label.active{
    background: none
}
