.req{
  font-weight: bold;
  color: #AA001C;
}
.warningDisplayInfo{
  color: #AA001C!important;
}

.control-label{
  font-weight: bold;
}
#expert_registration{
  font-size: 14px;
  .checkbox{
    //padding-left: 30px;
    input{
      margin-top: 3px!important;
    }

  }
  .checkbox_level0{
    margin-left: 5px;
    margin-top: 5px;
    font-weight: bold;

  }
  .checkbox_level1{
    margin-left: 22px;

  }
  .checkbox_level2{
    margin-left: 40px;

  }
  textarea{
    width: 600px;
    resize: none;

  }
  ul{
    list-style: none;
  }
}
.controls{
  position: relative;
}

.charleft {
  bottom: 10px;
  color: #9F9F9F;
  left: 620px;
  position: absolute;
}

.well{
  position: relative;
  background-color: transparent;
}
.delete-row{
  color: #777777;
  position: absolute;
  right: 8px;
  top: 5px;
}

#div_id_personal{
  .help-inline{
    display: inline;
    padding-left: 5px;
    position: absolute;
    top: 0px;
    vertical-align: top;

  }
}

.register .help-inline {
  font-size: 13px;
}

input[type="checkbox"]{
  margin: 0;
}

#profile_edit{
  #id_signature{
    width: 400px;
    max-height: 100px;
  }
}

#for_organization{
  textarea{
    width: 550px;
    resize: none;

  }

}

#lib_search{
  .control-group{
    margin-bottom: 10px;
  }
  .lib_search_text{
    padding: 0 3px;
    width: 159px;
  }
  select{
    width: 165px;
  }
  .checkbox input{
    margin-top: 3px;
  }
}

#add_review{
  textarea{
    width: 600px;
    resize: none;
  }
}