/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer {
    overflow: hidden;
    position: relative;
}

.jspPane {
    position: absolute;
    /*width:160px!important;*/
}

.jspVerticalBar {
    position: absolute;
    top: 0;
    right: 5px;
    width: 9px;
    height: 100%;

}

.jspHorizontalBar {
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100%;
    height: 16px;
    background: red;
}

.jspVerticalBar *,
.jspHorizontalBar * {
    margin: 0;
    padding: 0;
}

.jspCap {
    display: none;
}

.jspHorizontalBar .jspCap {
    float: left;
}

.jspTrack {
    background: #898A8A;
    position: relative;
    width: 5px !important;
}

.jspDrag {
    /*background: #00ae5e;*/
    background: image-url('images/scroll.png') 50% 50% no-repeat;
    position: relative;
    top: 0;
    left: -7px;
    cursor: pointer;

    width: 21px !important;
    height: 22px !important;
}

.jspDrag .jspDragTop, .jspDrag .jspDragBottom {
    position: absolute;
    width: 9px;
    height: 9px;
    left: 0;
}

.jspDrag .jspDragTop {
    top: 0;
    /*background:image-url('bg/arr-up.gif') 50% 50% no-repeat;*/
}

.jspDrag .jspDragBottom {
    bottom: 0;
    /*background:image-url('bg/arr-down.gif') 50% 50% no-repeat;*/
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
    float: left;
    height: 100%;
}

.jspArrow {
    background: #50506d;
    text-indent: -20000px;
    display: block;
    cursor: pointer;
}

.jspArrow.jspDisabled {
    cursor: default;
    background: #80808d;
}

.jspVerticalBar .jspArrow {
    height: 16px;
}

.jspHorizontalBar .jspArrow {
    width: 16px;
    float: left;
    height: 100%;
}

.jspVerticalBar .jspArrow:focus {
    outline: none;
}

.jspCorner {
    background: #eeeef4;
    float: left;
    height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
    margin: 0 -3px 0 0;
}
