.chat_app {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 10px;
  z-index: 3000;

    /* Flash movie gets reloaded in Firefox when display:none is applied.
* visibility:hidden and right:-99999px is used as a workaround.
* There's a minor problem with vertical scrollbar appearing earlier
* than expected because of this. */
    visibility: hidden;
    left: -99999px;
}

.body {
    position: absolute;
    top: 490px;
    bottom: 55px;
    left: 0;
    right: 0;
    width: 100%;
}

.footer {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.code_input {
    /* Breaks placeholder color in Firefox.
  color: #333333; */
    height: 30px;
    border: 1px solid #cccccc;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 16px;
}

.connect_button {
    height: 30px;
    color: white;
    background-color: green;
    border: 0px;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #004400;
  vertical-align: middle;
}

.connect_button:hover {
    cursor: pointer;
}

.flash_div {
    position: relative;
    width: 640px;
    height: 480px;
    margin-left: auto;
    margin-right: auto;
}

.chat_frame {
    width: 634px;
    height: 100%;
    border-left: 1px solid #ccccdd;
    border-right: 1px solid #ccccdd;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: auto;
    margin-right: auto;
}

.chat_scroll {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.chat_div {
    padding-bottom: 1.25ex;
    padding-top: 6px;
    font-size: 14px;
    text-align: left;
    word-wrap: break-word;
}

.input_div {
    width: 634px;
    background-color: #ffffff;
    border-left: 1px solid #ccccdd;
    border-right: 1px solid #ccccdd;
    border-bottom: 1px solid #ccccdd;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.input_div .chat_input {
    width: 100%;
    height: 30px;
    /* Breaks placeholder color in Firefox.
  color: #333333; */
    outline: 0;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
}

.chat_input_blocked {
    border: 0;
    border-right: 0;
}

.chat_input_unblocked {
    border: 0;
    border-right: 0;
}

.chat_input_wrapper_blocked {
    border: 5px solid #ccccdd;
    border-right: 4px solid #ccccdd;
}

.chat_input_wrapper_unblocked {
    border: 5px solid #707088;
    border-right: 4px solid #707088;
}

.send_button {
    width: 0px;
    border: 0;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    font-weight: bold;
    vertical-align: middle;
}

.send_button_blocked {
    color: #f8f8ff;
    background-color: #ccccdd;
    text-shadow: 1px 1px 0 #a0a0d0;
}

.send_button_unblocked {
    color: white;
    background-color: #707088;
    text-shadow: 1px 1px 0 #000044;
}

.send_button_blocked:hover {
    cursor: default;
}

.send_button_unblocked:hover {
    cursor: pointer;
}

.chat_phrase {
    padding-left: 8px;
    padding-top: 0.5ex;
}

.lead_chat_phrase {
    border-top: 1px dotted #a0a0d0;
    padding-left: 8px;
    padding-top: 0.75ex;
    margin-top: 0.75ex;
}

.own_chat_phrase {
    color: #707088;
    padding-left: 8px;
    padding-top: 0.5ex;
}

.lead_own_chat_phrase {
    color: #707088;
    border-top: 1px dotted #a0a0d0;
    padding-left: 8px;
    padding-top: 0.75ex;
    margin-top: 0.75ex;
}

.status_msg {
    color: #a0a0a0;
    padding-left: 8px;
    padding-top: 0.5ex;
    font-style: oblique;
}

.lead_status_msg {
    color: #a0a0a0;
    border-top: 1px dotted #a0a0d0;
    padding-left: 8px;
    padding-top: 0.75ex;
    margin-top: 0.75ex;
    font-style: oblique;
}

.status_msg_red {
    color: #aa0000;
}

.status_msg_green {
    color: #008000;
}
