
.news_item{
  // padding: 0 3px 3px 0;
}
.news_item img{
  float:left;margin-right:20px;
}
.news_item .frame{
  padding: 15px 20px 20px 20px!important;
  @include clearfix();
}


.news_item_left{
  overflow:hidden;
}
.news_item span.date{
  color: #8E8E8E;font-size:11px;
}
.news_item .title a{
  color: #027BC8;font-size:20px;

}

.news_item .title{
  margin-bottom: 10px;
}
.news_item .descr{
  color: #565656;font-size:14px;margin-bottom:17px;
}
.news_item .next_news{
  color: #027BC8; font-size:12px;vertical-align:middle;
}
.news_item .next_news img{
  vertical-align:middle;
}

//.news_detail img{
//  float:left;margin-right:30px;margin-bottom:30px;
//}
.news_detail p, .news_detail{
  color: #565656;font-size:14px;
}
.news_detail .descr_main, .news_detail .descr_main p{
  //font-size:16px!important;
  color: #262626!important;
}
.news_detail #all_news{
  //margin-top:39px;
}
.date_detail{
  font-size:12px;
}

.main_news_left{
  width:796px;float:left;padding-top:10px;
}
.main_news_left h2 a{
  font-size:14px;color: #027BC8;font-family:Arial;float:right;font-weight:bold;margin-right:55px;
}


.main_news_left ul li{
  list-style:none;float:left;width:265px;margin-right:64px;
}
.main_news .jcarousel-clip{
  width:625px;margin: auto;overflow:hidden;
}
.main_news .jcarousel-container li{
  font-size:12px;color: #565656;line-height:14px;
}
.main_news .jcarousel-container li a{
  color: #027BC8;
}





.main_news_right{
  float:right;width:163px;margin-top:47px;
}

.more{
  background-image: image-url('bg/more.gif');
  background-position: right 3px;
  background-repeat: no-repeat;
  padding-right: 16px;
  font-size: 13px;
}

.descr_main{
  margin-bottom: 20px;
}
