html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, img, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, form, label, table, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}
html { 
	height:100%;
	font-size: 100.01%;
}
body {
	height:100%;
	background:image-url('bg/body.gif') #def4fb;
	color: #5e5e5e;
	text-align: left;
}
:focus {
	outline: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 100%;
}
a{
	color:#027bc8;
	text-decoration:none;
}
