.main_reviews_left {
  width: 796px;
  float: left;
  padding-top: 10px;
  margin-bottom: 15px;
  min-height: 200px;
}

.main_reviews_left h2 a {
  font-size: 14px;
  color: #027BC8;
  font-family: Arial;
  float: right;
  font-weight: bold;
  margin-right: 55px;
}

.main_reviews_left ul li {
  list-style: none;
  float: left;
  width: 600px;
  margin-right: 54px;
}

.main_reviews .jcarousel-clip {
  width: 625px;
  margin: auto;
  overflow: hidden;
}

.main_reviews .jcarousel-container li {
  font-size: 12px;
  color: #565656;
  line-height: 14px;
}

.main_reviews .jcarousel-container li a {
  color: #027BC8;
}

.main_reviews .jcarousel-prev {
  top: 45px!important;
}

.main_reviews .jcarousel-next {
  top: 45px!important;
  right: 20px;
}

.main_reviews .jcarousel-container {
  margin-top: 40px
}


.review-expert{
  float: right;
  .name{
    text-align: right;
  }
}

.review-info{
  float: left;
  margin-right: 20px;
  width: 400px;
}
