.specialist_photo_link{
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;

  .status{
    position: absolute;
    right: 0;
    top: 0;
  }

  .specialist_info{
    position: absolute;
    right: -30px;
    top: 0;
  }
}