.tags-cloud__tag{
  color: #555555;
  display: inline-block;
  padding: 0.2em 0;
  outline: 0;
  &:hover{
    color: #555555;
    outline: 0;
  }
}

.tags-cloud__tag1 {
  font-size: 0.7em;
  font-weight: 100;
}

.tags-cloud__tag2 {
  font-size: 0.8em;
  font-weight: 200;
}

.tags-cloud__tag3 {
  font-size: 0.9em;
  font-weight: 300;
}

.tags-cloud__tag4 {
  font-size: 1.0em;
  font-weight: 400;
}

.tags-cloud__tag5 {
  font-size: 1.2em;
  font-weight: 500;
}

.tags-cloud__tag6 {
  font-size: 1.4em;
  font-weight: 600;
}

.tags-cloud__tag7 {
  font-size: 1.6em;
  font-weight: 700;
}

.tags-cloud__tag8 {
  font-size: 1.8em;
  font-weight: 800;
}

.tags-cloud__tag9 {
  font-size: 2.2em;
  font-weight: 900;
}

.tags-cloud__tag10 {
  font-size: 2.5em;
  font-weight: 900;
}