body{
	font:14px/19px Arial, sans-serif;
}

div.cite p.q{
	font-size: 0.857em;
	font-style:italic;
}
div.cite p.cite{
	font-size: 0.786em;
	text-align:right;
}
ul.person-menu{
	font-size: 0.786em;
}
.cecutient{
	font-size:1em;
	line-height:100%;
}
.cecutient span{
	font-size:0.714em;
}
.cecutient span span{
	font-size:1.100em;
}
.lang-menu{
	font-size: 0.786em;
	line-height:100%;
}

ul.top-menu{
	font-size: 1em;
}
ul.top-menu li a{
	font-weight:bold;
}

#main-menu ul{
	font:1.357em 'PFDinTextCompProMedium';
}
.left-menu li{
	font-size:1.1em;	
}


h1{
  color:#262626;
  margin:0 0 15px 0;
}
h1 img{
  vertical-align:baseline;
}
h2{
  color:#000;
  margin:0 0 15px 0;
}
h3{
  color:#1a1a1a;
  margin:0 0 10px 0;
}


h1{
	font:2.857em/120% 'PFDinTextCompProMedium';
}
h2{
	font:2.143em/120% 'PFDinTextCompProMedium';
}
h3{
	font-size:1.286em;
	line-height:120%;
	font-weight:normal;
}
.specialist_list h3{
  font-family:'PFDinTextCompProMedium';color: #626262;font-size:24px;
  font-weight:normal;
}
.b-search h3{
  font-family:'PFDinTextCompProMedium';
  font-weight:normal;
}
.next_step h3, .change_problem_left h3, .step5 h3{
  font-family:'PFDinTextCompProMedium';
  font-weight:normal;
}


.b-services .title{
	font:1.214em/120% 'PFDinTextCompProMedium';
}

#footer .left{
	font-size: 0.857em;
}
#footer ul.menu{
	font-weight:bold;
	text-transform:uppercase;
}
#footer .right{
	font-weight:bold;
	font-size: 1em;
}

@font-face {
    font-family: 'PFDinTextCompProMedium';
    src: font-url('pfdintextcomppro-medium-webfont.eot');
    src: local('O'), font-url('pfdintextcomppro-medium-webfont.woff') format('woff'), font-url('pfdintextcomppro-medium-webfont.ttf') format('truetype'), font-url('pfdintextcomppro-medium-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
