<link rel="stylesheet" href="{{ STATIC_URL }}psyco/css/validationEngine.jquery.css" type="text/css"/>
<script src="{{ STATIC_URL }}psyco/js/validation_engine/languages/jquery.validationEngine-ru.js" type="text/javascript"
        charset="utf-8"></script>
<script src="{{ STATIC_URL }}psyco/js/validation_engine/jquery.validationEngine.js" type="text/javascript"
        charset="utf-8"></script>
