{% extends "lib_base.html" %}

{% block main-content %}

    <h1>{{ section.name }}</h1>
    <div class="b-frame">
        <div class="frame round-10">
            {% autoescape off %}
                {{ section.description }}
            {% endautoescape %}

        {% if section.libitem_set.all %}
            <ul class="bullet">
                {% for item in section.libitem_set.all %}

                    <li>
                        <a href='{% url "libitem-details" item.id %}'>{{ item.name }} - {{ item.owner }} </a>
                    </li>

                {% endfor %}
            </ul>
        {% endif %}




        </div>
        <div class="shadow round-10"></div>
    </div>



{% endblock main-content %}
