{% extends "lib_base.html" %}
{% load bootstrap_tags %}

{% block extra_script %}
    {% include "js/validation_engine.html" %}
{#    <script src="{{ STATIC_URL }}psyco/js/jquery.maskedinput-1.3.min.js" type="text/javascript"></script>#}
{#    <script src="{{ STATIC_URL }}psyco/js/jquery.textareaCounter.plugin.js" type="text/javascript"></script>#}
    <script src="{{ STATIC_URL }}pybb/js/jquery.formset.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $("#expert_registration").validationEngine({
                ajaxFormValidationMethod: 'get'
            });

{#            var textareaCountOptions = {#}
{#                'maxCharacterSize': 1000,#}
{#                'originalStyle': 'originalDisplayInfo',#}
{#                'warningStyle': 'warningDisplayInfo',#}
{#                'warningNumber': 50,#}
{#                'displayFormat': '#input | #left'#}
{#            };#}
{#            $('#id_text').textareaCount(textareaCountOptions);#}

            function manageAddButton() {
                var fs_prefix = this.prefix;
                var fs_total = $('#id_' + fs_prefix + '-TOTAL_FORMS').val();
                var fs_max = $('#id_' + fs_prefix + '-MAX_NUM_FORMS').val();
                if (!fs_max) {
                    return;
                }
                var balance = fs_max - fs_total;
                console.log(balance);
                if (!balance) {
                    $('.' + fs_prefix + '_add').hide()
                } else {
                    $('.' + fs_prefix + '_add').show()
                }
            }


            $('.formset1').formset({
                prefix: "form",
                formCssClass: "form_fs",
                addCssClass: 'add-row btn form_add',
                deleteText: '<i class="icon-remove"></i>',
                added: manageAddButton,
                removed: manageAddButton,
                addText: 'Добавить файл'
            });



        });
    </script>
{% endblock extra_script %}

{% block main-content %}
    <h1>Добавление записи</h1>
    <div class="b-frame ">
        <div class="frame round-5">

            <form id="library_add" target="" method="post" enctype='multipart/form-data'>
                {% csrf_token %}
                {{ form.non_field_errors }}

                {% for field in form %}
                    {% include "bootstrap/field.html" %}
                {% endfor %}
                <hr>
                <h3>Прикреплённые файлы</h3>
                {% for form in files %}
                    <div class="formset1 well files_fs">
                        {{ form.non_field_errors }}
                        {{ form|as_bootstrap }}
                    </div>
                {% endfor %}
                {{ files.management_form }}
                <hr>
                <input class="btn btn-primary" type="submit" value="Сохранить">

            </form>

        </div>
        <div class="shadow round-5"></div>
    </div>

{% endblock main-content %}
