<div class="tags-cloud">
    <a href="#" class="tags-cloud__tag tags-cloud__tag1">tag1</a>
    <a href="#" class="tags-cloud__tag tags-cloud__tag2">tag2</a>
    <a href="#" class="tags-cloud__tag tags-cloud__tag3">tag3</a>
    <a href="#" class="tags-cloud__tag tags-cloud__tag4">tag4</a>
    <a href="#" class="tags-cloud__tag tags-cloud__tag5">tag5</a>
    <a href="#" class="tags-cloud__tag tags-cloud__tag6">tag6</a>
    <a href="#" class="tags-cloud__tag tags-cloud__tag7">tag7</a>
    <a href="#" class="tags-cloud__tag tags-cloud__tag8">tag8</a>
    <a href="#" class="tags-cloud__tag tags-cloud__tag9">tag9</a>
    <a href="#" class="tags-cloud__tag tags-cloud__tag10">tag10</a>
</div>