{% extends "lib_base.html" %}

{% block main-content %}

    <h1>Библиотека</h1>
    <div class="b-frame">
        <div class="frame round-10">
            {% for section in sections %}
                <p><a href="{% url "libsection-details" section.id %}">Раздел: {{ section.name }} </a> </p>
            {% endfor %}

        </div>
        <div class="shadow round-10"></div>
    </div>

{% endblock main-content %}



