{% extends "lib_base.html" %}
{% load bootstrap_tags %}

{% block main-content %}

<h1>Запись добавлена!</h1>
    <div class="b-frame ">
    <div class="frame round-5">
    <p>Запись была успешно добавлена.</p>
    </div>
        <div class="shadow round-5"></div>
    </div>

{% endblock main-content %}
