{% extends "base.html" %}



{% block content %}
    <div class="clearfix">
        <div class="c_left">
            {% include "lib__left_column.html" %}
        </div>
        <div class="c_center">
            {% block main-content %}

            {% endblock main-content %}
        </div>
        <div class="c_right">
            {% block right-column %}
                {% include "right-column.html" %}
            {% endblock right-column %}
        </div>
    </div>
{% endblock content %}

