<div class="b-frame">
    <div class="frame round-10">
        <form id="lib_search" action="" method="get">

            <div class="control-group">
                <input class="lib_search_text" type="text" placeholder="Ключевое слово" id="text">
            </div>
            <div class="control-group">
                <label class="checkbox">
                    <input name="where" type="checkbox" value=""> В заголовках
                </label>
                <label class="checkbox">
                    <input name="where" type="checkbox" value=""> В тексте
                </label>
                <label class="checkbox">
                    <input name="where" type="checkbox" value=""> Среди авторов
                </label>
            </div>


            <div class="control-group">
                <select name="format" id="">
                    <option value="all">Все форматы</option>
                    <option value="book">Книги</option>
                    <option value="articles">Статьи</option>
                    <option value="video">Видео</option>
                </select>
            </div>

            <div style="text-align: center;">
                <a class="button" href="#">Найти</a>
            </div>

        </form>


    </div>
    <div class="shadow round-10"></div>
</div>