{% extends "lib_base.html" %}

{% block main-content %}

    <h1>{{ item.name }}</h1>
    <div class="b-frame">
        <div class="frame round-10">
            {% autoescape off %}
                {{ item.text }}
            {% endautoescape %}

        {% if item.itemfile_set.all %}
            <ul class="bullet">
                {% for file in item.itemfile_set.all %}
                    <li>
                        <a href="{{ MEDIA_URL }}{{ file.link }}">{{ file.link }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        </div>
        <div class="shadow round-10"></div>
    </div>

{% endblock main-content %}
