{% extends "admin_tools/dashboard/module.html" %}
{% load googlecharts %}

{% block module_content %}
    <h1>На сайте зарегистрировано {{module.news.count}} новостей</h1>
    <h3>Сегодня: {{module.stats.today}}</h3>
    <h3>На этой неделе: {{module.stats.thisweek}}</h3>
    <h3>В этом месяце: {{module.stats.thismonth}}</h3>
    
{% endblock %}