{% extends "admin_tools/dashboard/module.html" %}

{% block module_content %}
    <p>Общее число {{module.stats.untilnow}}</p>
    <p>Сегодня: {{module.stats.today}}</p>
    <p>На этой неделе: {{module.stats.thisweek}}</p>
    <p>В этом месяце: {{module.stats.thismonth}}</p>
{% endblock %}
