{% extends "base.html" %}

{% block content %}
<script type="text/javascript">
$(function()
{
    $('#payment-form').submit(function(){
       if ($(this).find('textarea').val() != '')
       {
           $.ajax({
               type: 'POST',
               url: $(this).attr('action'),
               data: $(this).serializeArray(),
               success: function(resp){
                if (resp == 'OK')
                {
                    $('#payment-block').html('<div class="msg">Ваша заявка отправлена</div>');
                }
                else {
                    $('#payment-block').html('<div class="msg">Ошибка при отправке заявки</div>');
                }
       }
           });
       }
        return false;
    });

    $('.datepicker').datepicker({
        dateFormat: 'yy-mm-dd'
    });
})
</script>
    <div class="clearfix">
        <div class="c_left">
            {% include "private/private__left_menu.html" %}
        </div>
        <div class="c_center private-data-block">
            {% block c_center %}
                <h1>Личный кабинет</h1>
                {% if not is_expert %}
                    <h3>Пополнить баланс</h3>
                    <div class="b-frame">
                        <div class="frame round-10" style="padding-left: 10px;">
                            <p>Пополнить баланс на:</p>
                            <form id="balance-pay-form" method="POST" accept-charset="utf-8" target="_blank" action="http://sprypay.ru/sppi/" >
                                {% for field in form_balance_pay %}
                                <p>
                                    {{ field }}
                                </p>
                                {% endfor %}
{#                                <input type="text" value="100.0" name="balance-pay-sum" />#}
                                <input type="hidden" value="balance-pay-ok" />
                                <input class="button" type="submit" style="border: 0px;" value="Пополнить" id="balance-pay-btn">
                            </form>
{#                            {{ onpay_tag|safe }}#}
                        </div>
                        <div class="shadow round-10"></div>
                    </div>
                {% endif %}
                <h3>Выписка</h3>
                <div class="b-frame">
                    <div class="frame round-10">
                    <div class="private-balance-head-block">
                        <form method="GET">
                            <input style="border: 0px;float: right;" type="submit" class="button" value="Найти"/>
                            Найти с <span class="add-on"><i class="icon-calendar"></i></span><input type="text" name="payments-from" class="datepicker" value="{{ p_from }}" style="width: 100px;">
                            по <span class="add-on"><i class="icon-calendar"></i></span><input class="datepicker" name="payments-before" value="{{ p_before }}" style="width: 100px;" type="text">
                        </form>
                    </div>
                    <div class="private-balance-body-block">
                        <table style="width: 100%;">
                            <thead>
                            <tr>
                                <td></td>
                                <td>Дата</td>
                                <td>Время</td>
                                <td></td>
                                <td>Подробности</td>
{#                                <td>Баланс</td>#}
                            </tr>
                            </thead>
                            <tbody>
                            {% for operation in operations %}
                                {% if forloop.counter|divisibleby:"2" %}
                                    <tr style="background: #EAF8FE;">
                                {% else %}
                                    <tr>
                                {% endif %}
                                    <td>{% if operation.is_spend %}
                                        <img src="/static/psyco/img/balance-minus.png"/>
                                    {% else %}
                                        <img src="/static/psyco/img/balance-plus.png"/>
                                    {% endif %}</td>
                                    <td>{{ operation.date|date:"d.m.Y" }}</td>
                                    <td>{{ operation.date|date:"H:i" }}</td>
                                    <td style="width: 15%;">{{ operation.sum }} р.</td>
                                    <td>{{ operation.comment }}</td>
{#                                    <td>5500</td>#}
                                </tr>
                            {% empty %}
                                <tr>
                                <td colspan="5">
                                    {% if is_expert %}
                                        За указанный Вами период движений по счету произведено не было
                                    {% else %}
                                        За указанный Вами период пополнение баланса и оплата консультаций не производились
                                    {% endif %}
                                </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% if is_paginated %}
                            <div class="dj-pagination">
                                Страницы: <span class="page-links">
                                {% if page_obj.has_previous %}
                                    {% if pagination_amp %}
                                        <a href="{{ full_path }}&page={{ page_obj.previous_page_number }}"><img style="margin-bottom: -5px" src="/static/psyco/img/msg-left-arr.png" /></a>
                                    {% else %}
                                        <a href="?page={{ page_obj.previous_page_number }}"><img style="margin-bottom: -5px" src="/static/psyco/img/msg-left-arr.png" /></a>
                                    {% endif %}
                                {% endif %}
                                {% for page in page_obj.page_range %}
                                    {% if page_obj.number == page %}
                                        <span style="font-weight: bold;">{{ page }}</span>
                                    {% else %}
                                        {% if not page %}...
                                        {% else %}
                                            {% if pagination_amp %}
                                                <a href="{{ full_path }}&page={{ page }}">{{ page }}</a>
                                            {% else %}
                                                <a href="?page={{ page }}">{{ page }}</a>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    {% if pagination_amp %}
                                        <a href="{{ full_path }}&page={{ page_obj.next_page_number }}"><img style="margin-bottom: -5px" src="/static/psyco/img/msg-right-arr.png" /></a>
                                    {% else %}
                                        <a href="?page={{ page_obj.next_page_number }}"><img style="margin-bottom: -5px" src="/static/psyco/img/msg-right-arr.png" /></a>
                                    {% endif %}
                                {% endif %}
                            </span>
                            </div>
                        {% endif %}

                    </div>
                    </div>
                    <div class="shadow round-10"></div>
                </div>
                {% if is_expert %}
                <h3>Заказ вывода средств</h3>
                <div class="b-frame">
                    <div class="frame round-10" id="payment-block">
                    <form action="{% url "balance-view" %}" method="POST" style="padding: 10px" class="order-payment" id="payment-form">
                        {% csrf_token %}
                        <input type="radio" value="WM" name="payway" checked="checked"> WebMoney<br/>
                        <input type="radio" value="card" name="payway"> Перевод на карту<br/>
                        <input type="radio" value="qiwi" name="payway"> Qiwi<br/>
                        <input type="radio" value="transfer" name="payway"> Банковский перевод<br/><br/>
                        <div class="order-out-money">
                            Реквизиты способа оплаты:<br/>
                            <textarea rows="5" name="payment-data"></textarea>
                        </div>
                        <input type="submit" value="Оправить заявку" class="button" style="border: 0px">
                    </form>
                    </div>
                    <div class="shadow round-10"></div>
                </div>
                {% endif %}
            {% endblock c_center %}
        </div>
        <div class="c_right c_right_private">
            {% include "private/private__right_menu.html" %}
        </div>
    </div>
{% endblock content %}
