{% extends "base.html" %}

{% block content %}
    <div class="clearfix">
        <div class="c_left">
            {% include "private/private__left_menu.html" %}
        </div>
        <div class="c_center private-data-block">
            {% block c_center %}
                <h1>Личный кабинет</h1>
                <h3>Мои данные</h3>
                <div class="b-frame">
                    <div class="frame round-10">
                        {% for message in messages %}
                            {% include "flash_messages.html" %}
                        {% endfor %}

                        <form method="POST">{% csrf_token %}
                        <div class="private-data">
                            <div class="private-data-label">Имя пользователя</div>
                            <a href="#">{{ user }}</a>
                        </div>
                        <div class="private-data">
                            <div class="private-data-label">E-mail</div>
                            {{ profile_edit_form.email }}
                        </div>
                        <div class="private-data-label-block">
                            <div class="private-data">
                                <div class="private-data-label">Старый пароль</div>
                                {{ profile_edit_form.old_password }}
                            </div>
                        </div>
                        <div class="private-data">
                            <div class="private-data-label">Новый пароль</div>
                            {{ profile_edit_form.new_password }}
                        </div>
                        <div class="private-data">
                            <div class="private-data-label">Дублировать новый пароль</div>
                            {{ profile_edit_form.repeat_new_password }}
                        </div>
                        <div class="private-data-label-block">
                        <div class="private-data">
                            <div class="private-data-label">Часовой пояс</div>
                            {{ profile_edit_form.timezone }}
                        </div>
                        </div>
                        <div class="private-data-label-block">
                        <div class="private-data">
                            <div class="private-data-label">Имя</div>
                            {{ profile_edit_form.name }}
                        </div>
                        <div class="private-data">
                            <div class="private-data-label">Фамилия</div>
                            {{ profile_edit_form.surname }}
                        </div>
                        <div class="private-data">
                            <div class="private-data-label">Отчество</div>
                            {{ profile_edit_form.middlename }}
                        </div>
                        <div class="private-data">
                            <div class="private-data-label">Дата рождения</div>
                            {{ profile_edit_form.birth_day }}
                            {{ profile_edit_form.birth_month }}
                            {{ profile_edit_form.birth_year }}
                        </div>
                        </div>
                        <div class="private-data-label-block">
                        <div class="private-data">
                            <div class="private-data-label">Страна, Город</div>
                            {{ profile_edit_form.country }}
                        </div>
                        <div class="private-data">
                            <div class="private-data-label">Контактный телефон</div>
                            {{ profile_edit_form.phone }}
                        </div>
                        </div>
                            <div class="private-data-bottom">
                            {{ profile_edit_form.subscribe }}Получать рассылку на почту
                            <br />
                            <input type="submit" class="button" value="Сохранить">
                            </div>
                        </form>
                    </div>
                    <div class="shadow round-10"></div>
                </div>
            {% endblock c_center %}
        </div>
        <div class="c_right c_right_private">
            {% include "private/private__right_menu.html" %}
        </div>
    </div>
{% endblock content %}
