{% extends "base.html" %}

{% block content %}
    <div class="clearfix">
        <div class="c_left">
            {% include "private/private__left_menu.html" %}
        </div>
        <div class="c_center private-data-block">
            {% block c_center %}
                <h1>Личный кабинет</h1>
                <h3>Консультация</h3>
                <div class="b-frame">
                    <div class="frame round-10">
                           {# include flash here #}
						   
						   <!-- MOVE JS SCRIPTS TO HEAD TAG -->
						   <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
						  
						   
						   <div id="flash"></div>
						   
						   <!-- IE Problem: когда флэшка берётся из кэша на ней ничего не видно. но она работает! непонятно почему так. если включить "Режим совместимости", то всё ок.
						   в IE вообще как-то очень агрессивно данные с сайта кэшируются, даже запросы из флэшки уходят в кэш. на сервере может суперкэш настроен?
						   для предотвращения использования кэша добавляем к запросе флэшки переменчивый гет-параметр.
						   можно добавлять только для IE -->
						   
						   <script type="text/javascript">
								swfobject.embedSWF("http://www.kabinet1.ru/static/psyco/flash/Kabinet1.swf" + "?" + Math.floor(Math.random()*1000),"flash","580","650","11.1","http://code.google.com/p/swfobject/source/browse/trunk/swfobject/expressInstall.swf?r=322",
									{},
									{play:"true",allowFullScreen:"true",allowscriptaccess:"always",quality:"best",wmode:"window",scale:"noscale"}
								);
							</script>


							<!--
						   
						   <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="580" height="600" id="Kabinet1">
							<param name="movie" value="http://www.kabinet1.ru/static/psyco/flash/Kabinet1.swf">
							<param name="quality" value="high">
							<param name="bgcolor" value="#fff">
							<param name="allowScriptAccess" value="always">
							<param name="allowFullScreen" value="true">
							<embed src="http://www.kabinet1.ru/static/psyco/flash/Kabinet1.swf" quality="high" bgcolor="#fff" width="580" height="600" name="Kabinet1" allowfullscreen="true" allowscriptaccess="always" type="application/x-shockwave-flash" pluginpage="http://www.macromedia.com/go/getflashplayer">
							</object>
							
							-->
						   
                    </div>
                    <div class="shadow round-10"></div>
                </div>
                {% if not is_expert %}
                <div class="after-consultation-block">
                    <form method="POST" action="{% url 'wizzard_step' 'experts' %}">
                        {% csrf_token %}
                    <input type="hidden" name="experts-expert" value="{{ consultation.expert.pk }}" />
                    <button id="order-spec-btn" class="zakaz round-15" type="submit" style="float: none;">
                    </button>
                    </form>
                    <div class="after-feedback">
                        <form method="POST" action="">
                            {% csrf_token %}
                            <input type="hidden" name="expert_pk" value="{{ consultation.expert.pk }}" />
                            <b>Вы можете написать отзыв специалисту, поделиться впечатлением о консультации и работе сайта</b>
                            <textarea name="feedback-text"></textarea>
                            <label>
                                <input type="checkbox" name="anonymous" /> Сохранить анонимность
                            </label>
                            <button type="submit" class="btn btn-primary">Отправить</button>
                        </form>
                        <div class="after-form-send" style="display: none;">
                            Спасибо, ваш отзыв отправлен.
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endblock c_center %}
        </div>
        <div class="c_right c_right_private">
            {% include "private/private__right_menu.html" %}
        </div>
    </div>
{% endblock content %}
