{% extends "base.html" %}

{% block extra_script %}
    <link rel="stylesheet" href="{{ STATIC_URL }}psyco/css/validationEngine.jquery.css" type="text/css"/>
    <script src="{{ STATIC_URL }}psyco/js/validation_engine/languages/jquery.validationEngine-ru.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}psyco/js/validation_engine/jquery.validationEngine.js" type="text/javascript" charset="utf-8"></script>
    <script>
    $(document).ready(function () {
        $("#expert-login-data-form").validationEngine({
            ajaxFormValidationMethod:'get'
        });
    });
    </script>

{% endblock %}

{% block content %}
    <div class="clearfix">
        <div class="c_left">
            {% include "private/private__left_menu.html" %}
        </div>
        <div class="c_center private-data-block">
            {% block c_center %}
                <h1>Личный кабинет</h1>
                <h3>Мои данные</h3>
                <script type="text/javascript">
                    $(function()
                    {
                        $(".tabs li a.first").click(function()
                        {
                            $(".b-frame > .frame").css({
                                "border-top-left-radius": "0px"
                            });
                            return false;
                        });
                        $(".tabs li a").click(function()
                        {
                            $(".tabs li.active").removeClass("active");
                            $(this).closest("li").addClass("active");
                            $(".tab-content").hide();
                            $(".tab-content#" + $(this).attr("href")).show();
                            return false;
                        });
                    })
                </script>
                <ul class="tabs">
                    <li class="active"><a class=" first" href="#tab1">Учетные данные</a></li>
                    <li><a href="#tab2">Личные данные</a></li>
                    <li><a href="#tab3">Образование</a></li>
                    <li><a class="last" href="#tab4">Ключевые компетенции</a></li>
                </ul>
                <div class="b-frame with-tabs">
                    <div class="frame round-10">
                        <div class="tab-content" id="tab1">
                            {% for message in messages %}
                                {% include "flash_messages.html" %}
                            {% endfor %}
                            {% include "private/forms/login_data.html" %}

                        </div>
                        <div class="tab-content" id="tab2">
                            {% for message in messages %}
                                {% include "flash_messages.html" %}
                            {% endfor %}
                            {% include "private/forms/private_data.html" %}
                        </div>
                        <div class="tab-content" id="tab3">
                            {% for message in messages %}
                                {% include "flash_messages.html" %}
                            {% endfor %}
                            {% include "private/forms/education_data.html" %}
                        </div>
                        <div class="tab-content" id="tab4">
                            {% for message in messages %}
                                {% include "flash_messages.html" %}
                            {% endfor %}
                            {% include "private/forms/problems.html" %}
                        </div>
{#                        <div class="private-data">#}
{#                            <div class="private-data-label">Имя пользователя</div>#}
{#                            <a href="#">user876</a>#}
{#                        </div>#}
{#                        <div class="private-data">#}
{#                            <div class="private-data-label">Старый пароль</div>#}
{#                            <input type="password" name="old-password" />#}
{#                        </div>#}
{#                        <div class="private-data">#}
{#                            <div class="private-data-label">Новый пароль</div>#}
{#                            <input type="password" name="old-password" />#}
{#                        </div>#}
{#                        <div class="private-data">#}
{#                            <div class="private-data-label">Дублировать новый пароль</div>#}
{#                            <input type="password" name="old-password" />#}
{#                        </div>#}
{#                        <div class="private-data">#}
{#                            <div class="private-data-label">Часовой пояс</div>#}
{#                            <select name="timezone">#}
{#                                <option name="Moscow">Moscow</option>#}
{#                            </select>#}
{#                        </div>#}
{#                        <div class="private-data">#}
{#                            <div class="private-data-label">Имя</div>#}
{#                            <input type="text" name="old-password" />#}
{#                        </div>#}
{#                        <div class="private-data">#}
{#                            <div class="private-data-label">Фамилия</div>#}
{#                            <input type="text" name="old-password" />#}
{#                        </div>#}
{#                        <div class="private-data">#}
{#                            <div class="private-data-label">Отчество</div>#}
{#                            <input type="text" name="old-password" />#}
{#                        </div>#}
{#                        <div class="private-data">#}
{#                            <div class="private-data-label">Дата рождения</div>#}
{#                            <select name="timezone" class="private-data-day">#}
{#                                <option name="date">01</option>#}
{#                            </select>#}
{#                            <select name="timezone" class="private-data-month">#}
{#                                <option name="month">Август</option>#}
{#                            </select>#}
{#                            <select name="timezone" class="private-data-year">#}
{#                                <option name="year">2000</option>#}
{#                            </select>#}
{#                        </div>#}
{#                        <div class="private-data">#}
{#                            <div class="private-data-label">Страна, Город</div>#}
{#                            <input type="text" name="old-password" />#}
{#                        </div>#}
{#                        <div class="private-data">#}
{#                            <div class="private-data-label">Контактны телефон</div>#}
{#                            <input type="text" name="old-password" />#}
{#                        </div>#}
{#                        <input type="checkbox" checked="checked" />Получать рассылку на почту#}
{#                        <br />#}
{#                        <button class="button">Сохранить</button>#}
                    </div>
                    <div class="shadow round-10"></div>
                </div>
            {% endblock c_center %}
        </div>
        <div class="c_right c_right_private">
            {% include "private/private__right_menu.html" %}
        </div>
    </div>
{% endblock content %}
