{% extends "base.html" %}

{% block content %}
    <script type="text/javascript">
        $(function()
        {
            $(".faq-item-q").click(function()
            {

                var _this = $(this);
                var _ans = _this.parents(".faq-item").eq(0).find(".faq-item-ans");
                if (_ans.is(":visible"))
                {
                    _ans.slideUp(200);
                }
                else
                {
                    $(".faq-item-ans").slideUp(200);
                    _ans.slideDown(200);
                }
                return false;
            });
        });
    </script>
    <div class="clearfix">
        <div class="c_left">
            {% include "private/private__left_menu.html" %}
        </div>
        <div class="c_center private-data-block">
            {% block c_center %}
                <h1>Справка</h1>
                <div class="b-frame">
                    <div class="frame round-10">
                        {% for q in faqs %}
                            <div class="faq-item">
                                <div class="faq-item-q">{{ q.q }}</div>
                                <div class="faq-item-ans" style="display: none;">{{ q.ans }}</div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="shadow round-10"></div>
                </div>
            {% endblock c_center %}

        </div>
        <div class="c_right c_right_private">
            {% include "private/private__right_menu.html" %}
        </div>
    </div>
{% endblock content %}
