{% extends "base.html" %}

{% block content %}
    <div class="clearfix">
        <div class="c_left">
            {% include "private/private__left_menu.html" %}
        </div>
        <div class="c_center private-data-block">
            {% block c_center %}
                <h1>Личный кабинет</h1>
                <h3>Архив сообщений</h3>
                <div class="b-frame">
                    <div class="frame round-10">

                    {% for msg in usermessages %}
                        <div class="msg">
                            <div class="msg-date">{{ msg.ru_created }}</div>
                            <div class="msg-text">{{ msg.msg|safe }}</div>
                        </div>
                    {% endfor %}
                        {% if is_paginated %}
                            <div class="dj-pagination">
                            Страницы: <span class="page-links">
                                {% if page_obj.has_previous %}
                                    <a href="?page={{ page_obj.previous_page_number }}"><img style="margin-bottom: -5px" src="/static/psyco/img/msg-left-arr.png" /></a>
                                {% endif %}
                                {% for page in page_obj.page_range %}
                                    {% if page_obj.number == page %}
                                        <span style="font-weight: bold;">{{ page }}</span>
                                    {% else %}
                                        {% if not page %}...
                                        {% else %}
                                            <a href="?page={{ page }}">{{ page }}</a>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <a href="?page={{ page_obj.next_page_number }}"><img style="margin-bottom: -5px" src="/static/psyco/img/msg-right-arr.png" /></a>
                                {% endif %}
                            </span>
                            </div>
                        {% endif %}
                    </div>
                    <div class="shadow round-10"></div>
                </div>
            {% endblock c_center %}
        </div>
        <div class="c_right c_right_private">
            {% include "private/private__right_menu.html" %}
        </div>
    </div>
{% endblock content %}
