{% extends "base.html" %}
{% load util %}
{% block content %}
    <script type="text/javascript">
        $(function()
        {
            $(".personal-card").hide();
            $(".card-item").click(function()
            {
                $(".personal-card #personal-card-item-form").show();
                $(".personal-card .post-msg").hide();
                var url = $(this).attr('href');
                $.ajax({
                    url: url,
                    type: 'GET',
                    success: function(resp)
                    {
                        $(".personal-card .client-name").text(resp.client_name);
                        $(".personal-card .frame textarea").val(resp.info);
                        $(".personal-card #personal-card-item-form").attr('action', url);
                    }
                });
                $(".personal-card").show();
                return false;
            });
            $("#personal-card-item-form").submit(function(){
                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: $(this).serializeArray(),
                    success: function(r)
                    {
                        if (r == '1')
                        {
                            $(".personal-card #personal-card-item-form").hide();
                            $(".personal-card .post-msg").show();
                        }
                    }
                });
                return false;
            });

            $(".mode-msg-close").live('click', function()
            {
                $(".personal-card").hide();
                return false;
            });
            $("a.save-cancel").live("click", function()
            {
                $(".personal-card").hide();
                return false;
            });
        });
    </script>
    <div class="clearfix">
        <div class="c_left">
            {% include "private/private__left_menu.html" %}
        </div>
        <div class="c_center private-data-block">
            {% block c_center %}
                <h1>Личный кабинет</h1>
                <h3>Мои клиенты</h3>
                <div class="my-clients-head">
                    <div class="my-clients-filter">
                        <a href="?filter=permanent" class="{% if is_permanent_filter_active %}active{% endif %}">Постоянные клиенты</a>
                        <a href="?filter=once" class="{% if is_once_filter_active %}active{% endif %}">Одиночные обращения</a>
                        <a href="?filter=all" class="{% if is_all_filter_active %}active{% endif %}">Все</a>
                    </div>
                    <div class="my-clients-search">
                        <form method="GET">
                            <input type="text" value="{{ search_by_name }}" name="search-by-name" class="search-by-name" placeholder="Имя клиента" style="width:100px;"> <input type="submit" value="Найти!" class="button">
                        </form>
                    </div>
                </div>
                <div class="b-frame">
                    <div class="frame round-10">
                        <div class="personal-card mode-msg">
                            <a href="#" class="mode-msg-close">
                                <img src="/static/psyco/img/gray-cross.png" style="width: 20px;" width="20" />
                            </a>
                            <div class="mode-msg-title">Карточка клиента <span class="client-name"></span></div>
                            <div class="post-msg" style="display: none;">Сохранено</div>
                            <form method="POST" id="personal-card-item-form">
                                {% csrf_token %}
                                <div class="b-frame">
                                    <div class="frame round-10" >
                                        <textarea name="info" rows="7" style="width: 450px; margin: 5px;"></textarea>
                                    </div>
                                    <div class="shadow round-10"></div>
                                </div>
                                <div class="personal-card-bottom-info">Эта информация доступна только Вам</div>
                                <div class="personal-card-bottom">
                                    <input type="submit" class="button" style="border: 0px;" value="Сохранить"> <a href="#" class="button save-cancel">Отмена</a>
                                </div>
                            </form>
                        </div>
                    <div class="private-balance-body-block">
                    <table style="width: 100%;">
                        <thead>
                        <tr>
                            <td>Имя клиента</td>
                            <td>
                                <a href="?{% if sort_active and sort_last_up_active %}sort=last-down{% else %}sort=last-up{% endif %}" class="my-clients-sort-links">
                                    {% if sort_last_up_active %}
                                        <img src="/static/psyco/img/green-arrow-up.png" width="25"/>
                                    {% endif %}
                                    {% if sort_last_down_active %}
                                        <img src="/static/psyco/img/green-arrow-down.png" width="25"/>
                                    {% endif %}
                                    {% if not sort_last_up_active and not sort_last_down_active %}
                                        <img src="/static/psyco/img/gray-arrow-down.png" width="25"/>
                                    {% endif %}
                                    Последняя консультация
                                </a>
                            </td>
                            <td>
                                <a href="?{% if sort_active and sort_next_up_active %}sort=next-down{% else %}sort=next-up{% endif %}" class="my-clients-sort-links">
                                    {% if sort_next_up_active %}
                                        <img src="/static/psyco/img/green-arrow-up.png" width="25"/>
                                    {% endif %}
                                    {% if sort_next_down_active %}
                                        <img src="/static/psyco/img/green-arrow-down.png" width="25"/>
                                    {% endif %}
                                    {% if not sort_next_up_active and not sort_next_down_active %}
                                        <img src="/static/psyco/img/gray-arrow-down.png" width="25"/>
                                    {% endif %}
                                    Следующая консультация
                                </a>
                            </td>
                            <td>
                                Карточка
                            </td>
                        </tr>
                        </thead>
                        <tbody>
                            {% for client in clients %}
                                <tr>
                                    <td style="width:90px; line-height: 20px;">
                                        {% if client.first_name and client.last_name %}
                                        {{ client.first_name }} {{ client.last_name }}
                                        {% else %}
                                            {{ client.username }}
                                        {% endif %}
                                    </td>
                                    <td style="line-height: 30px;" class="last-consultation">
                                        {% if client|if_last_consultation_date:request.user %}
                                            <div class="lc-date">{% last_consultation_date expert=request.user user=client %}</div>
                                            <div class="lc-length">{% last_consultation_length expert=request.user user=client %}</div>
                                        {% else %}
                                            <div style="margin-left: -5px;">
                                                Вы еще не проводили консультаций
                                            </div>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% next_consultation_date expert=request.user user=client %}
                                    </td>
                                    <td class="img-td">
                                        {% if client|if_last_consultation_date:request.user %}
                                        <a href="/experts/personal-card-ajax/?client={{ client.pk }}" class="card-item">
                                            <img src="/static/psyco/img/card.png" />
                                        </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                        {% if is_paginated %}
                            <div class="dj-pagination">
                                Страницы: <span class="page-links">
                                {% if page_obj.has_previous %}
                                    {% if pagination_amp %}
                                        <a href="{{ full_path }}&page={{ page_obj.previous_page_number }}"><img style="margin-bottom: -5px" src="/static/psyco/img/msg-left-arr.png" /></a>
                                    {% else %}
                                        <a href="?page={{ page_obj.previous_page_number }}"><img style="margin-bottom: -5px" src="/static/psyco/img/msg-left-arr.png" /></a>
                                    {% endif %}
                                {% endif %}
                                {% for page in page_obj.page_range %}
                                    {% if page_obj.number == page %}
                                        <span style="font-weight: bold;">{{ page }}</span>
                                    {% else %}
                                        {% if not page %}...
                                        {% else %}
                                            {% if pagination_amp %}
                                                <a href="{{ full_path }}&page={{ page }}">{{ page }}</a>
                                            {% else %}
                                                <a href="?page={{ page }}">{{ page }}</a>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    {% if pagination_amp %}
                                        <a href="{{ full_path }}&page={{ page_obj.next_page_number }}"><img style="margin-bottom: -5px" src="/static/psyco/img/msg-right-arr.png" /></a>
                                    {% else %}
                                        <a href="?page={{ page_obj.next_page_number }}"><img style="margin-bottom: -5px" src="/static/psyco/img/msg-right-arr.png" /></a>
                                    {% endif %}
                                {% endif %}
                            </span>
                            </div>
                        {% endif %}
                    </div>
                    <div class="shadow round-10"></div>
                </div>

            {% endblock c_center %}
        </div>
        <div class="c_right c_right_private">
            {% include "private/private__right_menu.html" %}
        </div>
    </div>
{% endblock content %}
