<ul class="menu-list">
    <li class="menu-list__item"><a href="{% url "schedule-view" %}">Мое расписание</a></li>
    <li class="menu-list__item"><a href="{% url "consultation-view" %}">Видео-чат</a></li>

    {% if is_expert %}
        <li class="menu-list__item"><a href="{% url "balance-view" %}">Баланс и выплаты</a></li>
    {% else %}
        <li class="menu-list__item"><a href="{% url "balance-view" %}">Баланс и платежи</a></li>
    {% endif %}

    {% if is_expert %}
        <li class="menu-list__item"><a href="{% url "mode-view" %}">Рабочее время</a></li>
        <li class="menu-list__item"><a href="{% url "my-clients-view" %}">Архив клиентов</a></li>
    {% endif %}
    <li class="menu-list__item"><a href="{% url "profile-view" %}">Личные данные</a></li>
    <li class="menu-list__item"><a href="{% url "messages-view" %}">Архив сообщений</a></li>
    <li class="menu-list__item"><a href="{% if is_expert %}/faq4expert/{% else %}/faq4client/{% endif %}">Справка</a></li>
    <a href="{{ left_banner.link }}">
        {% if left_banner.image %}
            <img src="{{ MEDIA_URL }}{{ left_banner.image }}" width="211" style="margin-top: 15px;" />
        {% elif left_banner.image_link %}
            <img src="{{ MEDIA_URL }}{{ left_banner.image_link }}" width="211" style="margin-top: 15px;" />
        {% endif %}
    </a>
</ul>