{% load util %}
<div class="balanse_widget">
    <div class="balanse_date">Сегодня, {{ current_date }}</div>
    <div class="balanse_count">Мой баланс <span id="balance-money">{{ balance.sum|default:"0.0"|floatformat:"0"|intspace }}</span> р.</div>
    <a href="{% url "balance-view" %}" class="button">Подробнее</a>
    <div class="balanse_widget_shadow"></div>
</div>
{#<div class="begin">#}
{#    <a href="{% url "wizzard_step" 'category' %}">#}
{#        <img src="{{ STATIC_URL }}psyco/img/images/5.png"/>#}
{#    </a>#}
{##}
{#    <a href="{% url "wizzard_step" 'category' %}" class="round-15 begin_btn">Начать</a>#}
{#</div>#}

<div class="b-frame">
<div class="frame round-10" style="padding: 0px">
    <div class="messages">
        <div class="messages-title">Мои сообщения</div>
        {% for m in private_messages %}
            {% if is_expert %}
                <div class="message-item">{{ m.msg|truncate_expert_msg|unlinebreaksbr }}
            {% else %}
                <div class="message-item">{{ m.msg|truncatechars:"53"|unlinebreaksbr }}
            {% endif %}
            <div class="message-item-date">{{ m.created|date:"Y.m.d в H:i" }} <a href="{% url "messages-view" %}" class="message-more"></a></div>
        </div>
            {% if forloop.last %}
                <hr />
            {% endif %}
        {% endfor %}
{#        <div class="message-item">Она подтвердила, что бла бла бла#}
{#            <div class="message-item-date">01.02.03 в 16:30 <a href="#" class="message-more"></a></div>#}
{#        </div>#}
{#        <hr />#}
{#        <div class="message-item">Она подтвердила, что бла бла бла#}
{#            <div class="message-item-date">01.02.03 в 16:30 <a href="#" class="message-more"></a></div>#}
{#        </div>#}
{#        <hr />#}
{#        <div class="message-item">Она подтвердила, что бла бла бла#}
{#            <div class="message-item-date">01.02.03 в 16:30 <a href="#" class="message-more"></a></div>#}
{#        </div>#}
{#        <hr />#}
{#        <div class="message-item">Она подтвердила, что бла бла бла#}
{#            <div class="message-item-date">01.02.03 в 16:30 <a href="#" class="message-more"></a></div>#}
{#        </div>#}
        <a href="{% url "messages-view" %}" class="button next5">Все сообщения ></a>
    </div>
</div>
<div class="shadow round-10"></div>
</div>
</div>