{% extends "base.html" %}
{% load util %}
{% load thumbnail %}
{% block content %}
    <script type="text/javascript">
        $(function()
        {
            $(".order-buttons a.zakaz").click(function()
            {
                $(this).closest(".order-buttons form").find('input[name="agree"]').val('1');
                _gaq.push(['_trackEvent', 'consultation', 'approve']);
{#                ga('send', 'event', 'consultation', 'approve');#}
                yaCounter21075247.reachGoal('consultation_approve');
                $(this).closest(".order-buttons form").submit();
                return false;
            });
            $(".order-buttons a.zakaz2").click(function()
            {
                $(this).closest(".order-buttons form").find('input[name="agree"]').val('0');
                _gaq.push(['_trackEvent', 'consultation', 'reject']);
{#                ga('send', 'event', 'consultation', 'reject');#}
                yaCounter21075247.reachGoal('consultation_reject');
                $(this).closest(".order-buttons form").submit();
                return false;
            });
        });
    </script>
    <div class="clearfix">
        <div class="c_left">
            {% include "private/private__left_menu.html" %}
        </div>
        <div class="c_center private-data-block">
            {% block c_center %}
                <h1>Личный кабинет</h1>
                {% if is_expert %}
                <div class="b-frame">
                    <div class="frame round-10" style="padding: 10px;">
                    <h4 style="margin-bottom: 5px;">Заявки от клиентов <span class="order-count">({{ new_order_count }})</span></h4>
                    {% for consultation in consultations %}
                        <div class="consultation-order-item {% if forloop.counter|divisibleby:"2" %}row{% endif %}">
                            <div class="order-name-date">
                            <span style="font-weight: bold;">
                                {% if consultation.client.first_name and consultation.client.last_name %}
                                    {{ consultation.client.first_name }} {{ consultation.client.last_name }}
                                {% else %}
                                    {{ consultation.client.username }}
                                {% endif %}
                                </span>
                                {% if consultation.is_new_client %}
                                (Новый клиент)
                                {% endif %}
                                <span class="order-date">{% date_and_length_ru consultation %}</span></div>
                            {% if consultation.issue %}
                                <div style="padding: 10px">
                                    <div class="order-issue">
                                        {% if consultation.issue.parent %}
                                            {{ consultation.issue.parent|default:"" }} ->
                                        {% endif %}
                                        {{ consultation.issue|default:"" }}
                                    </div>
                                </div>
                            {% endif %}
                        <div class="order-buttons">
                            <form method="POST" action="{% url "schedule-view" %}">{% csrf_token %}
                                <input type="hidden" name="consultation" value="{{ consultation.pk }}">
                                <input type="hidden" name="agree" value="1">
                                <a href="#" class="zakaz round-15">
                                    <div  style="margin-left: -10px; line-height: 19px;">Подтвердить</div>
                                </a>
                                <a style="margin-left: 20px;" href="#" class="zakaz2 round-15">
                                    <div style="line-height: 19px;">Отказать</div>
                                </a>
                            </form>
                        </div>
                        </div>
                    {% endfor %}
                    </div>
                    <div class="shadow round-10"></div>
                </div>
                {% endif %}
                <h3>Мое расписание</h3>
                <div class="b-frame">
                    <div class="frame round-10">
                    <div class="schedule-title">
                        <a href="?year={{ prev_year }}&month={{ prev_month }}">
                            <img src="/static/psyco/img/msg-left-arr.png" /></a>
                        <span>{{ now_month_human }} {{ now_year }}</span>
                        <a href="?year={{ next_year }}&month={{ next_month }}">
                            <img src="/static/psyco/img/msg-right-arr.png" />
                        </a>
                    </div>
                        <table class="mode-table schedule">
                            <tr class="head">
                                <td></td>
                                <td><span title="Настроить расписание на все понедельники">Понедельник</span></td>
                                <td><span title="Настроить расписание на все вторники">Вторник</span></td>
                                <td><span title="Настроить расписание на все среды">Среда</span></td>
                                <td><span title="Настроить расписание на все четверги">Четверг</span></td>
                                <td><span title="Настроить расписание на все пятницы">Пятница</span></td>
                                <td><span title="Настроить расписание на все субботы">Суббота</span></td>
                                <td><span title="Настроить расписание на все воскресенья">Воскресенье</span></td>
                            </tr>
                            {% for d in calendar %}
                                {% if forloop.first %}
                                    <tr class="week-{{ d.2 }}">
                                        <td class="left-head"><div title="Настроить расписание на всю неделю">{{ d.2|add:"1" }}<br> <br>н<br>е<br>д</div></td>
                                        {% else %}
                                        {% if forloop.counter0|divisibleby:"7" %}
                                            </tr><tr class="week-{{ d.2 }}">
                                            <td class="left-head"><div class="week-config" title="Настроить расписание на всю неделю">{{ d.2|add:"1" }}<br> <br>н<br>е<br>д</div></td>
                                        {% endif %}
                                {% endif %}
                            <td {% if not d.0 %}class="invisibled" {% endif %}
                                    {% if d.1 %}
                                        style="border: 2px solid #1AB9DB; background: #F4FAFB;"
                                    {% endif %}
                                    >
                                <a href="?day={{ d.0 }}.{{ now_month }}.{{ now_year }}">
{#                                {% if d.0 %}#}
{#                                    <a href="#" style="float: right;" class="mode-config">#}
{#                                        {% if d.1 %}#}
{#                                            <img src="/static/psyco/img/green-gear.png" width="20" />#}
{#                                        {% else %}#}
{#                                            <img src="/static/psyco/img/gear.png" width="20" />#}
{#                                        {% endif %}#}
{#                                    </a>#}
{#                                {% endif %}#}
                                <span class="daynumber">{{ d.0 }}</span>
                                    <div class="schedule-img">
                                        {% if d.2 %}
                                            <img src="/static/psyco/img/done.png"/>
                                        {% endif %}
                                        {% if d.3 %}
                                            <img src="/static/psyco/img/wait.png"/>
                                        {% endif %}
                                        {% if d.4 %}
                                            <img src="/static/psyco/img/canceled.png"/>
                                        {% endif %}
{#                                        {% if d.2 == "approved" %}#}
{#                                            <img src="/static/psyco/img/done.png"/>#}
{#                                        {% endif %}#}
{#                                        {% if d.2 == "assigned" %}#}
{#                                            <img src="/static/psyco/img/wait.png"/>#}
{#                                        {% endif %}#}
                                    </div>
                            </a>
                            </td>
                            {% if forloop.last %}
                                </tr>
                            {% endif %}
                            {% endfor %}

                        </table>
{#                    <table class="schedule-table">#}
{#                        <thead>#}
{#                            <tr>#}
{#                                <td>Понедельник</td>#}
{#                                <td>Вторник</td>#}
{#                                <td>Среда</td>#}
{#                                <td>Четверг</td>#}
{#                                <td>Пятница</td>#}
{#                                <td>Суббота</td>#}
{#                                <td>Воскресенье</td>#}
{#                            </tr>#}
{#                        </thead>#}
{#                        <tbody>#}
{#                        {% for d in calendar %}#}
{#                            {% if forloop.first %}#}
{#                                <tr>#}
{#                            {% else %}#}
{#                                    {% if forloop.counter0|divisibleby:"7" %}#}
{#                                        </tr><tr>#}
{#                                    {% endif %}#}
{#                            {% endif %}#}
{#                        <td {% if not d.0 %}class="invisibled" {% endif %}#}
{#                                {% if d.1 %}#}
{#                                    style="border: 2px solid #1AB9DB; background: #F4FAFB;"#}
{#                                {% endif %}#}
{#                                >#}
{#                            <span class="daynumber">{{ d.0 }}</span>#}
{#                        <div class="schedule-img">#}
{#                            {% if d.2 == "approved" %}#}
{#                                <img src="/static/psyco/img/done.png"/>#}
{#                            {% endif %}#}
{#                            {% if d.2 == "assigned" %}#}
{#                                <img src="/static/psyco/img/wait.png"/>#}
{#                            {% endif %}#}
{#                        </div>#}
{#                        </td>#}
{#                        {% if forloop.last %}#}
{#                            </tr>#}
{#                        {% endif %}#}
{#                        {% endfor %}#}
{#                        </tbody>#}
{#                    </table>#}
                    <div class="schedule-legend">
                        <div class="schedule-legend-item">
                            <img src="/static/psyco/img/wait.png" /> Пока специалист не подтвердил, что сможет оказать услугу
                        </div>
                        <div class="schedule-legend-item">
                            <img src="/static/psyco/img/done.png" /> Cпециалист подтвердил, что сможет оказать услугу
                        </div>
                    </div>
                    <div class="schedule-order-list">
                        {% for c in cons %}
                        <div class="schedule-order-list-item">
                        {% if is_expert %}
                            {% thumbnail c.client.profile.avatar "70x88" crop="center" as im %}
                                <img src="{{ im.url }}" />
                            {% endthumbnail %}
                        {% else %}
                            {% thumbnail c.expert.expertblank.avatar "70x88" crop="center" as im %}
                                <img src="{{ im.url }}" />
                            {% endthumbnail %}
                        {% endif %}
                            <div class="schedule-order-list-item-right">
                                <div class="in-date">{% ru_strftime  format="%d %B, %A" date=c.dtstart %}</div>
                                <div class="in-time">{% ru_strftime  format="%H:%M" date=c.dtstart %}</div>
                                <div class="in-status">{% constatus c.status %}</div>
                                {% if is_expert %}
                                    {% if c.client.last_name and c.client.first_name %}
                                        <div class="in-last-name">{{ c.client.last_name }}</div>
                                        <div class="in-first-name">{{ c.client.first_name }}</div>
                                        <div class="in-middle-name">{{ c.client.middle_name }}</div>
                                    {% else %}
                                        <div class="in-last-name">{{ c.client.username }}</div>
                                    {% endif %}
                                {% else %}
                                    <a href="{% url 'expert-details' c.expert.username %}">
                                    {% if c.expert.last_name and c.expert.expertblank.first_name %}
                                        <div class="in-last-name">{{ c.expert.expertblank.last_name }}</div>
                                        <div class="in-first-name">{{ c.expert.expertblank.first_name }}</div>
                                        <div class="in-middle-name">{{ c.expert.expertblank.middle_name }}</div>
                                    {% else %}
                                        <div class="in-last-name">{{ c.expert.username }}</div>
                                    {% endif %}
                                </a>
                                {% endif %}
                            {% if not is_expert and c.comment%}
                                <div class="">
                                    {{ comment|safe }}
                                </div>
                            {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                        {% if is_paginated %}
                            <div class="dj-pagination">
                                Страницы: <span class="page-links">
                                {% if page_obj.has_previous %}
                                    <a href="{{ request.get_full_path }}&page={{ page_obj.previous_page_number }}"><img style="margin-bottom: -5px" src="/static/psyco/img/msg-left-arr.png" /></a>
                                {% endif %}
                                {% for page in page_obj.page_range %}
                                    {% if page_obj.number == page %}
                                        <span style="font-weight: bold;">{{ page }}</span>
                                    {% else %}
                                        {% if not page %}...
                                        {% else %}
                                            <a href="{{ request.get_full_path }}&page={{ page }}">{{ page }}</a>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <a href="{{ request.get_full_path }}&page={{ page_obj.next_page_number }}"><img style="margin-bottom: -5px" src="/static/psyco/img/msg-right-arr.png" /></a>
                                {% endif %}
                            </span>
                            </div>
                        {% endif %}

                    </div>
                    <div class="shadow round-10"></div>
                </div>

            {% endblock c_center %}
        </div>
        <div class="c_right c_right_private">
            {% include "private/private__right_menu.html" %}
        </div>
    </div>
{% endblock content %}
