{% if expert.expertblank.institutions %}
    <div class="education">
    {% if expert.expertblank.institutions %}
    <h4>Высшее образование</h4>
        {% for institution in expert.expertblank.institutions %}
            <b>Название ВУЗа: </b>{{ institution.instatution_name }}<br />
            <b>Специальность: </b>{{ institution.institution_specialization }}<br />
            <b>Факультет: </b>{{ institution.faculty }}<br />
            <b>Ученая степень: </b>{{ institution.degree }}<br />
            <b>Год окончания: </b>{{ institution.instatution_stop }}<br /><br />
        {% endfor %}
    {% endif %}
    {% if expert.expertblank.studycenters %}
    <h4>Учебные центры</h4>
        {% for studycenter in expert.expertblank.studycenters %}
            <b>Название учебного центра: </b>{{ studycenter.center_name }}<br />
            <b>Сведения о дипломе: </b>{{ studycenter.diploma_details }}<br /><br />
        {% endfor %}
    {% endif %}
    {% if expert.expertblank.associations %}
    <h4>Профессиональные объединения</h4>
        {% for association in expert.expertblank.associations %}
            <b>Название профессионального объединения: </b>{{ association.association_name }}<br />
            <b>Статус: </b>{{ association.status }}<br /><br />
        {% endfor %}
    {% endif %}
    </div>
{% endif %}
