{% extends 'expert_base.html' %}
{% load thumbnail %}
{% block main-content %}
    <div class="specialist">
        <div class="specialist_left">
            {% thumbnail expert.expertblank.avatar "211x250" crop="center" as im %}
                <img src="{{ im.url }}" alt="">
            {% endthumbnail %}
            Все специалисты для:
            {% for group in groups %}
                <a href="{% url 'wizzard_step' 'experts' %}?group={{ group.pk }}" class="btn btn-primary"> {{ group.for_name }}</a>
            {% endfor %}

        </div>

        <div class="specialist_center">
            <form action="/wizzard/experts/" method="post">
            <h1>{{ expert.expertblank.first_name }} {{ expert.expertblank.middle_name }} {{ expert.expertblank.last_name }}</h1>
            {% if expert.expertblank.personal %}
                <div class="quote">
                    {{ expert.expertblank.personal }}
                    <img src="{{ STATIC_URL }}psyco/img/images/skob2.png">
                </div>
            {% endif %}
                    {% csrf_token %}
                    <input type="hidden" name="wizard-current_step" value="experts" id="id_wizard-current_step">
                    <button type="submit" name="experts-expert" value="{{ expert.pk }}" class="expert-detail-order-btn round-15 begin_btn order_consult">
                        Заказать консультацию
                    </button>
            </form>

            <div class="descr">
            <b>Возраст: </b>{{ expert.expertblank.age }}<br />
            <b>Страна/Город проживания: </b>{{ expert.expertblank.country_by_code }}/{{ expert.expertblank.city }}<br />
            <b>Cтоимость консультации: </b>{{ expert.expertblank.fix }} руб.<br />
            <b>Продолжительность консультации: </b>{{ expert.expertblank.consultation_time }} мин.<br />
            </div>
            {% include "expert_details__education.html" %}
            {% include "expert_details__diploms.html" %}
            <hr />
            {% include "expert_details__specializations.html" %}

        </div>


    </div>
{% endblock main-content %}

{% block bottom-content %}
    {% include "expert_details__reviews.html" %}
    <div class="inner">
    </div>
{% endblock bottom-content %}



{% block right-column %}
{% endblock right-column %}
