{% load thumbnail %}
{% if expert.expertblank.scans.count > 0 %}

    <script type="text/javascript">
        $(function(){
            $(".preview-diplom a").fancybox();
            var diplom_length = $(".preview-diplom").length;
            $(".diploms").css({
                height: (Math.floor(diplom_length/6)+1)*100 + 'px'
            })
        });
    </script>

    <div class="diploms">
        {% for im in expert.expertblank.scans.all %}
            {% thumbnail im.get_url "70x70" crop="center" as thumb %}
                <div class="preview-diplom">
                    <a href="{{ im.get_url }}" rel="diploms">
                        <img src="{{ thumb.url }}" width="{{ thumb.x }}" height="{{ thumb.y }}" />
                    </a>
                    <div class="preview-diplom-description">
                        {{ im.text }}
                    </div>
                </div>
            {% endthumbnail %}
        {% endfor %}
    </div>
{% endif %}