<div class="item">
    <div class="i">
        <div class="info">
            <p class="info"><img style="width: 14px; margin-bottom: -4px" src="/static/psyco/img/{% if review.type == '1' %}green-plus.png{% else %}red-minus.png{% endif %}" /> <b style="padding-left: 10px; padding-right: 10px;">{{ review.client.username }}</b> {{ review.datetime|date:"d.m.Y H:i" }}</p>

            <p>{{ review.text|linebreaksbr }}</p>
        </div>
    </div>
</div>
