{% load bootstrap_tags %}
{% if comment_possible %}
<h2>Добавить отзыв</h2>
<form id="add_review" action="{% url "recal_add" %}" method="post" >
    {% csrf_token %}
    {{ recal_form|as_bootstrap }}
    <input class="btn btn-primary" type="submit" value="Добавить отзыв">
</form>
{#{% else %}#}
{#    <span>После получения консультации у специалиста, оставьте пожалуйста отзыв.</span>#}
{% endif %}