<script type="text/javascript">
    $(function(){

            var locale_datepicker = $.datepicker.regional["ru"]
            locale_datepicker.dateFormat = 'dd.mm.yy'
            $.datepicker.setDefaults(locale_datepicker);

            $(".datepicker").click(function()
            {
                var date = new Date();
                var month = date.getMonth()+1;
                var key = month + '.' + date.getFullYear();
                if (month.toString().length == 1)
                {
                    key = '0' + key;
                }
                if ($(this).hasClass("limitedpicker"))
                    loadDates(key, ".datepicker");
            });

                    $(".datepicker").each(function () {
                var el = $(this),
                        form = el.closest("form"),
                        durEl = form.find('[name="duration"]'),
                        times = form.find(".serv6")

                durEl.on("change", function () {
                    el.val("");
                    times.html("");
                });

                $(this).datepicker({
                    minDate: 0,
                    onChangeMonthYear:function(year, month){
                        if (el.hasClass('limitedpicker'))
                        {
                            var key = month.toString() + '.' + year.toString();
                            if (month.toString().length == 1)
                            {
                                key = '0' + key;
                            }
                            if (!ajax_dates[key])
                            {
                                loadDates(key, this);
                            }
                        }
                    },
                    beforeShowDay:function (date) {
                        if (el.hasClass('limitedpicker'))
                        {
                            var key = $.datepicker.formatDate('mm.yy', date);
                            var date_key = $.datepicker.formatDate('dd.mm.yy', date);
                            var inArr = $.inArray(date_key, ajax_dates[key]) >= 0;
                            return inArr ? [true, ''] : [false, ''];
                        }
                        return [true, ''];
                    },
                    onSelect: function(){
                        reloadExpertList();
                    }
                });
            })

    });
</script>

            <div class="search_spec">
            <div class="expert-filter-loader" style="display: none">
                <img src="{{ STATIC_URL }}psyco/img/loader.gif" width="30">
            </div>
            <div class="search_spec_left">
            </div>
            <div class="search_spec_right">
                <form method="GET" action="" id="expert-filter-form-id">
                {% csrf_token %}
                <div class="step3-issue-filter">
                    <span class="issue-filter-title">Проблематика: </span>
                    <div class="issue-filter-vars">
                        <label>
                            <input type="radio" name="group" value="2" {% if 2 in group_values %}checked="checked"{% endif %} />
                            <span>Взрослым</span>
                        </label>
                        <label>
                            <input type="radio" name="group" value="4" {% if 4 in group_values %}checked="checked"{% endif %} />
                            <span>Семейным парам</span>
                        </label>
                        <label>
                            <input type="radio" name="group" value="1" {% if 1 in group_values %}checked="checked"{% endif %} />
                            <span>Родителям</span>
                        </label>
                        <label>
                            <input type="radio" name="group" value="3" {% if 3 in group_values %}checked="checked"{% endif %} />
                            <span>Подросткам</span>
                        </label>
                        <label>
                            <input type="radio" name="group" value="5" {% if 5 in group_values %}checked="checked"{% endif %} />
                            <span>Организациям</span>
                        </label>
                    </div>
                </div>
                {% for n in issues %}
                <div class="step3-issue-filter issue-group" id="issue-group-{{ n.pk }}" {% if n.pk not in group_values %}style="display: none;"{% endif %}>
                    {% for nn in n.children.all %}
                        {% if n.pk == 1 %}
                            <div class="sub-issue-group">
                            <div class="sub-issue-name" style="margin-bottom: 10px; margin-top: 30px; font-style: italic;">{{ nn.name }}</div>
                            {% for nnn in nn.children.all %}
                            <label>
                                <input type="checkbox" name="issue" value="{{ nnn.pk }}" {% if nnn.pk in iss_value %}checked="checked"{% endif %} />
                                <span>{{ nnn.name }}</span>
                            </label>
                            {% endfor %}
                            </div>
                        {% else %}
                        <label>
                            <input type="checkbox" name="issue" value="{{ nn.pk }}" {% if nn.pk in iss_value %}checked="checked"{% endif %} />
                            <span>{{ nn.name }}</span>
                        </label>
                        {% endif %}
                    {% endfor %}
                </div>
                {% endfor %}
                <div class="step3-issue-filter">
                    <span class="issue-filter-title">Стоимость<br class=""/> консультации: </span>
                    <div class="issue-filter-vars">
                    <label>
                        <input type="checkbox" name="price_filter" value="-1000" {% if price_filter == '-1000' %}checked="checked" {% endif %} />
                        <span>менее 1000 р.</span>
                    </label>
                    <label>
                        <input type="checkbox" name="price_filter" value="1000-1500" {% if price_filter == '1000-1500' %}checked="checked" {% endif %} />
                        <span>1000 - 1500 р.</span>
                    </label>
                    <label>
                        <input type="checkbox" name="price_filter" value="+1500" {% if price_filter == '+1500' %}checked="checked" {% endif %}/>
                        <span>более 1500 р.</span>
                    </label>
                    </div>
                </div>
                <div class="step3-issue-filter">
                    <span class="issue-filter-title">Психолог: </span>
                    <div class="issue-filter-vars">
                    <label>
                        <input type="checkbox" name="sex" value="1" {% if '1' in sex %}checked="checked"{% endif %} />
                        <span>Только мужчина</span>
                    </label>
                    <label>
                        <input type="checkbox" name="sex" value="0" {% if '0' in sex %}checked="checked"{% endif %} />
                        <span>Только женщина</span>
                    </label>
                </div>
                </div>

                <h4>Только специалисты, готовые оказать услугу в удобное для меня время:</h4>

                    <table width="100%" cellpadding="0" cellspacing="">
                        <tr>
                            <td valign="middle">
                                с &nbsp;<input type="text" style="margin: 0px;" name="range_start" class="datepicker" value="{{ range_start }}" placeholder="DD/MM/YYYY"/> <img
                                    data-target="range_start" class="show-calendar"
                                    src="{{ STATIC_URL }}psyco/img/images/calendar.png"/> до <input class="datepicker"
                                                                                                    style="margin: 0px;"
                                                                                                    type="text"
                                                                                                    name="range_end"
                                                                                                    value="{{ range_end }}" placeholder="DD/MM/YYYY"/>
                                <img class="show-calendar" data-target="range_end"
                                     src="{{ STATIC_URL }}psyco/img/images/calendar.png"/>
                            </td>
                            <td valign="middle"><label><input {% if is_workday %}checked="checked" {% endif %} type="checkbox" name="is_workday"/> В будние</label></td>
{#                            <td align="left" style="text-align: right" valign="middle" rowspan="2"><input class="round-15" type="submit"#}
{#                                                                       id="expert-filter-btn"         value="Показать"/></td>#}
                        </tr>
                        <tr>
                            <td align="right" valign="middle" style="padding-top: 15px; width: 290px;">
                                Время консультации:&nbsp;
                                <select name="time" style="margin-right: 25px;">
                                    <option {% if time == "all" %}selected="selected"{% endif %} value="all">Любое</option>
                                    <option {% if time == "morning" %}selected="selected"{% endif %} value="morning">Утро</option>
                                    <option {% if time == "day" %}selected="selected"{% endif %} value="day">День</option>
                                    <option {% if time == "evening" %}selected="selected"{% endif %} value="evening">Вечер</option>
                                </select>
                            </td>
                            <td valign="middle"><label><input {% if is_holiday %}checked="checked" {% endif %} type="checkbox" name="is_holiday"/> В выходные</label></td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="clear"></div>
        </div>
