{% load thumbnail %}
<div class="person" {% if divi %}style="margin-right: 0px;"{% endif %}>
    {% url "expert-details" expert.username as expert_page %}

        <a class="specialist_photo_link" href="{{ expert_page }}">
            {% if expert.expertblank.avatar %}
                {% thumbnail expert.expertblank.avatar "93x108" crop="center" as im %}
                    <img class="specialist_photo" src="{{ im.url|default:"/static/psyco/img/user_no_avatar.png" }}" alt="">
                {% endthumbnail %}
            {% else %}
                    <img class="specialist_photo" src="{{ STATIC_URL }}psyco/img/user_no_avatar.png" alt="">
            {% endif %}
            {% if expert.expertblank.online %}
                <img class="status" src="{{ STATIC_URL }}psyco/img/online.png"/>
            {% endif %}
{#            <img class="specialist_info" src="{{ STATIC_URL }}psyco/img/user_icons/info.png"/>#}
                {% if expert.expertblank.for_parents %}
                    <div title="Родителям" class="for_icons" style="top: 0px; background-position: 50% 277px;"></div>
                {% else %}
                    <div title="Родителям" class="for_icons" style="top: 0px; background-position: 50% 306px;"></div>
                {% endif %}
                {% if expert.expertblank.for_adults %}
                    <div title="Взрослым" class="for_icons" style="top: 23px; background-position: 50% 103px;"></div>
                {% else %}
                    <div title="Взрослым" class="for_icons" style="top: 23px; background-position: 50% 132px;"></div>
                {% endif %}
                {% if expert.expertblank.for_teenagers %}
                    <div title="Подросткам" class="for_icons" style="top: 46px; background-position: 50% 75px;"></div>
                {% else %}
                    <div title="Подросткам" class="for_icons" style="top: 46px; background-position: 50% 45px;"></div>
                {% endif %}
                {% if expert.expertblank.for_families %}
                    <div title="Семейным парам" class="for_icons" style="top: 69px; background-position: 50% -59px;"></div>
                {% else %}
                    <div title="Семейным парам" class="for_icons" style="top: 69px; background-position: 50% -29px;"></div>
                {% endif %}
                {% if expert.expertblank.for_organizations %}
                    <div title="Организациям" class="for_icons" style="top: 92px; background-position: 50% -220px;"></div>
                {% else %}
                    <div title="Организациям" class="for_icons" style="top: 92px; background-position: 50% -192px;"></div>
                {% endif %}
        </a>
    <div class="name">
        <a href="{{ expert_page }}"></a>

        <div><b>{{ expert.expertblank.last_name }}</b></div>
        <div>{{ expert.expertblank.first_name }}</div>
        <div style="min-height: 15px">{{ expert.expertblank.middle_name }}</div>
{#        <div class="fb-count">{{ expert.recal_expert.count }}</div>#}
    </div>
    <form action="/wizzard/experts/" method="post">
        {% csrf_token %}
        <input type="hidden" name="wizard-current_step" value="experts" id="id_wizard-current_step">
        <a href="{{ expert_page }}" class="expert-list-order-btn round-15 begin_btn order_consult">
            Подробнее
        </a>
    <button type="submit" name="experts-expert" value="{{ expert.pk }}" class="expert-list-order-btn round-15 begin_btn order_consult">Консультация</button>
    </form>
{#    <div class="b-frame bubble_person">#}
{#        <div class="frame round-10">#}
{#            <div class="person_left">#}
{#                {% if expert.expertblank.avatar %}#}
{#                    {% thumbnail expert.expertblank.avatar "93x108" crop="center" as im %}#}
{#                        <a href="{{ expert_page }}">#}
{#                            <img src="{{ im.url }}" alt="">#}
{#                        </a>#}
{#                    {% endthumbnail %}#}
{#                {% else %}#}
{#                    <a href="{{ expert_page }}">#}
{#                    <img src="{{ STATIC_URL }}psyco/img/user_no_avatar.png" alt="">#}
{#                    </a>#}
{#                {% endif %}#}
{##}
{#            </div>#}
{#            <div class="person_right">#}
{##}
{##}
{#                <div>{{ expert.expertblank.personal }}</div>#}
{#                <div><b>Образование:</b> какой-то текст</div>#}
{#            </div>#}
{#            <div class="clear"></div>#}
{#            <div class="person_bottom">#}
{#                <div class="name">#}
{#                    <div><b>{{ expert.expertblank.last_name }}</b></div>#}
{#                    <div>{{ expert.expertblank.first_name }}</div>#}
{#                    <div>{{ expert.expertblank.middle_name }}</div>#}
{#                </div>#}
{#                <div class="fb-count">{{ expert.recal_expert.count }}</div>#}
{##}
{#                <form action="{% url "wizzard_step" step="experts" %}" method="post">#}
{#                    {% csrf_token %}#}
{#                    {{ wizard.management_form }}#}
{#                    <input type="hidden" name="wizard-current_step" value="experts" id="id_wizard-current_step">#}
{#                    <input type="hidden" id="id_experts-expert" name="experts-expert" value="{{ expert.id }}">#}
{#                    <button class="zakaz round-15" type="submit" name="experts-expert" value="{{ expert.id }}">#}
{#                        <div>Заказать консультацию</div>#}
{#                    </button>#}
{#                    <a href="#" class="zakaz round-15">#}
{#                        <div>Заказать консультацию</div>#}
{#                    </a>#}
{#                </form>#}
{#                <a href="{{ expert_page }}" class="read">Узнать больше <br />о специалисте</a>#}
{#                                <a href="{% url "step4" expert.expert_id %}" class="zakaz round-15">#}
{#                                    <div>Заказать консультацию</div>#}
{#                                </a>#}
{#            </div>#}
{#        </div>#}
{#        <div class="shadow round-10"></div>#}
{#    </div>#}

</div>
