{% load thumbnail %}
<div class="news_item b-frame">
    <div class="frame round-5">
        <span class="date">{{ item.datetime|date:"d.m.Y, H:i" }}</span>

    <div class="expert-block" style="float:left;">
        {% thumbnail item.expert.expertblank.avatar "200x200" as im %}
            <img src="{{ im.url }}">
        {% endthumbnail %}
        <div class="name">
            <div>
                <b>
                    {{ item.expert.expertblank.last_name }}
                </b>
            </div>
            <div>
                {{ item.expert.expertblank.first_name }}
            </div>
            <div>
                {{ item.expert.expertblank.middle_name }}
            </div>

        </div>
    </div>



        <div class="news_item_left">


            <div class="descr">{{ item.text }}</div>

        </div>

    </div>
    <div class="shadow round-5"></div>

</div>
