{% load util %}
<p class="help_spec">Специалист оказывает консультации по следующим проблемам:</p>

<script type="text/javascript">
    $(document).ready(function() {

{#        $(".RBClass").change(function()#}
{#        {#}
{#            $(".RBClass").each(function(){#}
{#                if($(this).is(":checked")){#}
{#                    $(this).next("label").addClass("RBLabelSelected");#}
{#                }else{#}
{#                    $(this).next("label").removeClass("RBLabelSelected");#}
{#                }#}
{#            });#}
{#        });#}

        $('.rb-issue').click(function()
        {
            $('#expert_issue_id').val($(this).val());
        });
        $('.help_spec_check div').css('min-height', $('#help_spec_head li:first').height()*$('#help_spec_head li').length);
        $('.help_spec_check').css('min-height', $('#help_spec_head li:first').height()*$('#help_spec_head li').length);
        {% if not cur_issue %}
            $("ul#help_spec_head li.active a").click();
            $(".help_spec_check table:visible tr td input:first").click();
        {% endif %}

        $("#add-expert-recal-form").submit(function()
        {
            if (!$('input[name="recal_type"]').is(":checked"))
            {
                $(".err-msgs").text("Этот отзыв положительный или отрицательный?")
                return false;
            }
            if ($('#add-expert-recal-textarea').val() == '')
            {
                $(".err-msgs").text("Введите текст отзыва");
                return false;
            }
            if ($('#add-expert-recal-textarea').val().length > 1000)
            {
                $(".err-msgs").text("Пожалуйста, введите не более 1000 знаков");
                return false;
            }
        });
    });
</script>

<div class="help_spec_cont clearfix">


    <div class="b-frame">
        <ul id="help_spec_head">
            {% for issue in expert.expertblank.issues.all %}
                {% if issue.level == 0 %}
                    {% if cur_issue %}
                        <li {% if cur_issue.parent.pk == issue.pk %}class="active"{% endif %}><a href="#"  data-category-id="{{ issue.id }}">{{ issue.name }}</a></li>
                    {% else %}
                        <li {% if forloop.counter0 == 0 %}class="active"{% endif %}><a href="#"  data-category-id="{{ issue.id }}">{{ issue.name }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
        <div class="frame round-10 help_spec_check">
            {% for issue in expert.expertblank.issues.all %}
                {% if issue.level == 0 %}
                    {% if cur_issue %}
                        <div {% if issue.pk != cur_issue.parent.pk %}style="display:none;"{% endif %}>
                    {% else %}
                        <div {% if forloop.counter0 != 0 %}style="display:none;"{% endif %}>
                    {% endif %}
                    <table width="100%" >
                    <tbody>
                    {% if issue.pk == 1 %}
                        {% for k,v in wizzard_groups.items %}
                            <tr>
                                <td class="expert_detail_group_label">{{ k }}</td>
                            </tr>
                            {% for child_issue in v %}
                                <tr>
                                <td>
{#                                    <input {% if cur_issue and cur_issue.pk == child_issue.pk %}checked="checked"{% endif %}#}
{#                                           type="radio" class="rb-issue RBClass" name="issue" value="{{ child_issue.id }}" id="rb-{{ child_issue.pk }}">#}
                                    <label for="rb-{{ child_issue.pk }}" class="">
                                        {% wizzard_group_name child_issue.name %}
                                    </label>
                                </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    {% else %}
                        {% for child_issue in expert.expertblank.issues.all %}
                            {% if child_issue.parent.id == issue.id %}
                                <tr>
                                    <td>
{#                                        <input {% if cur_issue and cur_issue.pk == child_issue.pk %}checked="checked"{% endif %} id="rb-{{ child_issue.pk }}" type="radio" class="rb-issue RBClass" name="issue" value="{{ child_issue.id }}">#}
                                        <label class="" for="rb-{{ child_issue.pk }}">{{ child_issue.name }}</label>
                                    </td>
    {#                                <td><label><input type="checkbox"></label>раздражительность</td>#}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    </tbody>
                    </table>
                    </div>
                {% endif %}
            {% endfor %}

        </div>
{#        <div class="shadow round-10"></div>#}
    </div>

    {#                {% url "step4" expert.id %}#}
{#    <a href="#" class="zakaz round-20 order-btn">#}
{#        <div>Заказать консультацию</div>#}
{#    </a>#}
    <div class="clearfix" style="clear: both;">
        <form method="post" action="{% url "wizzard_step" step="experts" %}" id="expert-detail-consultation-form">
            {% csrf_token %}
            {{ wizard.management_form }}
            <input type="hidden" id="id_wizard-current_step" value="experts" name="wizard-current_step">
{#            <input type="hidden" value="time" name="wizard_goto_step">#}

            <input value="{{ cur_issue.parent.pk }}" type="hidden" name="category-category" id="category">
            <input value="{{ cur_issue.pk }}" type="hidden" name="issue-issue" id="expert_issue_id" />
            <input type="hidden" value="{{ expert.id }}" name="experts-expert" id="id_experts-expert">

{#            <input type="submit" value="Заказать консультацию" class="btn btn-primary">#}
{#            <button id="order-spec-btn" class="zakaz round-15" type="submit" style="float: none;">#}
            </button>

        </form>
        <form action="/wizzard/experts/" method="post">{% csrf_token %}
            <button type="submit" name="experts-expert" value="{{ expert.pk }}" class="expert-detail-order-btn round-15 begin_btn order_consult">
                Заказать консультацию
            </button>
        </form>
    </div>

    {% if is_visible_add_recal_form %}
    <div class="clearfix add-expert-recal">
        <form id="add-expert-recal-form" method="POST">
            {% csrf_token %}
            <h2>Добавить отзыв</h2>
            <input type="radio" name="recal_type" value="1"><img src="/static/psyco/img/green-plus.png">
            <input type="radio" name="recal_type" value="0"><img src="/static/psyco/img/red-minus.png"><br/>
            <textarea name="recal_text" id="add-expert-recal-textarea"></textarea><br/>
            <div><span class="err-msgs"></span></div>
            <input type="submit" value="Отправить" class="btn btn-primary">
        </form>
    </div>
    {% endif %}
</div>
</div>