{% extends 'expert_base.html' %}

{% block title %}
    Психологи специалисты
{% endblock %}

{% block right-column %}
        <div class="main_right">
            <div class="ask-expert-banner ask-expert">
                <div style="text-align: center">
                    <img src="{{ STATIC_URL }}psyco/img/question-icon-2.png" />
                </div>
                <div class="ask-expert-title">Бесплатный вопрос психологу</div>
                <textarea></textarea>
                <div>
                    <button class="round-15 begin_btn">Задать</button>
                </div>
            </div>

        </div>
{% endblock %}

{% block main-content %}
    <script type="text/javascript">
        $(function()
        {
            $('.expert-filter input[type="radio"]').click(function()
            {
                if ($(this).attr('id') != 'expert-filter-0')
                    location.href=location.pathname + '?filter=' + $(this).attr('id').split('expert-filter-')[1];
                else
                    location.href=location.pathname;
            });
        });
    </script>
    <div class="kabinet specialist_list">
        <h1>Специалисты</h1 >

        {% include 'expert_filter.html' %}

        {% if experts %}
            <div class="person_cont">
                {% for expert in experts %}
                    {% include "expert_list__item.html"  %}
                {% endfor %}
            </div>
            {% if is_paginated %}
                <div class="dj-pagination">
                    Страницы: <span class="page-links">
                                {% if page_obj.has_previous %}
                                    {% if pagination_amp %}
                                        <a href="{{ full_path }}&page={{ page_obj.previous_page_number }}"><img style="margin-bottom: -5px" src="/static/psyco/img/msg-left-arr.png" /></a>
                                    {% else %}
                                        <a href="?page={{ page_obj.previous_page_number }}"><img style="margin-bottom: -5px" src="/static/psyco/img/msg-left-arr.png" /></a>
                                    {% endif %}
                                {% endif %}
                    {% for page in page_obj.page_range %}
                        {% if page_obj.number == page %}
                            <span style="font-weight: bold;">{{ page }}</span>
                        {% else %}
                            {% if not page %}...
                            {% else %}
                                {% if pagination_amp %}
                                    <a href="{{ full_path }}&page={{ page }}">{{ page }}</a>
                                {% else %}
                                    <a href="?page={{ page }}">{{ page }}</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        {% if pagination_amp %}
                            <a href="{{ full_path }}&page={{ page_obj.next_page_number }}"><img style="margin-bottom: -5px" src="/static/psyco/img/msg-right-arr.png" /></a>
                        {% else %}
                            <a href="?page={{ page_obj.next_page_number }}"><img style="margin-bottom: -5px" src="/static/psyco/img/msg-right-arr.png" /></a>
                        {% endif %}
                    {% endif %}
                            </span>
                </div>
            {% endif %}
        {% else %}
            <p>Пока в нашей базе нет специалистов.</p>
        {% endif %}
    </div>


{% endblock main-content %}
