{% if recals %}
    <div class="b-incut">
        <div class="top"></div>
    <div class="incut">
        <div class="inner">
            <div class="b-comments">
                {#    <a href="#" class="otzyv">Еще 12 отзывов о специалисте</a>#}

                <h2>Отзывы о специалисте</h2>

                <div class="clear"></div>
                <div class="list">
                    {% for review in recals %}
                        {% include "expert_details__reviews__item.html" %}
                    {% endfor %}
                </div>
                <!-- /b-faq -->
            </div>
        </div>
    </div>
        <div class="bottom"></div>
    </div>
{% endif %}