<script type="text/javascript">
    function cloneMore(selector, type) {
        var newElement = $(selector).clone(true);
        var total = $('#id_' + type + '-TOTAL_FORMS').val();
        newElement.find(':input').each(function() {
            var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
            var id = 'id_' + name;
            var val = $(this).val();
            $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
            if (name.indexOf('expertblank') != -1)
            {
                $(this).val(val);
            }
        });
        newElement.find('label').each(function() {
            var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
            $(this).attr('for', newFor);
        });
        total++;
        $('#id_' + type + '-TOTAL_FORMS').val(total);
        $(selector).after(newElement);
    }
    $(function()
    {
        $('#add_more_institution').click(function() {
            cloneMore('div.institution-form-block:last', 'institution');
            return false;
        });
        $('#add_more_studycenter').click(function() {
            cloneMore('div.studycenter-form-block:last', 'studycenter');
            return false;
        });
        $('#add_more_association').click(function() {
            cloneMore('div.association-form-block:last', 'association');
            return false;
        });
    })
</script>

<form method="POST" style="padding-left: 20px;">{% csrf_token %}
    <input type="hidden" name="private-data-type" value="education" />
    <p style="font-weight: bold; font-size: 16px;margin-top: 30px;">Сведения о высшем профессиональном образовании</p>
    {{ education_institute_formset.management_form }}
    {% for edu_form in education_institute_formset %}
        <div class="institution-form-block">
        {% for field in edu_form %}
                <div class="private-data">
                    {% if not field.is_hidden %}
                    <div class="private-data-label">{{ field.label }}</div>
                    {% endif %}
                    {{ field }}
                </div>
        {% endfor %}
        </div>
        {% if not forloop.last %}
        <hr />
        {% endif %}
    {% endfor %}
    <a href="#" id="add_more_institution">Добавить ещё</a>
    <p style="font-weight: bold; font-size: 16px;margin-top: 30px;">Сведения о дополнительном образовании</p>
    {{ education_studycenter_formset.management_form }}
    {% for form in education_studycenter_formset.forms %}
        <div class="studycenter-form-block">
        {% for field in form %}
                <div class="private-data">
                    {% if not field.is_hidden %}
                    <div class="private-data-label">{{ field.label }}</div>
                    {% endif %}
                    {{ field }}
                </div>
        {% endfor %}
        </div>
        {% if not forloop.last %}
        <hr />
        {% endif %}
    {% endfor %}
    <a href="#" id="add_more_studycenter">Добавить ещё</a>
    <p style="font-weight: bold; font-size: 16px;margin-top: 30px;">Членство в профессиональных объединениях</p>
    {{ education_association_formset.management_form }}
    {% for form in education_association_formset %}
        <div class="association-form-block">
        {% for field in form %}
                <div class="private-data">
                    {% if not field.is_hidden %}
                        <div class="private-data-label">{{ field.label }}</div>
                    {% endif %}
                    {{ field }}
                </div>
        {% endfor %}
        </div>
        {% if not forloop.last %}
        <hr />
        {% endif %}
    {% endfor %}
    <a href="#" id="add_more_association">Добавить ещё</a>

    <p>
        <input type="submit" value="Отправить на модерацию" class="button private-submit" />
    </p>
</form>
