<form method="POST" id="expert-login-data-form">{% csrf_token %}
    <input type="hidden" name="private-data-type" value="login" />
    <div class="private-data">
        <div class="private-data-label">Имя пользователя</div>
        <a href="#">{{ user }}</a>
    </div>
    <div class="private-data">
        <div class="private-data-label">E-mail</div>
        {{ profile_edit_form.email }}
    </div>
    <div class="private-data">
        <div class="private-data-label">Контактный телефон</div>
        {{ profile_edit_form.phone }}
    </div>
    <div class="private-data">
        <div class="private-data-label">Продолжительность консультации</div>
        {{ profile_edit_form.consultation_time }}
    </div>
    <div class="private-data">
        <div class="private-data-label">Ваша ставка за консультацию</div>
        {{ profile_edit_form.fix }}
    </div>
    <div class="private-data-label-block">
        <div class="private-data">
            <div class="private-data-label">Старый пароль</div>
            {{ profile_edit_form.old_password }}
        </div>
        <div class="private-data">
            <div class="private-data-label">Новый пароль</div>
            {{ profile_edit_form.new_password }}
        </div>
        <div class="private-data">
            <div class="private-data-label">Дублировать новый пароль</div>
            {{ profile_edit_form.repeat_new_password }}
        </div>
    </div>
    <div class="private-data-label-block">
        <div class="private-data-bottom client-profile">
            {{ profile_edit_form.subscribe }}Получать рассылку на почту
            <br />
            <input type="submit" class="button private-submit" value="Сохранить">
        </div>
    </div>
</form>