<script type="text/javascript">
    $(function(){
        $(".add-diplom-scan-block").click(function()
        {
            var new_block = $("#diplom-scan-block").clone();
            var new_rel = $(this).attr('rel');
            new_rel = parseInt(new_rel) + 1;
            $(this).attr('rel', new_rel);
            new_block.find('textarea').val('');
            new_block.find('textarea').attr('name', 'diplom-scan-text-'+new_rel);
            new_block.find('input[type="file"]').val('');
            new_block.find('input[type="file"]').attr('name', 'diplom-scan-file-'+new_rel);
            new_block.find('img').hide();
            $("#diplom-scan-block").after(new_block);
            return false;
        });
    });
</script>
<form method="POST" enctype="multipart/form-data">{% csrf_token %}
    <input type="hidden" name="private-data-type" value="private" />
    <div class="private-data-label-block private-data-send-me-q">
        <div class="private-data">
            {{ profile_edit_form.send_me_q }}Получать вопросы от клиентов
        </div>
    </div>
    <div class="private-data">
        <div class="private-data-label">Фотография</div>
        <div class="private-data-photo">
            <img width="100" src="{{ MEDIA_URL }}{{ user.expertblank.avatar }}" />
        </div>
        {{ profile_edit_form.photo }}
    </div>
    {% for scan in user.expertblank.scans.all %}
        <div class="private-data">
            <div class="private-data-label">Скан диплома или сертификата</div>
            <div class="private-data-photo">
                <img width="100" height="100" src="/{{ scan.scan }}" style="float: left;" />
            </div>
            <textarea style="margin-left: 10px; height: 114px;" cols="20" rows="5" placeholder="Загрузите скан диплома о высшем психологическом образовании">{{ scan.text|default:'' }}</textarea>
        </div>
    {% endfor %}
    <div class="private-data" id="diplom-scan-block">
        <div class="private-data-label">Скан диплома или сертификата</div>
        <input type="file" name="diplom-scan-file-1"/>
        <textarea cols="20" rows="5" name="diplom-scan-text-1" placeholder="Загрузите скан диплома о высшем психологическом образовании"></textarea>
    </div>
    <a href="#" class="add-diplom-scan-block" rel="1" style="margin-left: 15px; line-height: 50px;">Загрузить ещё один</a>
    <div class="private-data-label-block">
        <div class="private-data">
            <div class="private-data-label">Фамилия</div>
            {{ profile_edit_form.surname }}
        </div>
        <div class="private-data">
            <div class="private-data-label">Имя</div>
            {{ profile_edit_form.name }}
        </div>
        <div class="private-data">
            <div class="private-data-label">Отчество</div>
            {{ profile_edit_form.middlename }}
        </div>
        <div class="private-data">
            <div class="private-data-label">Дата рождения</div>
            {{ profile_edit_form.birth_day }}
            {{ profile_edit_form.birth_month }}
            {{ profile_edit_form.birth_year }}
        </div>
    </div>
    <div class="private-data">
        <div class="private-data-label">О себе</div>
        {{ profile_edit_form.about }}
    </div>
    <div class="private-data-label-block">
        <div class="private-data">
            <div class="private-data-label">Страна проживания</div>
            {{ profile_edit_form.country }}
        </div>
        <div class="private-data">
            <div class="private-data-label">Город проживания</div>
            {{ profile_edit_form.city }}
        </div>
        <div class="private-data">
            <div class="private-data-label">Часовой пояс</div>
            {{ profile_edit_form.timezone }}
        </div>
    </div>
{#    <div class="private-data-label-block">#}
{#        <div class="private-data">#}
{#            {{ profile_edit_form.free_consult }}Предоставлять 10 минут бесплатно#}
{#        </div>#}
{#    </div>#}
    <div class="private-data-bottom">
        <input type="submit" class="button private-submit" value="Отправить на модерацию">
    </div>
</form>
