<script type="text/javascript">
    $(function()
    {
        $(".main-issues").click(
                function(e){
                    if (!$(this).is(":checked"))
                    {
                        $(this).attr("checked", false);
                        $("#subchilds-issues-"+$(this).val() + " input").attr("checked", false);
                    }
                    else
                    {
                        $(this).attr("checked", true);
                        $("#subchilds-issues-"+$(this).val() + " input").attr("checked", true);
                    }
{#                    return e.preventDefault();#}
                }
        );
        $(".subchilds-issues input").click(function()
        {
            var id = $(this).parents(".subchilds-issues").eq(0).attr("id").split("subchilds-issues-")[1];
            if (!$("#iss_" + id).is(":checked"))
            {
                $("#iss_" + id).attr("checked", true);
            }
        });
    });
</script>

<form method="POST" style="padding-left: 20px;">{% csrf_token %}
    <input type="hidden" name="private-data-type" value="problems" />
    {% for iss in issues %}
        <label for="iss_{{ iss.pk }}">
        <input class="main-issues" type="checkbox" name="issue" value="{{ iss.pk }}" id="iss_{{ iss.pk }}" {% if iss.pk in user_issues %}checked="checked" {% endif %}>
        {{ iss.name }}
        </label>
        <div class="subchilds-issues" id="subchilds-issues-{{ iss.pk }}">
        {% for iss in iss.children.all %}
            <label for="iss_{{ iss.pk }}" style="padding-left: 20px;">
                <input type="checkbox" name="issue" value="{{ iss.pk }}" id="iss_{{ iss.pk }}" {% if iss.pk in user_issues %}checked="checked" {% endif %}>
                {{ iss.name }}
            </label>
        {% endfor %}
        </div>
    {% endfor %}
{#    {{ profile_edit_form.problems }}#}
    <div class="private-data-bottom">
        <input type="submit" class="button private-submit" value="Отправить на модерацию">
    </div>
</form>
