{% if last_forum_posts %}
    <h2>Последние посты</h2>
    <table class="table table-striped table-bordered">
        <tr>
            <th>Пост</th>
            <th>Дата создания</th>
            <th>Топик</th>
            <th>Пользователь</th>
        </tr>
        {% for post in last_forum_posts %}
            <tr>
                <td><a href={{ post.get_absolute_url }}>{{ post.body|truncatewords_html:10 }}</a></td>
                <td>{{ post.created }}</td>
                <td><a href="{{ post.topic.get_absolute_url }}">{{ post.topic }}</a></td>
                <td>{{ post.user }} </td>
            </tr>
            <p></p>
        {% endfor %}
    </table>
    <hr>
{% endif %}