{% if last_forum_topics %}
    <h2>Последние топики</h2>
    <table class="table table-striped table-bordered">
        <tr>
            <th>Топик</th>
            <th>Форум</th>
            <th>Дата создания</th>
            <th>Количество постов</th>
        </tr>
        {% for topic in last_forum_topics %}
            <tr>
                <td><a href={{ topic.get_absolute_url }}>{{ topic.name }}</a></td> <td><a href="{{ topic.forum.get_absolute_url }}">{{ topic.forum }}</a></td>
                <td>{{ topic.created }}</td> <td>{{ topic.post_count }}</td>
            </tr>
        {% endfor %}
    </table>
    <hr>
{% endif %}