<h2>Редактирование профиля</h2>
<form id="profile_edit" target="" method="post" enctype='multipart/form-data'>
    {% csrf_token %}
    {#                {{ profile_edit_form|as_bootstrap }}#}

    {% if profile_edit_form.non_field_errors %}
        <div class="alert alert-error">
            {% if form_error_title %}
                <strong>{{ form_error_title }}</strong>
            {% endif %}
            {% for error in profile_edit_form.non_field_errors %}
                {{ error }}<br/>
            {% endfor %}
        </div>
    {% endif %}

    {% for field in profile_edit_form %}
        {% if field.name == "avatar" %}
            {% include "bootstrap/img_field.html" %}



        {% else %}
            {% include "bootstrap/field.html" %}
        {% endif %}
    {% endfor %}


    <hr>
    <input class="btn btn-primary" type="submit" value="Сохранить">
</form>