{% if consultations %}
    <h2>Консультации</h2>
    <table class="table table-striped table-bordered">
        <tr>
            <th>Статус</th>
            <th>Дата</th>
            <th>Тип</th>
            <th>Клиент</th>
        </tr>
        {% for consultation in consultations %}
            <tr>
                <td><a href="{{ consultation.get_absolute_url }}">{{ consultation.status }}</a></td>
                <td>{{ consultation.dtstart }}</td>
                <td>{{ consultation.type_tag }}</td>
                <td>{{ consultation.client }}</td>
            </tr>
        {% endfor %}
    </table>
    <hr>
{% endif %}