{% extends 'base.html' %}

{% block main-content %}
    <div class="expert-question">
        <div class="expert-question-block">
            <div class="expert-question-block-author">От: {{ question.user.username }}</div>
            Вопрос: {{ question.text }}
        </div>
        {% for a in question.get_answers %}
            <div class="expert-question-answer">
                <div class="expert-question-answer-title">
                    <a href="{% url 'expert-details' a.expert.username %}">{{ a.expert.first_name }} {{ a.expert.last_name }}</a>
                </div>
                <div class="expert-question-answer-body">
                    {{ a.text }}
                </div>
            </div>
        {% endfor %}
        <div class="expert-question-answer-form">
            <form method="POST" action="">
                {% csrf_token %}
                {{ answer_form.text }}
                <button class="btn btn-primary">Ответить</button>
            </form>
        </div>
    </div>
{% endblock %}