{% extends 'base.html' %}

{% load thumbnail %}

{% block main-content %}
    <h1 class="eq-h1">Советы психологов</h1> <a href="#" class="eq-link ask-expert pull-right">Задать вопрос психологам</a>
    <div class="clear"></div>
    {% for eq in expert_questions %}
        <div class="expert-question {% if active_question != eq.pk %}closed{% endif %}">
            <a name="{{ eq.pk }}"></a>
            <h2 class="eq-title">{{ eq.title }}</h2>
            <div class="eq-issue-name">Категория: {{ eq.issue.name }}</div>
            <div class="eq-desc">{{ eq.text }}</div>
            <a href="#" class="read-more">Подробнее</a>
            {% if eq.answers.count %}
            <div class="eq-answers">
                <div class="eq-ans-title">Ответы психологов <a href="#" class="ask-expert eq-ask-expert-link"><img
                        src="{{ STATIC_URL }}psyco/img/question-icon-2.png" /> Задать вопрос</a>
                        <a href="{% url 'expert-list' %}" class="expert-detail-order-btn round-15 begin_btn order_consult order_consult_in_news" style="display: inline-block;margin-left: 20px;text-transform: none;">
                            Подобрать психолога
                        </a>
                </div>
                {% for ans in eq.get_answers %}
                    {% thumbnail ans.expert.expertblank.avatar "93x108" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.weight }}" height="{{ im.height }}" />
                    {% endthumbnail %}
                    <div class="eq-ans-desc">
                        <div class="eq-ans-expert">{{ ans.expert.expertblank.last_name }} {{ ans.expert.expertblank.first_name }} {{ ans.expert.expertblank.middle_name }}</div>
                        {% if ans.expert %}
                            <a href="{% url 'expert-details' ans.expert.username %}" class="expert-detail-order-btn round-15 begin_btn order_consult">
                                Подробнее
                            </a>
                        {% endif %}
                        <div class="eq-ans-text">
                            {{ ans.text }}
                        </div>
                    </div>
                    <div class="clear"></div>
                {% endfor %}
            </div>
            {% endif %}
                {% if request.user.expertblank %}
                    <div class="expert-question-answer-form-block">
                    <div class="eq-form-title">
                        Ваш ответ:
                    </div>
                        <form method="POST" action="">
                            {% csrf_token %}
                            <input type="hidden" name="question" value="{{ eq.pk }}" />
                            {{ answer_form.text }}
                            <p>
                                <button class="btn btn-primary pull-right">Ответить</button>
                            </p>
                            <div class="clear"></div>
                        </form>
                    </div>
                {% endif %}
        </div>
    {% endfor %}
{% endblock %}