//
// Breadcrumbs
// --------------------------------------------------


.breadcrumb {
  padding: 8px 15px;
  //margin: 0 0 $baseLineHeight;
  list-style: none;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  @include ctb-border-radius($baseBorderRadius);
  li {
    display: inline-block;
    @include ctb-ie7-inline-block();
    text-shadow: 0 1px 0 $white;
  }
  .divider {
    padding: 0 5px;
    color: #ccc;
  }
  .active {
    color: $grayLight;
  }
}
