{% extends "registration/registration_base.html" %}
{% block title %}Активация завершена{% endblock %}
{% block main-content %}
    {% if request.session.redirect_to_pay %}
        <script>
            location.href = '/wizzard/pay/';
        </script>
    {% endif %}
Спасибо, активация завершена!  Вы можете сейчас <a href='{% url "auth_login" %}'>войти</a> используя имя пользователя и
    пароль, которые вы установите при регистрации.
{% endblock %}


