{% extends "registration/registration_base.html" %}
{% load ulogin_tags %}

{% block title %}Авторизация{% endblock %}
{% block main-content %}
    <h1>Авторизация</h1>
    <div class="b-frame">
    <div class="frame round-10">
    {% ulogin_widget %}
    {% if form.errors %}
        <p>Ваше имя пользователя и пароль не совпадают. Пожалуйста, попробуйте еще раз.</p>
    {% endif %}

    {% include "form.html" with submit_text="Войти" next="/accounts/schedule/" %}

    <p><a href="{% url "auth_password_reset" %}">Забыли пароль?</a> <a
            href="{% url "registration_register" %}">Регистрация?</a></p>


    </div>
        <div class="shadow round-5"></div>
    </div>

{% endblock %}
