{% extends "registration/registration_base.html" %}
{% block title %}Пароль сброшен{% endblock %}
{% block main-content %}
    <h1>Пароль сброшен</h1>
    <div class="b-frame">
        <div class="frame round-10">
            <p>
                Мы отправили вам письмо с ссылкой для восстановления пароля. Пожалуйста, проверьте свою электронную почту и нажмите на ссылку, чтобы продолжить.
            </p>
        </div>
        <div class="shadow round-5"></div>
    </div>
{% endblock %}
