{% extends "registration/registration_base.html" %}
{% block title %}Пароль изменён{% endblock %}
{% block main-content %}
    <h1>Пароль изменён</h1>
    <p>Пароль успешно изменен!</p>
{% endblock %}

