{% extends "registration/registration_base.html" %}
{% block title %}Сброс пароля{% endblock %}
{% block main-content %}
    <h1>Сброс пароля</h1>
    <div class="b-frame">
    <div class="frame round-10">
    <p>Забыли пароль? Введите адрес электронной почты в форму ниже, и мы вышлем вам инструкции по созданию нового.</p>
    {% include "form.html" with submit_text="Восстановить мой пароль" %}
    </div>
        <div class="shadow round-5"></div>
    </div>
{% endblock %}
