{% extends "registration/registration_base.html" %}
{% block title %}Подтверждение сброса пароля{% endblock %}
{% block main-content %}
    <h1>Сброс пароля</h1>
    <div class="b-frame">
    <div class="frame round-10">
    <p>Введите новый пароль ниже, чтобы сбросить пароль:</p>
    {% include "form.html" with submit_text="Сменить мой пароль" %}
    </div>
        <div class="shadow round-5"></div>
    </div>
{% endblock %}
