{% extends "registration/registration_base.html" %}
{% block title %}Сброс пароля завершён{% endblock %}
{% block main-content %}
    <h1>Сброс пароля завершён</h1>
    <div class="b-frame">
        <div class="frame round-10">
            <p>Ваш пароль был сброшен! Теперь Вы можете <a href="{{ login_url }}"> войти </a>.</p>
        </div>
        <div class="shadow round-5"></div>
    </div>
{% endblock %}
