{% extends 'base.html' %}

{% load i18n bootstrap_tags %}
{% load ulogin_tags %}
{% load widget_tweaks %}

{% block title %}Авторизация и регистрация{% endblock %}
{% block main-content %}

{#    <h1>Регистрация</h1>#}
    <div class="b-frame">
    <div class="frame round-10">
        <div class="login-form-step3 ">
            <div class="form-reg-title">Войдите в Личный Кабинет:</div>
            <form class="pay-login-form" method="{{ method|default:"post" }}" action="/accounts/basic/login/" {{ enctype }} autocomplete="off">
                {% csrf_token %}
                <input type="hidden" name="next" value="/" />

                {% if form.non_field_errors %}
                    <div class="alert alert-error">
                        {% for error in form.non_field_errors %}
                            {{ error }}<br />
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="control-group {{ form.username.css_classes }}">
                    <div class="controls">
                        {{ form.username|attr:"placeholder:Ваш e-mail" }}
                        {% include "bootstrap/_field_errors.html" %}
                        {% include "bootstrap/_field_help_text.html" %}
                    </div>
                </div>
                <div class="control-group {{ form.password.css_classes }}">
                    <div class="controls last-block">
                        {{ form.password|attr:"placeholder:Ваш пароль" }}
                        {% include "bootstrap/_field_errors.html" %}
                        {% include "bootstrap/_field_help_text.html" %}
                    </div>
                </div>

{#                {% for field in form %}#}
{#                    {% if field.is_hidden %}#}
{#                        {{ field }}#}
{#                    {% else %}#}
{#                        <div class="control-group {% if field.css_classes %} {{ field.css_classes }}{% endif %}">#}
{#                            <div class="controls">#}
{#                                {{ field }}#}
{#                                {% include "bootstrap/_field_errors.html" %}#}
{#                                {% include "bootstrap/_field_help_text.html" %}#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endif %}#}
{#                {% endfor %}#}

{#                {% if formset %}#}
{#                    <div class="formsets">#}
{#                        {% for form in formset %}#}
{#                            <div class="formset">#}
{#                                {{ form|as_bootstrap }}#}
{#                            </div>#}
{#                        {% endfor %}#}
{#                        {{ formset.management_form }}#}
{#                    </div>#}
{#                {% endif %}#}
                <p>
                    <a href="{% url "auth_password_reset" %}">Забыли пароль?</a>
                </p>

                <div class="form-actions" style="margin-top: 27px;">
                    <button class="btn btn-primary" type="submit">
                        {% with text=submit_text|default:"Войти" %}
                            {% blocktrans with text=text %}
                                {{ text }}
                            {% endblocktrans %}
                        {% endwith %}
                    </button>
                </div>
            </form>
        </div>
        <div class="reg-form-step3">
            <div class="form-reg-title">Зарегистрируйтесь:</div>
            <form method="POST" autocomplete="off" action="" class="free-reg">
                {% csrf_token %}
                <div>
                    {{ reg_form.username|attr:"autocomplete:off"|attr:"placeholder:Ваше имя" }}
                    <div style="display: inline-block; vertical-align: top; width: 300px; margin-top: 0; font-size: 12px;
                    color: #888;">При желании Вы можете использовать любой псевдоним, а не Ваше настоящее имя</div>
{#                    <div class="clear" style="color: #005580;font-size: 12px;margin-bottom: 29px; margin-top: -20px;">#}
{#                        английские буквы#}
{#                    </div>#}
                </div>
                <div style="margin-bottom: 0">
                    {{ reg_form.email|attr:"autocomplete:off"|attr:"placeholder:Ваш e-mail" }}
                    <div style="display: inline-block; vertical-align: top; width: 310px; margin-top: 0; font-size: 12px; color: #888;margin-bottom: 0">
                        Ваш адрес не будет опубликован на сайте и ни при каких обстоятельства не будет передан
                        третьим лицам
                    </div>
                </div>
                {% ulogin_widget %}
                <div class="form-actions">
                    <div class="reg-form-accept">
                        <input type="checkbox" required="required" class="validate[required]" /> согласен с <a href="/rules/">условиями использования сайта</a>
                    </div>
                    <button class="btn btn-primary btn-create-user">
                        Создать
                    </button>
                </div>
            </form>
        </div>
        <div style="margin-top: 30px;">
        Если вы хотите зарегистрироваться в качестве специалиста, то Вам сюда <a href="{% url "expert-registration" %}">
        <img src="/static/psyco/img/expert-reg.png" style="margin-bottom: -15px;" />
        </a>
    </div>

    </div>
    </div>
{% endblock %}
