{% extends "registration/registration_base.html" %}
{% block title %}Активация почты{% endblock %}
{% block main-content %}
    <h1>Активация почты</h1>
    <p>Пожалуйста, проверьте почту {{ email }} и следуйте инструкциям в письме. Если в течении 5 минут Вы не получите письмо с подтверждением, то проверьте папку спам, скорее всего письмо по ошибке попало туда.</p>
{% endblock %}

