{% extends "registration/registration_base.html" %}
{% load ulogin_tags %}


{% block extra_script %}
    <link rel="stylesheet" href="{{ STATIC_URL }}psyco/css/validationEngine.jquery.css" type="text/css"/>
    <script src="{{ STATIC_URL }}psyco/js/validation_engine/languages/jquery.validationEngine-ru.js"
            type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}psyco/js/validation_engine/jquery.validationEngine.js" type="text/javascript"
            charset="utf-8"></script>
    <script>
        $(document).ready(function () {
            $("#registration-form").validationEngine();
        });
    </script>

{% endblock %}

{% block title %}Регистрация{% endblock %}

{% block content %}

    <h1>Регистрация</h1>

    <div class="b-frame">
    <div class="frame round-10">
    <div style="margin-top: 30px;">
        Если вы хотите зарегистрироваться в качестве специалиста, то Вам сюда <a href="{% url "expert-registration" %}">
        <img src="/static/psyco/img/expert-reg.png" style="margin-bottom: -15px;" />
        </a>
    </div>

    <div class="register">

                <h3 style="margin-top: 20px;">Регистрация</h3>

                <form id="registration-form"  method="POST" action=''>
                    {% csrf_token %}


                    <div class="register_left">
                        {% for field in form %}
                            {% include "bootstrap/field.html" %}
{#                            <div class="line">#}
{#                                <div>{{ field.label_tag }}</div>#}
{#                                <div>{{ field }}</div>#}
{#                                <div class="error">{{ field.errors }}</div>#}
{##}
{#                            </div>#}
                        {% endfor %}

                        <div class=" agree">
                            <input class="validate[required]" type="checkbox" value="1" name="confirm"> Я согласен с условиями <a href="/rules/">Пользовательского
                            соглашения</a>
                        </div>


                        <div class="submit_but round-20">
                            <input type="submit" value="Готово">
                        </div>
                    </div>
{#                    <div class="register_right">#}
{#                        <p>При желании Вы можете использовать любой псевдоним, а не Ваше настоящее имя</p>#}
{##}
{#                        <p>Ваш адрес не будет опубликован на сайте и ни при каких обстоятельствах не будет передан#}
{#                            третьим лицам</p>#}
{##}
{#                        <p>Рекомендуем составить пароль не менее 7 знаков с использованием латинских букв и цифр</p>#}
{##}
{#                        <div class="submit_but round-20">#}
{#                            <input type="submit" value="Готово">#}
{#                        </div>#}
{#                    </div>#}
                    <div class="clear"></div>
                </form>




    </div>
        <div class="descr">
            <h3 style="margin-top: 20px;">Быстрая регистрация</h3>


            {% ulogin_widget %}

            <p>Если вы зарегистрированы на одном из этих сайтов, или у вас есть учетная запись OpenID, вы можете пройти
                быструю регистрацию.
                Для этого выберите сайт и следуйте инструкциям.</p>
        </div>
    </div>
    <div class="shadow round-10"></div>
    </div>
{% endblock %}
