{% load i18n %}
Для того, чтобы оставить комментарий <a href="{% url 'login' %}">зарегистрируйтесь или авторизуйтесь на нашем сайте</a>
{#<a href="{% url "registration_register" %}">{% trans "Register" %}</a> {% trans "or" %} <a href="{% url "auth_login" %}">{% trans "login" %}</a> {% trans "to create to post a reply" %}.#}