{% load thumbnail %}

<div class="avatar">
    <a href="
            {% if post.user.get_profile.is_expert %}
                {% url "expert-details" post.user.username %}
            {% else %}
                {{ post.user.get_profile.get_absolute_url }}
            {% endif %}
    ">
    {% thumbnail post.user.get_profile.photo "80x80" as avatar %}
        <img src="{{ avatar.url }}" alt="{{ post.user }} аватар" />
    {% empty %}
        <img src="{{PYBB_DEFAULT_AVATAR_URL}}" alt="аватар" />
    {% endthumbnail %}
    </a>
</div>
