{% extends 'pybb/base.html' %}
{% load i18n %}
{% load util %}

{% block title %}{{ PYBB_DEFAULT_TITLE }}{% endblock title %}

{% block breadcrumb %}
    {% if categories and categories|length_is:"1" and categories.0.name == 'Специалистам' and not request.user|is_expert %}
    {% else %}
        {% with extra_crumb="Forum" %}{% include "pybb/breadcrumb.html" %}{% endwith %}
    {% endif %}
{% endblock %}

{% block content %}
    {% if categories %}
        {% for category in categories %}
                {% if category.name == 'Специалистам' and categories|length_is:"1" and not request.user|is_expert %}
                    <div class="access-denied-forum">
                        Это закрытый раздел форума. Только зарегистрированных специалистов
                    </div>
                {% else %}
                    {% include 'pybb/category.html' %}
                {% endif %}
        {% endfor %}
    {% else %}
        <h2>{% trans "Forum categories are not created" %}</h2>
        <a href="{% url "admin:pybb_category_add" %}">{% trans "Add a category now" %}</a>
    {% endif %}
    {% if user.is_authenticated %}
        <div id='mark-all-as-read'>
            <a href='{% url "pybb:mark_all_as_read" %}'>
                {% trans "Mark all forums as read" %}
            </a>
        </div>
    {% endif %}
{% endblock content %}
