{% load i18n pybb_tags %}

<div class="poll">
  <h2>{% trans 'Poll' %}</h2>
  <table class="table table-bordered poll">
    <thead>
    <tr class="poll-question">
      <th colspan="2">
        {{ topic.poll_question }}
      </th>
    </tr>
    </thead>

    <tbody class="poll-answers">
    {% if request.user.is_authenticated %}
      {% if topic|pybb_topic_poll_not_voted:request.user %}
        <tr class="poll-answer-choice">
          <td>
            <form class="poll-form" action="{% url "pybb:topic_poll_vote" topic.pk %}" method="post">
              {% csrf_token %}
              {{ poll_form.answers }}
              <p class="submit">{% include "pybb/_button_submit.html" %}</p>
            </form>
          </td>
        </tr>
      {% else %}
        {% for answer in topic.poll_answers.all %}
          <tr class="poll-answer">
            <td>{{ answer }}</td>
            <td>{{ answer.votes }} ({{ answer.votes_percent }} %)</td>
          </tr>
        {% endfor %}
      {% endif %}
    {% else %}
      {% for answer in topic.poll_answers.all %}
        <tr class="poll-answer">
          <td colspan="2">{{ answer }}</td>
        </tr>
      {% endfor %}
    {% endif %}
    </tbody>
  </table>
</div>