{% load i18n pybb_tags %}
<form class="post-form" action="
    {% if forum %}
        {% url "pybb:add_topic" forum.pk %}
    {% else %}
        {% if topic %}
            {% url "pybb:add_post" topic.pk %}
        {% else %}
            {% url "pybb:edit_post" pk=object.pk %}
        {% endif %}
    {% endif %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <fieldset>
    {{ form.non_field_errors }}
    {% if form.name %} {{ form.name.errors }} {{ form.name.label_tag }} {{ form.name }} {% endif %}
    {% if form.login %} {{ form.login.errors }} {{ form.login.label_tag }} {{ form.login }}  {% endif %}
    {% if form.body %} {{ form.body.errors }} {{ form.body.label_tag }} {{ form.body }}  {% endif %}
    <div id='emoticons'>
      {% for smile, url in form.available_smiles.items %}
        <a href='#' title='{{ smile|safe }}'><img src='{{ STATIC_URL }}{{ form.smiles_prefix }}{{ url }}'></a>
      {% endfor %}
    </div>

    {% if form.poll_type %}
      {% include "pybb/poll_edit_form.html" %}
    {% endif %}
    {% include "pybb/attachments_formset.html" %}
    <p class="submit">{% include "pybb/_button_submit.html" %}</p>
  </fieldset>
</form>
