{% load comments widget_tweaks %}

<div class="comments">


{#{% get_comment_count for object as comment_count %}#}
{##}
{#<p>This event has {{ comment_count }} comments.</p>#}


{% get_comment_list for object as comment_list %}
<h3>Комментарии</h3>
{% if comment_list %}
    <dl>
    {% for comment in comment_list %}
        <dt id="c{{ comment.id }}" class="comment-info">
             {{ comment.submit_date|date:"d.m.Y H:i" }} - {{ comment.name }}
        </dt>
        <dd>
            <p>{{ comment.comment }}</p>
        </dd>
    {% endfor %}
    </dl>
{% else %}
    <p>Комментариев нет</p>
{% endif %}


{% if user.is_authenticated %}
    {% get_comment_form for object as form %}



    <form id="comment-form" class="comment-form" action="{% comment_form_target %}" method="POST">
        {% csrf_token %}
        {{ form.comment|add_class:"validate[required]" }}
        {{ form.honeypot }}
        {{ form.content_type }}
        {{ form.object_pk }}
        {{ form.timestamp }}
        {{ form.security_hash }}

        <input type="hidden" name="next" value="{% url "news-details" novelty.id %}"/>

        <button type="submit" class="btn">Добавить комментарий</button>
    </form>
{% else %}
    <p>Пожалуйста  <a href="{% url "login" %}?next={{ request.path }}">авторизуйтесь</a> для того чтобы оставить комментарий.</p>
{% endif %}

</div>
