
.b-application{
  margin:0 0 35px 0;
  font-size:13px;
  color:#414445;
}
.b-application h3{
  font-size:18px;
  color:#1a1a1a;
  font-weight:normal;
}
.b-application h3 span{
  color:#759b2f;
  font-weight:bold;
}
.b-application table{
  width:100%;
}
.b-application table td{
  padding:8px;
  text-align:left;
  vertical-align:top;
}
.b-application table tr.blue td{
  background:#eef9fd;
}
.b-application p{
  margin:0 0 5px 0!important;
}
.b-application p.name,
.b-application p.name a{
  color:#414445;
}
.b-application p.name a:hover{
  text-decoration:underline;
}
.b-application p.date{
  float:right;
  width:147px;
  padding-top:4px;
}
.b-application p.date .time{
  margin-left:10px;
}
.b-application p.breadcrumbs{
  float:left;
  font-size:11px;
  color:#414445;
  background:#fff;
  padding:0 3px;
}
.b-application p.breadcrumbs a{
  color:#414445;
  text-decoration:none;
}

.b-application sup.new,
.b-application sup.current{
  display:inline-block;
  font-size:10px;
  line-height:14px;
  height:14px;
  vertical-align:super;
  padding:0 5px;
  margin:0 5px;
  color:#fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.b-application sup.new{ background:image-url('bg/span-new.gif') 0 50% repeat-x; }
.b-application sup.current{ background:image-url('bg/span-current.gif') 0 50% repeat-x; }
.b-application .i-calendar{
  float:right;
  font-size:11px;
  color:#414445;
  font-weight:bold;
  padding-left:20px;
  background:image-url('icon/calendar.png') 0 0 no-repeat;
}
.b-application .i-history{
  display:block;
  width:145px;
  font-size:11px;
  line-height:13px;
  padding-left:20px;
  text-decoration:underline;
  background:image-url('icon/list.png') 0 50% no-repeat;
  font-style:italic;
  margin:0 auto;
}
.b-application .i-history:hover{
  text-decoration:none;
}
.b-application .button{
  margin:0 17px 0 0;
  font-size:11px;
  font-weight:bold;
}