.b-comments{ position:relative; overflow:hidden;
  //padding:0 35px;
  z-index:15; }
.b-comments h2, .b-comments .button{ margin-left:0px; margin-right:25px; }
.b-comments .line{
  overflow:hidden;
  margin:0;
}
.b-comments .line .item, .b-comments .line_vert .item, .main_left .item, .b-comments .item{
  //width:50%;
  //float:left;
  font-size:0.857em;
  line-height:130%;
}
.specialist1 .line .item{
  width:33%;
}


.b-comments .line_vert .item{
  width:100%;
}


.b-comments .line .item .i, .b-comments .item .i .b-comments .line_vert .item .i, .main_left .i{
  margin:0 25px;
  padding:0 0 5px 0;
  border:0;
}
.main_left .i{
  margin-left:0px;
}


.b-comments .line + .line .item .i{
  border-top:1px solid #d5d5d5;
  padding-top:18px;
}
.specialist .b-comments .line + .line .item .i{
  border-top:none!important;
  padding-top:18px;
}
.specialist1 .line + .line .item .i{
  border-top:none!important;
  padding-top:18px;
}
.b-comments .line .item .i .photo, .b-comments .item .i .photo{
  position:relative;
  width:110px;
  float:left;
  margin-right:10px;
}
.b-comments .line .item .i .photo p.name,
.b-comments .line_vert .item .i .photo p.name,
.b-comments .item .i .photo p.name,
.main_left p.name{
  font-size:0.917em;
  line-height:120%;
  margin-right:40px;
}
.b-comments .line .item .i .photo p.name strong,
.b-comments .line_vert .item .i .photo p.name strong,
.b-comments .item .i .photo p.name strong{
  color:#1d1d1d;
}
.b-comments .line .item .i .photo .rait,
.b-comments .line_vert .item .i .photo .rait,
,.b-comments .line_vert .item .i .photo .rait
.main_left .rait{
   position:absolute;
   right:0;
   bottom:10px;
   display:block;
   width:24px;
   height:38px;
   color:#5e8a1b;
   text-align:center;
   padding:0px 10px 0px 6px;
   font:2.000em/36px 'PFDinTextCompProMedium';
   background: image-url('bg/rait.png') 50% 50%;
 }
.b-comments .line .item .i .info,
.b-comments .line_vert .item .i .info,
.b-comments .item .i .info{
  //overflow:hidden;
  margin-bottom: 15px;
}
.b-comments .line .item .i .info strong,
.b-comments .line_vert .item .i .info strong,
.b-comments .item .i .info strong{
  color:#2f2f2f;
}
.b-comments .line .item .i p,
.b-comments .line_vert .item .i p,
.b-comments .item .i p, .main_left p{
  margin:0 0 10px 0!important;
}
.b-comments .line .item .i p.info,
.b-comments .line_vert .item .i p.info,
.b-comments .item .i p.info,
.main_left p.info{
  margin-bottom: 0 !important;
  color:#8e8e8e;
  font-size:0.917em;
}
.b-comments .line .item .i p.info em,
.b-comments .line_vert .item .i p.info em,
.main_left em, .b-comments .item .i p.info em{
  color:#565656;
}
.b-comments .line .item .i p.more a,
.b-comments .line_vert .item .i p.more a,
.main_left p.more a,
.b-comments .item .i p.more a{
  padding-right:15px;
  background: image-url('bg/more.gif') 100% 50% no-repeat;
}


#id_honeypot {
  display: none;
}

.comment-form textarea{
  height: 200px;
  line-height: 1.2;
  padding: 3px;
  width: 660px;
}

.comment-info{
  color: #888;
  font-weight: normal;
  font-size: 96%;

}

.comments{
  margin-bottom: 20px;

  dl{
    margin-bottom: 20px;
  }
  h3{
    margin-bottom: 10px;
  }
}
