.b-feedback{
  width:100%;
  display:inline-block;
}
.b-feedback .b-qna-list{
  font-size:12px;
  line-height:14px;
  width:320px;
  float:right;
  padding:0 0 0 30px;
  border-left:1px dotted #dedede;
}
.b-feedback .b-qna-list .item{
  margin:0 0 20px 0;
}
.b-feedback .b-qna-list .item a{
  font-weight:normal;
  font-size:12px;
}
.b-feedback .b-qna-list .item a:hover{
  text-decoration:underline;
}
.b-feedback .b-qna-list .item .bubble{
  position:relative;
  padding:10px 15px;
  margin:0 0 15px 0;
  background:#e6e6e6;
}
.b-feedback .b-qna-list .item .bubble span.a{
  display:block;
  position:absolute;
  line-height:0;
  font-size:0;
  width:13px;
  height:13px;
  bottom:-13px;
}
.b-feedback .b-qna-list .item .bubble.left span.a{
  left:35px;
  background:image-url('bg/arr-left.png') 0 0 no-repeat;
}
.b-feedback .b-qna-list .item .bubble.right span.a{
  right:35px;
  background:image-url('bg/arr-right.png') 0 0 no-repeat;
}
.b-feedback .form{
  width:380px;
  float:left;
  font-size:12px;
  font-weight:bold;
  color:#414445;
}
.b-feedback .form .line{
  margin:0 0 15px 0;
}
.b-feedback .form .button{
  padding:0 5px 0 0;
}
.b-feedback .form .cusel{
  width:370px!important;
  border:1px solid #aeafaf;
  border-right: 2px solid #aeafaf;
  border-bottom: 2px solid #aeafaf;
}
.b-feedback .form input[type="text"]{
  padding:0px 5px;
  margin:0;
  width:360px;
  height:23px;
  font-size:12px;
  color: #767777;
  border:1px solid #aeafaf;
  border-right: 2px solid #aeafaf;
  border-bottom: 2px solid #aeafaf;
}
.b-feedback .form textarea{
  padding:5px;
  width:360px;
  height:125px;
  font-size:12px;
  color: #767777;
  border:1px solid #aeafaf;
  border-right: 2px solid #aeafaf;
  border-bottom: 2px solid #aeafaf;
}
.b-feedback .form input[type="submit"]{
  margin:0;
  padding:0 17px 0 30px;
  height:26px;
  color:#fff;
  font:12px Arial, sans-serif;
  text-shadow:#208031 1px 1px 1px;
  background:image-url('icon/gb-arr.png') 5px 50% no-repeat;
  border:0;
  cursor:pointer;
}
.b-feedback .file{
  width:100%;
  height:40px;
  overflow:hidden;
}
.b-feedback .file #file{
  margin-top: -50px;
  margin-left:-410px;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
  opacity: 0;
  font-size: 150px;
  height: 100px;
}
.b-feedback .file .button{
  padding:0 17px;
  font-size:12px;
  float:left;
}
.b-feedback .file #name{
  float:left;
  padding:0px 5px;
  margin:0 15px 0 0;
  width:200px;
  height:23px;
  line-height:23px;
  font-size:12px;
  color: #767777;
  border:1px solid #aeafaf;
  border-right: 2px solid #aeafaf;
  border-bottom: 2px solid #aeafaf;
  overflow:hidden;
}
.b-feedback .errorlist{
  margin:0 5px 0 0
}
