.b-media{
  padding:20px 0;
}
.b-media .media{
  position:relative;
  overflow:hidden;
  padding:0 35px;
  z-index:15;
}
.b-media .media .seminar,
.b-media .media .lib{
  width:50%;
  float:left;
  clear:right;
  color:#3c3c3c;
}
.b-media .media .seminar .i,
.b-media .media .lib .i{
  margin-left:25px;
  margin-right:25px;
}

.b-media .media .seminar p{
  font-size:0.857em;
  margin:0 0 15px 0;
}
.b-media .media .seminar p.date{
  color:#606060;
  margin:0 0 5px 0;
}
.b-media .media .seminar p.title{
  font-size:1.083em;
  font-weight:bold;
}
.b-media .media .seminar .video{
  margin:0 0 20px 0;
}
.b-media .media .lib .item{
  padding:0 0 14px 0;
  margin:0 0 10px 0;
  border-bottom:1px solid #bbc6c9;
}
.b-media .media .lib .item p{
  font-size:0.857em;
  margin:0 0 10px 0;
}
.b-media .media .lib .item p.name,
.b-media .media .lib .item p.title{
  font-weight:bold;
  margin:0 0 2px 0;
  font-size:1.083em;
}
.b-media .media .lib .item p.name{
  color:#1c1c1c;
}
.b-media .media .lib .views{
  padding:2px 5px;
  font-size:0.857em;
  border:1px solid #b0b8bb;
  background:#effbff;
  color:#737373;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.b-media .media .lib .views em{
  color:#3c3c3c;
}
