
.b-schedule table{
  width:100%;
  border:1px solid #bababa;
  margin:0 0 15px 0;
}
.b-schedule table td{
  padding:15px;
  border-left:1px dotted #dedede;
  line-height:200%;
}
.b-schedule table td.date{ text-align:center; line-height:120%; }
.b-schedule table td:first-child{ border:0; }
.b-schedule table tr:first-child td{ border-top:1px solid #bababa; }
.b-schedule table td.day-schedule{ font-size:12px; }
.b-schedule table td.day-schedule .consultation-tag{ margin:0 10px; }
.b-schedule table td.clients{ font-size:13px; }
.b-schedule table td.clients img{
  vertical-align:middle;
  margin:0 0 0 5px;
}
.b-schedule table td.clients a{ color:#414445; }
.b-schedule table td.clients a:hover{ color:#2e93d2; }
.b-schedule .button{ margin:0 15px 0 0; }

.client-popup{
  position:absolute;
  display:none;
  width:380px;
  padding:20px;
  font-size:12px;
  border:2px solid #27a4c8;
  background: image-url('bg/client-popup.gif') 0 100% repeat-x #f6fafb;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  z-index:9999;
}
.client-popup em.date{ float:right; }
.client-popup strong.c{ color:#61812e; }
.client-popup a{ text-decoration:underline; }
.client-popup a:hover{ text-decoration:none; }
.client-popup p{ margin:0 0 12px 0; }
.client-popup p.head{ margin:0 0 5px 0; }
.client-popup p.title{ color:#414445; font-weight:bold; }
.client-popup p.more{ color:#414445; font-weight:bold; line-height:18px; padding:0; }
.client-popup p.more a{ padding-left:20px; background:image-url('icon/archive.png') 0 0 no-repeat; font-size:11px; color:#414445; text-decoration:none; line-height:18px; display:inline-block;}
.client-popup .close{
  position:absolute;
  display:block;
  width:10px;
  height:10px;
  top:18px;
  right:20px;
  background:image-url('icon/close.png') 0 0 no-repeat;
  cursor:pointer;
}
.client-popup .summary{
  position:relative;
  padding:15px 20px 0 20px;
  margin:0 -20px;
  border-top:1px dotted #dadcdc;
}
.client-popup .scroll{
  max-height:305px;
  overflow:auto;
  margin:0 0 15px 0;
}
.client-popup .jspVerticalBar{
  width:12px!important;
}
.client-popup .jspVerticalBar .jspTrack{
  width:12px!important;
  background: image-url('bg/jsp-pop-track.gif') 50% 0 repeat-y;
}
.client-popup .jspVerticalBar .jspDrag{
  width:12px!important;
  height:10px!important;
  left:0;
  background: image-url('bg/jsp-pop-drag.png') 50% 0 no-repeat;
}

.other-months-links{
  float:right;
  margin:0 0 18px 0;
}
.other-months-links a.button{
  margin:0 0 0 10px;
}
.i-set{
  padding:1px 0 1px /*2*/0px;
  /*background:image-url('bg/set.png') 0 50% no-repeat;*/
  font-size:11px;
}
.i-set:hover{
  font-weight:bold;
}
.b-schedule table.calendar{
  border:0;
}
.b-schedule table.calendar th{
  color: #838383;
  font-size:11px;
  font-weight:normal;
  padding:0 2px 5px 2px;
  vertical-align:middle;
}
.b-schedule .calendar-wrap{
  position:relative;
  margin:0 -10px 0 -23px;
}
.b-schedule table.calendar th span.week-day{
  display:inline-block;
  color:#838383;
  line-height:18px;
  padding:0 10px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  cursor:pointer;
}
.b-schedule table.calendar th span.week-count{
  display:block;
  width:14px;
  text-align:center;
  padding:10px 2px;
  line-height:100%;
  white-space: pre-line;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  cursor:pointer;
}
.b-schedule table.calendar th a{
  color:#838383;
}
.b-schedule table.calendar th span.week-day:hover,
.b-schedule table.calendar th span.week-count:hover{
  background:#def4fb;
  color:#262626;
}
.b-schedule table.calendar th span.week-count strong{
  display:block;
  margin:0 0 5px 0;
}
.b-schedule table.calendar th span.week-count br{
  font-size:0;
  line-height:100%;
}
.b-schedule table.calendar td{
  border:1px solid #bababa;
  color: #5e6061;
  font-size:14px;
  vertical-align:top;
  padding:0;
}
.b-schedule table.calendar td.select{
  background:#def4fb;
}
.b-schedule table.calendar td div.day{
  padding:10px;
  width:70px;
  height:70px;
  margin:0;
}
.b-schedule table.calendar td.other_month{
  border:0!important;
}
.b-schedule table.calendar td div.day span{
  float:left;
}
.b-schedule table.calendar td .settings{
  float:right;
  width:23px;
  height:24px;
  background:image-url('bg/settings.png') 0 0 no-repeat;
  overflow:hidden;
}
.b-schedule table.calendar td .settings:hover{
  background-position:0 -26px;
}
.b-schedule table.calendar td a{
  display:block;
  width:1005;
  height:100%;
}
.b-schedule table.calendar td .red{
  color: #c24563;
}

.time-popup{
  position:absolute;
  display:none;
  width:300px;
  padding:0 20px;
  font-size:12px;
  border:2px solid #27a4c8;
  background:image-url('bg/lightblue-gradient.gif') 0 100% repeat-x #f6fafb;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  z-index:9999;
}
.time-popup .close{
  position:absolute;
  display:block;
  width:10px;
  height:10px;
  top:9px;
  right:8px;
  background:image-url('icon/close.png') 0 0 no-repeat;
  cursor:pointer;
}
.time-popup p.title{
  position:relative;
  font-size:12px;
  font-weight:bold;
  color:#414445;
  padding:5px 8px;
  margin:0 -20px;
  border-bottom:1px dotted #dadcdc;
}
.time-popup p{
  margin-bottom:12px!important;
}
.time-popup .b-set-time{
  position:relative;
  overflow:hidden;
  color:#414445;
  margin:0 -10px 15px 0;
}
.time-popup .b-set-time .interval{
  width:140px;
  float:left;
  padding-right:40px;
}
.time-popup .b-set-time .info{
  overflow:hidden;
}
.time-popup .b-set-time .info p{
  font-size:11px;
  font-style:italic;
  padding-left:20px;
  background:image-url('icon/info.png') 0 50% no-repeat;
}
.time-popup .b-set-time .line{
  position:relative;
  margin:0 0 15px 0;
}
.time-popup .b-set-time .line label input{
  vertical-align:middle;
}
.time-popup .b-set-time .line .action{
  position:absolute;
  right:-13px;
  top:5px;
  width:11px;
  height:11px;
  overflow:hidden;
  cursor:pointer;
}
.time-popup .b-set-time .line .action.add{
  background:image-url('icon/add.png') 50% 50% no-repeat;
}
.time-popup .b-set-time .line .action.del{
  background:image-url('icon/del.png') 50% 50% no-repeat;
}
.time-popup .b-set-time input[type="text"],
.time-popup .b-set-time input[type="password"]{
  padding:0px;
  margin:0 5px;
  width:40px;
  height:20px;
  font-size:12px;
  color: #767777;
  border: 1px solid #aeafaf;
  border-right: 2px solid #aeafaf;
  border-bottom: 2px solid #aeafaf;
  text-align:center;
  font:12px Arial, sans-serif;
  color:#414445;
}
.time-popup .b-set-time input[type="submit"]{
  float:right;
  border:0;
  font-size:12px;
  height:28px;
  cursor:pointer;
  margin:0 5px;
}
.time-popup .b-set-time input[type="submit"]::-moz-focus-inner{
  border: 0;
  padding: 0;
}

.b-clients table{
  width:100%;
  margin:0 0 15px 0;
  border:1px solid #bababa;
  border-top:0;
}
.b-clients table th{
  font-size:12px;
  color:#494949;
  font-weight:normal;
  padding:10px;
  vertical-align:middle;
  border-left:1px solid #fff;
  border-right:1px solid #fff;
  text-align:left;
}
.b-clients table td{
  padding:10px;
  font-size:13px;
  border:1px solid #bababa;
  border-right:0;
  border-left:1px dotted #dedede;
  vertical-align:middle;
}
.b-clients table tbody tr:first-child td{
  border-bottom:0;
}
.b-clients table td a{
  color:#414445;
}
.b-clients table .detail{
  display:none;
}
.b-clients table .detail h3{
  margin:5px 0 10px 0;
}
.b-clients table .active{
  border:2px solid #27a4c8;
}
.b-clients table .active td{
  background-color:#f6fafb;
}
.b-clients table .detail td{
  background: image-url('bg/client-popup.gif') 0 100% repeat-x #f6fafb;
}
.b-clients table .detail td{
  border-top:1px dotted #dedede;
}
.b-clients table .detail h3{
  font-size:14px;
  color:#565656;
  font-weight:bold;
}
.b-clients table .detail .scroll{
  max-height:305px;
  overflow:auto;
  margin:0 0 15px 0;
  padding-right:20px;
}
.b-clients table .detail .scroll .jspVerticalBar{
  width:12px!important;
}
.b-clients table .detail .scroll .jspVerticalBar .jspTrack{
  width:12px!important;
  background: image-url('bg/jsp-pop-track.gif') 50% 0 repeat-y;
}
.b-clients table .detail .scroll .jspVerticalBar .jspDrag{
  width:12px!important;
  height:10px!important;
  left:0;
  background: image-url('bg/jsp-pop-drag.png') 50% 0 no-repeat;
}

.b-clients table .detail .item{
  overflow:hidden;
  margin-top:5px;
}
.b-clients table .detail .item p.date{
  float:left;
  font-size:11px;
  font-weight:bold;
  margin:0 0 5px 0!important;
  padding:0;
}
.b-clients table .detail .item .icon{
  width:74px;
  clear:left;
  float:left;
  text-align:center;
  padding:10px 0;
}
.b-clients table .detail .item .right{
  margin-left:90px;
  line-height:15px;
}
.b-clients table .detail .item .view{
  width:305px;
  padding-right:20px;
  float:left;
}
.b-clients table .detail .item.video h5{ color:#83c09d; }
.b-clients table .detail .item.text h5{ color:#cc7ea1; }
.b-clients table .detail .item.voice h5{ color:#7daeba; }
.b-clients table .detail .item.group h5{ color:#90b28c; }
.b-clients table .detail .item .comment{
  overflow:hidden;
  font-size:11px;
  line-height:15px;
}
.b-clients table .detail .item .comment p{ text-align: justify; }
.b-clients table .detail .item .comment h5{ color:#414445; }
.b-clients table .detail h5{
  font-size:12px;
  font-weight:bold;
  font-style:italic;
  margin:0 0 5px 0;
}
.b-clients table .detail .item .comment a.more{
  font-weight:bold;
  padding-right:15px;
  background:image-url('images/next_news.gif') 100% 50% no-repeat;
  color:#2e93d2;
}
.b-clients table .detail .item.text a.link{
  display:inline-block;
  font-size:11px;
  font-weight:bold;
  color:#2e93d2;
  height:24px;
  line-height:24px;
  padding:0 17px;
  background:#fff;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow:1px 1px 2px 0 rgba(0,0,0,0.45);
  -webkit-box-shadow:1px 1px 2px 0 rgba(0,0,0,0.45);
  box-shadow:1px 1px 2px 0 rgba(0,0,0,0.45);
}
.b-clients .sort-asc,
.b-clients .sort-desc{
  float:left;
  width:11px;
  height:11px;
  overflow:hidden;
  margin:4px 0 0;
}
.b-clients .sort-asc{ background: image-url('bg/row-sort.png') 0 0 no-repeat; }
.b-clients .sort-desc{ background: image-url('bg/row-sort.png') 0 -11px no-repeat; }
.b-clients .sort-asc:hover{ background: image-url('bg/row-sort.png') -11px 0 no-repeat; }
.b-clients .sort-desc:hover{ background: image-url('bg/row-sort.png') -11px -11px no-repeat; }
.b-clients table td.tag{ font-size:11px; white-space:nowrap; }
.b-clients table td.more{ text-align:center; }
.b-clients table td.tag strong{ padding:0 10px; }
.b-clients table tbody d:first-child{ border-left:1px solid #bababa; }
.b-clients .pagenavigation{ text-align:center; }
.b-clients .pagenavigation ul li{ vertical-align:middle; font-size:12px; }
.b-clients .pagenavigation ul li a{ font-size:14px; }
.b-person-filter{display:inline-block;width:100%;margin:0 0 15px 0;}
.b-person-filter .right-action-links{margin-top:0;}
.b-person-filter input[type="text"]{
  padding:0 0 0 22px;
  margin:0 5px;
  width:145px;
  height:22px;
  font-size:12px;
  color: #767777;
  border: 1px solid #aeafaf;
  border-right: 2px solid #aeafaf;
  border-bottom: 2px solid #aeafaf;
  text-align:left;
  font:12px Arial, sans-serif;
  color:#414445;
  background: image-url('icon/search.png') 4px 50% no-repeat #fff;
}
.b-person-filter input[type="submit"]{
  border:0;
}
.b-person-filter input[type="submit"]{
  border:0;
  font-size:12px;
  height:26px;
  cursor:pointer;
  margin:0 5px;
}
.b-person-filter input[type="submit"]::-moz-focus-inner{
  border: 0;
  padding: 0;
}