
.library-filter{
  width:164px;
  float:left;
  font-size:12px;
}
.library-filter input.search{
  border:1px solid #aeafaf;
  border-bottom:2px solid #aeafaf;
  border-right:2px solid #aeafaf;
  width:95px;
  padding-left:20px;
  height:22px;
  margin:0 0 15px 0;
  background: image-url('icon/search.png') 4px 50% no-repeat;
}
.library-filter label{
  display:block;
  margin:0 0 7px 0;
}
.library-filter label input{
  vertical-align:middle;
  margin:0 10px 0 0;
}
.library-filter .cusel{
  margin:10px 0 20px 0;
  border:1px solid #bababa;
}
.library-filter .cuselFrameRight {
  background: image-url('bg/select-blue.gif') no-repeat 50% 50%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 25px;
  z-index: 2;
}
.library-filter input.button{
  border:0;
  padding:5px 15px;
  font-size:12px;
  margin:0 20px;
  overflow:visible;
}

.b-tags{
  line-height:28px;
  padding:10px 5px;
  border-bottom:1px solid #d5d5d5;
}
.b-tags a{
  color:#565656;
  text-decoration:none;
}
.b-tags a:hover{
  text-decoration:underline;
}

.library-content{
  margin-left:200px;
}
.library-content .catalog .list{
  position:relative;
  margin-right:-30px;
}
.library-content .catalog .item{
  display:inline-block;
  width:185px;
  padding-right:10px;
  margin:0 0 30px 0;
  font-size:14px;
  vertical-align:top;
}
.library-content .catalog .item h3{
  color:#565656;
  font-size:18px;
  margin:0 0 25px 0;
  font-weight:normal;
}
.library-content .catalog .item ul{
  margin:0 0 15px 20px;
}
.library-content .catalog .item ul li{
  margin:0 0 7px 0;
}
.library-content .catalog .item li a{
  color:#565656;
}
.library-content .catalog .item li a:hover,
.library-content .catalog .item li a:hover span{
  color:#1f8bcf;
}
.library-content .catalog .item ul li.active a,
.library-content .catalog .item ul li.active a span{
  color:#1f8bcf;
  font-weight:bold;
}
.library-content .catalog .item li a span{
  color:#0064a3;
}
.library-content .catalog .item ul li img{
  vertical-align:middle;
}
.library-content .frame{
  padding: 20px;
}
.library-content .frame h3{
  font-size:18px;
  color:#565656;
  font-weight:normal;
}
.library-content .frame .col-3{
  position:relative;
  overflow:hidden;
  margin-left:-15px;
}
.library-content .frame .col-3 .col{
  width:33%;
  float:left;
  font-size:12px;
  line-height:18px;
}
.library-content .frame .col-3 .col img.type{
  float:right;
  margin:0 0 5px 5px;
}
.library-content .frame .col-3 .col p{
  margin:0 0 10px 20px!important;
}
.library-content .frame .col-3 .col p.name{
  font-weight:bold;
}
.library-content .frame .col-3 .col p.title{
  font-size:14px;
}
.library-content .frame .col-3 .col p.title a{
  color:#61812e;
}
.library-content .frame .col-3 .col p.preview{
  text-align:justify;
}
.library-content .frame .col-3 .col p.info{
  overflow:hidden;
}
.library-content .frame .col-3 .col p.info span.views{
  float:right;
  padding-left:27px;
  color:#565656;
  background: image-url('icon/eye.png') 0 50% no-repeat;
}
