ul.person-menu,
.lang-menu,
ul.top-menu,
#main-menu ul,
.left-menu,
.service-menu{
	list-style-type:none;
}

/*
 * PERSON MENU
 * */
ul.person-menu{
	float:right;
	overflow:hidden;
  margin: 20px -16px 0 0;
	padding:0 2px 0 10px;
}
ul.person-menu li{
	float:left;
	padding:0 15px;
}
ul.person-menu li a{
	color:#c6c6c6;
}
/**/

/*
 * LANGUAGE MENU
 * */
.lang-menu{
	position:relative;
	/*overflow:hidden;*/
	margin:13px 0 0 0;
	float:right;
}
.lang-menu li{
	float:left;
}
.lang-menu li a{
	color:#c6c6c6;
	padding:10px 4px;
	display:block;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.lang-menu li.active a{
	color:#fff;
	background:image-url('bg/lang.gif') 0 0 repeat-x #2a2a2a;
}
/**/

/*
 * TOP MENU
 * */
ul.top-menu{
	position:relative;
	margin:0 0 50px 0;
	display:table;
	width:100%;
}
ul.top-menu li{
	display:table-cell;
	padding:0 25px;
	text-align:center;
}
ul.top-menu li.first{
	text-align:left;
	padding-left:0;
}
ul.top-menu li.last{
	text-align:right;
	padding-right:0;
}
ul.top-menu li a{
	color:#026e8d;
}
/**/

/*
 * MAIN MENU
 * */
#main-menu{
	padding-top:5px;
	margin-top:-5px;
}
#main-menu ul{
	overflow:hidden;
	margin:0 -10px 0 0;
	float:right;
}
#main-menu ul li{
	position:relative;
	float:left;
	margin:0 10px;
}
#main-menu ul li a{
	display:block;
	position:relative;
	padding-top:35px;
	color:#303030;
}
#main-menu ul li a:hover{
	color:#7a898e;
}
#main-menu ul li.active a{
	color:#7a898e;
}
#main-menu ul li span.icon{
	display:block;
	position:absolute;
	width:100%;
	height:27px;
	left:0;
	top:0;
  //$menu_icons-layout: horizontal;
  //
 // $icons: sprite-map("menu_icons/*.png");
  //background: $icons;
	//background: image-url('icon/menu.png') no-repeat;
}

$menu_icons-spacing: 21px;
@import "menu_icons/*.png";


//@include all-menu_icons-sprites;

#main-menu ul li span.icons-org {
  @include menu_icons-sprite(org, $offset-x: 50%);

}

#main-menu ul li.active span.icons-org, #main-menu ul li a:hover span.icons-org {
  @include menu_icons-sprite(org_hover, $offset-x: 50%);
}

#main-menu ul li span.icons-teen {
  @include menu_icons-sprite(teen, $offset-x: 50%);
}

#main-menu ul li.active span.icons-teen, #main-menu ul li a:hover span.icons-teen {
  @include menu_icons-sprite(teen_hover, $offset-x: 50%);
}

#main-menu ul li span.icons-adult {
  @include menu_icons-sprite(adult, $offset-x: 50%);
}

#main-menu ul li.active span.icons-adult, #main-menu ul li a:hover span.icons-adult {
  @include menu_icons-sprite(adult_hover, $offset-x: 50%);
}

#main-menu ul li span.icons-couple {
  @include menu_icons-sprite(couple, $offset-x: 50%);
}

#main-menu ul li.active span.icons-couple, #main-menu ul li a:hover span.icons-couple {
  @include menu_icons-sprite(couple_hover, $offset-x: 50%);
}

#main-menu ul li span.icons-spec {
  @include menu_icons-sprite(spec, $offset-x: 50%);
}

#main-menu ul li.active span.icons-spec, #main-menu ul li a:hover span.icons-spec {
  @include menu_icons-sprite(spec_hover, $offset-x: 50%);
}

#main-menu ul li span.icons-children {
  @include menu_icons-sprite(children, $offset-x: 50%);
}

#main-menu ul li.active span.icons-children, #main-menu ul li a:hover span.icons-children {
  @include menu_icons-sprite(children_hover, $offset-x: 50%);
}

#main-menu ul li span.icons-emergency {
  @include menu_icons-sprite(emergency, $offset-x: 50%);
}

#main-menu ul li.active span.icons-emergency, #main-menu ul li a:hover span.icons-emergency {
  @include menu_icons-sprite(emergency_hover, $offset-x: 50%);
}

/**/

/*
 * LEFT MENU
 * */
.left-menu{
	margin:0 0 30px 0;
}
.left-menu li{
	padding:10px 5px 10px 25px;
	background: image-url('bg/left-menu.png') 0 -59px no-repeat;
	border-top:1px solid #73797b;
}
.left-menu li:first-child{
	border:0;
}
.left-menu li.active{
	background: image-url('bg/left-menu.png') -63px 13px no-repeat;
}
.left-menu li a{
	display:block;
	color:#0064a3;
	padding:10px 5px 10px 25px;
	margin:-10px -5px -10px -25px;
}
.left-menu li.active a{
	color:#79888d;
}
/**/

/*
 * SERVICE MENU
 * */
.service-menu{
	position:relative;
	margin:-4px -10px 0 -10px;
	padding:10px 10px 0 10px;
	z-index:10;
	background: image-url('bg/service-menu.gif');
}
.service-menu li{
	font:0.857em/1em Tahoma, serif;
	padding:10px 10px 10px 18px;
	background: image-url('bg/service-menu-bottom.png') 50% 100% no-repeat;
}
.service-menu li a{
	display:block;
	color:#fff;
	text-shadow:#446b0b 1px 1px 1px;
	padding:10px 10px 10px 18px;
	margin:-10px -10px -10px -18px;
	background: image-url('bg/service-menu.png') 0 10px no-repeat;
}
/**/
