
.auth-popup{
  position:absolute;
  display:none;
  width:230px;
  padding:17px 15px 20px 20px;
  font-size:12px;
  line-height:16px;
  border:2px solid #27a4c8;
  background:/* image-url('bg/client-popup.gif') 0 100% repeat-x */#f6fafb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  z-index:9999;
}
.auth-popup p.title{
  font-size:13px;
  font-weight:bold;
  color:#414445;
  margin:0 0 18px 0;
}
.auth-popup .line{
  overflow:hidden;
  margin:0 0 12px 0;
  padding-right:7px;
}
.auth-popup .small{
  font-size:11px;
}
.auth-popup .line span{
  display:inline-block;
  vertical-align:top;
  width:50px;
}
.auth-popup .line input[type="text"],
.auth-popup .line input[type="password"]{
  width:155px;
  height:20px;
  border:1px solid #aeafaf;
  border-right:2px solid #aeafaf;
  border-bottom:2px solid #aeafaf;
  padding:0 5px;
}
.auth-popup label input{
  vertical-align:middle;
  margin:0 5px 0 0;
}
.auth-popup a.forgotpass{
  float:right;
  font-weight:bold;
}
.auth-popup a.forgotpass:hover{
  text-decoration:underline;
}
.auth-popup .button{
  float:right;
  font:12px Arial, sans-serif;
  border:0;
  height:26px;
  cursor:pointer;
}
.auth-popup .close{
  position:absolute;
  display:block;
  width:10px;
  height:10px;
  top:18px;
  right:20px;
  background:image-url('icon/close.png') 0 0 no-repeat;
  cursor:pointer;
}
.auth-popup .submit{
  margin:0;
}
.auth-popup .forgot{
  display:none;
}
.auth-popup .forgot .line{
  margin:15px 0;
}
.auth-popup .forgot .submit{
  margin:0;
}
.auth-popup .forgot .line input[type="text"]{
  width:210px;
}
.auth-popup .forgot .button{
  padding:0;
  margin:0;
}
.auth-popup .forgot .button input[type="submit"]{
  margin:0;
  padding:0 17px 0 25px;
  height:26px;
  color:#fff;
  font:12px Arial, sans-serif;
  text-shadow:#208031 1px 1px 1px;
  background:image-url('icon/gb-arr.png') 5px 50% no-repeat;
  border:0;
  cursor:pointer;
}

.ask-popup{
  position:absolute;
  display:none;
  width:380px;
  padding:20px;
  left:50%;
  margin-left:-210px;
  font-size:12px;
  line-height:16px;
  border:2px solid #27a4c8;
  background:#f6fafb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  z-index:9999;
}
.ask-popup .close{
  position:absolute;
  display:block;
  width:10px;
  height:10px;
  top:18px;
  right:20px;
  background:image-url('icon/close.png') 0 0 no-repeat;
  cursor:pointer;
}
.ask-popup p.title{
  font-size:13px;
  font-weight:bold;
  color:#414445;
  margin:0 0 18px 0;
}
.ask-popup .button{
  padding:0;
}
.ask-popup .button input[type="submit"]{
  margin:0;
  padding:0 17px 0 25px;
  height:26px;
  color:#fff;
  font:12px Arial, sans-serif;
  text-shadow:#208031 1px 1px 1px;
  background:image-url('icon/gb-arr.png') 5px 50% no-repeat;
  border:0;
  cursor:pointer;
}
.ask-popup .line{
  margin:0 0 15px 0;
  overflow:hidden;
}
.ask-popup .line span.name{
  float:left;
}
.ask-popup .email span.name{
  width:165px;
}
.ask-popup .textfield span.name{
  float:none;
  display:block;
  margin:0 0 5px 0;
}
.ask-popup .line input[type="text"]{
  float:right;
  width:295px;
  height:20px;
  border:1px solid #aeafaf;
  border-right:2px solid #aeafaf;
  border-bottom:2px solid #aeafaf;
  padding:0 5px;
}
.ask-popup .line textarea{
  width:373px;
  height:135px;
  border:1px solid #aeafaf;
  border-right:2px solid #aeafaf;
  border-bottom:2px solid #aeafaf;
}
.ask-popup .email input[type="text"]{
  width:200px;
}
.ask-popup .kaptcha input[type="text"]{
  width:100px;
  float:right;
}
.ask-popup .kaptcha span.name{
  margin-right:5px;
}
.ask-popup .submit{
  margin:0;
  text-align:right;
}