.c_left {
  float: left;
  width: 211px;
  margin-right: 36px;
}

.menu-list {

}

.menu-list__item {
  list-style: none;
  background: image-url('images/li.png') 0px 11px no-repeat;
  padding: 5px 0 5px 18px;
  border-bottom: 1px solid #858586;
}

.menu-list__item_last{
  border-bottom: none;
}

.menu-list__item_active{


}
.menu-list__item .active{
  color:  #858586;
  &:hover{
    color: #858586;
  }
}

.c_right {
  width: 163px;
  float: right
}

.c_center {
  float: left;
  width: 550px;
  //margin-left: 247px;
  //margin-right: 12px;
}

.columns{
  @include clearfix();
}

.columns__column{
  float: left;

}
.columns__column_1{
  width: 46%;
  padding-right: 8%;
}
.columns__column_2{
  width: 46%;
}

.question_block{
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  padding-bottom: 15px;
  p{
    margin-bottom: 5px!important;
  }
}
.question_block__time{
  color: #bbb;
  font-size: 90%;
}

.question_block__question{
  margin-bottom: 10px;

}