{% extends "base.html" %}
{% load bootstrap_tags %}

{% block content %}
<p>Пополнение счета работает автоматизированно через систему
<a rel="nofollow" href="http://onpay.ru/">Onpay</a>.
После ввода суммы появится окно с запросом ввода платежной системы
и другими параметрами</p>

<form method="post" action="">{% csrf_token %}

{{ form|as_bootstrap }}
<input class="btn" type="submit" value="Оплатить"/></td>

</form>
{% endblock %}