{% extends "admin/base_site.html" %}
{% load i18n adminmedia admintools_bootstrap %}
{% load url from future %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />{% endblock %}
{% block userlinks %}{% url "'django-admindocs-docroot'" as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %} {% trans 'Change password' %} / <a href="../logout/">{% trans 'Log out' %}</a>{% endblock %}


{% block breadcrumbs %}
../|{% trans "Home" %}
{% trans "Password change" %}
{% endblock %}

{% block title %}{% trans 'Password change' %}{% endblock %}

{% block content %}<div id="content-main">

<form action="" method="post">{% csrf_token %}
<div>
{% if form.errors %}
    <p class="errornote">
    {% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
{% endif %}

<h1 class="well">{% trans 'Password change' %}</h1>
<div class="well">
<div class="alert-message warning block-message">
{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}
</div>

<fieldset class="module aligned wide">

<div class="clearfix{% if form.old_password.errors %} error{% endif %}">
    <label for="id_old_password" class="required">{% trans 'Old password' %}:</label>
    <div class="input">{{ form.old_password }}
    {% if form.old_password.errors %}<span class="help-inline">{{ form.old_password.errors }}{% endif %}
    </div>
</div>

<div class="clearfix{% if form.new_password1.errors %} error{% endif %}">
    <label for="id_new_password1" class="required">{% trans 'New password' %}:</label>
    <div class="input">{{ form.new_password1 }}
    {% if form.new_password1.errors %}<span class="help-inline">{{ form.new_password1.errors }}{% endif %}
    </div>
</div>

<div class="clearfix{% if form.new_password2.errors %} error{% endif %}">
    <label for="id_new_password2" class="required">{% trans 'Password (again)' %}:</label>
    <div class="input">{{ form.new_password2 }}
    {% if form.new_password2.errors %}<span class="help-inline">{{ form.new_password2.errors }}{% endif %}
    </div>
</div>

</fieldset>

<div class="actions">
    <input type="submit" value="{% trans 'Change my password' %}" class="btn danger" />
</div>

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</div>
</div>
</form></div>

{% endblock %}
