{% extends "base.html" %}
{% load i18n %}

{% block title %}Доступ запрещён{% endblock title %}

{% block main-content %}
    <h1>Доступ запрещён</h1>
    <div class="b-frame">
        <div class="frame round-10">


            <div>
                <p> Доступ к этой странице для вас закрыт.</p>
                {% if not user.is_authenticated %}
                   <p>Вы не авторизованны. <a href="{% url "auth_login" %}">Войти</a></p>
                {% endif %}
            </div>

            <img src="{{ STATIC_URL }}psyco/img/errors/403.jpg"/>


        </div>
        <div class="shadow round-5"></div>
    </div>
{% endblock main-content %}

{% block right-column %}
    {% include "right-column.html" %}
{% endblock %}