{% extends "base.html" %}
{% load i18n %}

{% block title %}Файл или страница не найдены{% endblock title %}

{% block main-content %}
    <h1>Файл или страница не найдены</h1>
    <div class="b-frame">
    <div class="frame round-10">
       <p> К сожалению такой страницы нет.<br>
           Вернуться на <a href="/">главную страницу ...</a></p>

       <img src="{{ STATIC_URL }}psyco/img/errors/404.jpg"/>

    </div>
        <div class="shadow round-5"></div>
    </div>
{% endblock main-content %}

{% block right-column %}
    {% include "right-column.html" %}
{% endblock %}
