{% extends "base.html" %}


{% block title %}Внутренняя ошибка сервера{% endblock %}

{% block main-content %}
    <h1>Внутренняя ошибка сервера</h1>
    <p>Извините что-то пошло не так</p>
{% endblock main-content %}
