{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="ru">
<head>
    {% block head %}
        <title>
            {% if seostuff and  seostuff.title %}
                {{ seostuff.title }}
            {% else %}
                {% block title %}Кабинет №1{% endblock title %}
            {% endif %}
        </title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="keywords" content="{{ seostuff.keywords }}">
        <meta name="description" content="{{ seostuff.description }}">

        {% include "css.html" %}
        {% include "js.html" %}
        {% include 'js/validation_engine.html' %}
    {% block extra_script %}{% endblock %}
    {% endblock head %}
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>

<body>
{#<!-- LiveZilla Tracking Code (ALWAYS PLACE IN BODY ELEMENT) --><div id="livezilla_tracking" style="display:none"></div><script type="text/javascript">#}
{#    var script = document.createElement("script");script.async=true;script.type="text/javascript";var src = "http://kabinet1.ru/livezilla/server.php?a=d33d0&request=track&output=jcrpt&ovlp=MjA_&ovlc=IzczYmUyOA__&ovlct=I2ZmZmZmZg__&ovlt=T25saW5lIC0gQ2hhdCB3aXRoIHVz&ovlto=T2ZmbGluZSAtIExlYXZlIGEgbWVzc2FnZQ__&ovls=MQ__&eca=MQ__&ecw=Mjgw&ech=OTA_&ecmb=Mjc_&echt=UXVlc3Rpb25zPw__&echst=Q2hhdCB3aXRoIHVzIGxpdmU_&ecoht=UXVlc3Rpb25zPw__&ecohst=UGxlYXNlIGxlYXZlIGEgbWVzc2FnZQ__&ecfs=I0YwRkZENQ__&ecfe=I0QzRjI5OQ__&echc=IzZFQTMwQw__&ecslw=Mg__&ecsgs=IzY1OUYyQQ__&ecsge=IzczQkUyOA__&ecsa=MQ__&ecsb=NA__&ecsx=Mw__&ecsy=Mw__&ecsc=IzQ2NDY0Ng__&nse="+Math.random();setTimeout("script.src=src;document.getElementById('livezilla_tracking').appendChild(script)",1);</script><noscript><img src="http://kabinet1.ru/livezilla/server.php?a=d33d0&amp;request=track&amp;output=nojcrpt" width="0" height="0" style="visibility:hidden;" alt=""></noscript><!-- http://www.LiveZilla.net Tracking Code -->#}
<script>
{#    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){#}
{#        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),#}
{#            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)#}
{#    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');#}
{##}
{#    ga('create', 'UA-46203635-1', 'kabinet1.ru');#}
{#    ga('send', 'pageview');#}
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-46203635-1']);
_gaq.push(['_trackPageview']);

(function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter21075247 = new Ya.Metrika({id:21075247,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/21075247" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<div id="wrap-all">
    {% include "notification.html" %}

    {% include "top.html" %}

    {% include "top-menu.html" %}

    {% include "main-menu.html" %}
    {% block before-main-wrap %}{% endblock before-main-wrap %}
    <div class="main-wrap">
        <div class="inner">

            <div class="content-wrap">
                {% block breadcrumb %}{% endblock %}
                {% block content %}
                    <div class="right-column">
                    {% block right-column %}

                    {% endblock right-column %}
                    </div>
                    <div id="content" style="padding-left:0px!important">
                    {% block main-content %}

                    {% endblock main-content %}
                    </div>
                    <div class="clear"></div>
                {% endblock content %}
            </div>
            <!-- /content-wrap -->
        </div>

    {% block bottom-content %}{% endblock bottom-content %}



    </div>
    <!-- /main-wrap -->

</div>
<!-- /wrap-all -->
{% include "footer.html" %}
    <div class="modal-ask-expert" id="modal-ask-expert-id">
        <div class="ask-expert-title">
            <b>Бесплатный вопрос психологам</b>
        </div>
        <div class="success-info">Спасибо за Ваш вопрос!<br />
            Ответ специалистов будет выслан на указанный Вами адрес электронной почты в ближайшее время</div>
        <div class="error-info">
            Ошибка!
        </div>
        <p class="modal-ask-expert-desc">
            Опишите здесь Вашу проблему. Ваш запрос будет автоматически направлен профильным специалистам. Ознакомившись с ответами, Вам будет проще выбрать своего специалиста для дальнейших консультаций.
            Это удобно, бесплатно и анонимно.
        </p>
        <form method="POST" action="{% url 'ask-experts' %}">
            {% csrf_token %}
            <p>
                {{ expert_question_form.issue|add_class:"validate[required]" }}
            </p>
            <p>
                {{ expert_question_form.title|add_class:"validate[required]"|attr:"placeholder:Заголовок" }}
            </p>
            {{ expert_question_form.text|add_class:"validate[required]"|attr:"placegolder:Вопрос*" }}
            <div>
                {{ expert_question_form.username|add_class:"validate[required]"|attr:"placeholder:Имя или ник" }}<div style="padding-left: 5px; padding-top: 10px; display: inline-block; vertical-align: top; width: 300px; margin-top: 0; font-size: 12px; color: #888;">
                        Ваш адрес не будет опубликован на сайте и ни при каких обстоятельства не будет передан
                        третьим лицам
                    </div>
            </div>
            <div>
                {{ expert_question_form.email|add_class:"validate[required,custom[email]]"|attr:"placeholder:E-mail для ответа*" }}<div style="padding-left: 5px; padding-top: 10px; display: inline-block; vertical-align: top; width: 300px; margin-top: 0; font-size: 12px;
                    color: #888;">При желании Вы можете использовать любой псевдоним, а не Ваше настоящее имя</div>
            </div>
            <div class="eq-captcha">
                {{ expert_question_form.captcha|add_class:"validate[required]" }}
                <div style="width: 300px; font-size: 12px; color: #888;">Введите, пожалуйста, английские буквы, изображенные на картинке</div>
            </div>
            <div class="" style="margin-top: 20px;">
                <input type="checkbox" required="required" /> согласен с <a href="/rules/">условиями использования сайта</a>
            </div>
            <button class="round-15 begin_btn">Задайте вопрос</button>
        </form>
    </div>

</body>
</html>
