<!-- CSS -->
<link rel="stylesheet" href="{{ STATIC_URL }}psyco/css/screen.css" type="text/css" media="all">
<link rel="stylesheet" href="{{ STATIC_URL }}fancybox/jquery.fancybox.css" type="text/css" media="all">
<link rel="stylesheet" href="{{ STATIC_URL }}chosen/chosen.css" type="text/css" media="all">

{#<link rel="stylesheet" href="/static/psyco/css/edited.css" type="text/css" media="all">#}
{#<link rel="stylesheet" href="/static/psyco/css/print.css" type="text/css" media="print">#}
{#<link rel="stylesheet" href="/static/psyco/css/cusel.css" type="text/css" media="all">#}
{#<link rel="stylesheet" href="/static/psyco/css/jquery.ui.theme.css" type="text/css" media="all">#}
{#<link rel="stylesheet" href="/static/psyco/css/jquery.ui.datepicker.css" type="text/css" media="all">#}
{#<link rel="stylesheet" href="/static/psyco/css/jquery.ui.slider.css" type="text/css" media="all">#}
{#<link rel="stylesheet" href="/static/psyco/css/jquery.jscrollpane.css" type="text/css" media="all">#}
{#<link rel="stylesheet" href="/static/psyco/css/moment.css" type="text/css" media="all">#}
<!--[if IE 7]><link rel="stylesheet" href="{{ STATIC_URL }}psyco/css/ie7.css" media="all"><![endif]-->
<!--[if IE 8]><link rel="stylesheet" href="{{ STATIC_URL }}psyco/css/ie8.css" media="all"><![endif]-->
<!--[if lt IE 9]><link rel="stylesheet" href="{{ STATIC_URL }}psyco/css/ie.css" media="all"><![endif]-->
