<div class="b-search round-5">
    <h3>Найти специалиста</h3>

    <form id="specialists_search"
          action="/content/specialists/fio/" method="GET">
        <input name="fio" class="round-5"
               onfocus="javascript: if(this.value == 'Введите фамилию') this.value = '';"
               onblur="javascript: if(this.value == '') this.value = 'Введите фамилию';" type="text"
               value="Введите фамилию"/>
        <input type="submit" class="round-15" value="Искать"/>
    </form>
    <a href="{% url "expert-list" %}">Все специалисты</a>
</div>
