<div id="footer">
    <div class="inner">
        <div class="left">
            <ul class="menu">
                <li><a href="/about/">О проекте</a></li>
                <li ><a href="{% url "expert-list" %}">Психологи</a></li>
                <li ><a href="{% url 'expert-questions-view' %}">Вопросы</a></li>
                <li><a href="{% url "pybb:index" %}">Форум</a></li>
                <li><a href="{% url "news-list" %}">Блог</a></li>
                <li><a href="/how_to_pay/">Как оплатить</a></li>
                <li><a href="{% url "feedback-all" %}">Обратная связь</a></li>
                <li><a href="/rules/">Пользовательское соглашение</a></li>
            </ul>
            <p class="copyright">Copyright &copy; 2012-2014 Психологическая помощь онлайн «Кабинет№1»</p>
        </div>
        <div class="right">
{#            Дружите с нами!#}
        </div>
    </div>
</div>
<!-- /footer -->
