{% load i18n bootstrap_tags%}

<form method="{{ method|default:"post" }}" action="{{ action }}" {{ enctype }} id="login-form">
    {% csrf_token %}
    {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
    {% endif %}

    {% for field in form %}
        {% if field.name == 'username' %}
        <div id="div_id_username" class="control-group">
            <label for="id_username" class="control-label required-field">Имя пользователя или e-mail
                <span class="req">*</span>
            </label>
            <div class="controls">
                {{ field }}
                {% include "bootstrap/_field_errors.html" %}
                {% include "bootstrap/_field_help_text.html" %}
{#                <div class="clear" style="color: #005580;font-size: 12px;">#}
{#                    английские буквы#}
{#                </div>#}
            </div>
        </div>
        {% else %}
            {% include 'bootstrap/field.html' %}
        {% endif %}
    {% endfor %}
{#    {{ form|as_bootstrap }}#}

    {% if formset %}
        <div class="formsets">
            {% for form in formset %}
                <div class="formset">
                    {{ form|as_bootstrap }}
                </div>
            {% endfor %}
            {{ formset.management_form }}
        </div>
    {% endif %}

    <div class="form-actions">
        <button class="btn btn-primary" type="submit">
        {% with text=submit_text|default:"Submit" %}
            {% blocktrans with text=text %}
            {{ text }}
            {% endblocktrans %}
        {% endwith %}
        </button>
    </div>
</form>
