<!-- JS -->
<script type="text/javascript" src="{{ STATIC_URL }}psyco/js/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}psyco/js/jquery-ui-1.8.21.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}psyco/js/jquery.maskedinput.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}psyco/js/jquery.ui.datepicker-ru.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}psyco/js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}psyco/js/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}psyco/js/slides.min.jquery.js"></script>
{#<script type="text/javascript" src="{{ STATIC_URL }}psyco/js/cusel.js"></script>#}
<script type="text/javascript" src="{{ STATIC_URL }}psyco/js/jquery.ui.autocomplete.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}psyco/js/jquery.color-2.1.2.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}psyco/js/site.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}psyco/js/jquery.jcarousel.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}psyco/js/jquery.ui.popupform.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}fancybox/jquery.fancybox.pack.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}chosen/chosen.jquery.min.js"></script>


<script type="text/javascript" src="{{ STATIC_URL }}pybb/js/pybbjs.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}psyco/js/trunk8.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}psyco/js/jquery.formset.js"></script>

<script type="text/javascript">
    function updateBalanceByFlash(s)
    {
        $("#balance-money").text(s);
    }

$(document).ready(function () {


        $(".chzn-select").chosen();
        $('#carusel1').jcarousel();
        $('#carusel2').jcarousel();
        $('#carusel3').jcarousel({
            wrap: 'circular',
            scroll: 1
        });
        $('#carusel4').jcarousel({
            scroll:1
        });
        $('#carusel5').jcarousel({
        });

        $("#slides-video div.inner00 .play-video-btn").click(function()
        {
            var _this = $(this);
            _this.parents("div.inner00").eq(0).html('<iframe style="float: right;" width="450" height="253" src="' + _this.attr('alt') + '" frameborder="0" allowscriptaccess></iframe>');
        });

        $("#slides-video").slides({
            width: 820,
            height: 253,
            container: 'video_container',
            play: 5000,
            pagination: true,
            slideSpeed: 1000,
            effect: 'fade',
            hoverPause: true
        });

        function loadNotification()
        {
            $.ajax({
                url: '/api/notification/',
                type: 'GET',
                success: function(resp)
                {
                    if (resp)
                    {
                        $.each(resp, function(k, v)
                        {
                            if (!$('.notification-item-close[rel="' +  k  + '"]').length)
                            {
                                var txt = '<div class="notification-item"> '+
                                        '<a href="#" rel="__key__" class="notification-item-close">'+
                                        '<img src="/static/psyco/img/gritter.png">'+
                                        '</a>'+
                                        '__content__'+
                                        '</div>';
                                txt = txt.replace('__key__', k);
                                txt = txt.replace('__content__', v);
                                $(".notification").append(txt);
                            }
                        });
                    }
                }
            });
            setTimeout(loadNotification, 60000);
        }

        setTimeout(loadNotification, 60000);

        if ($(".notification").length)
        {
            $(".notification-item-close").live('click', function()
            {
                $.ajax({
                    url: '/api/notification/del/',
                    type: 'GET',
                    data: {
                        'key': $(this).attr('rel')
                    }
                });
                $(this).closest(".notification-item").fadeOut(200, function()
                {
                    $(this).remove();
                });
                return false;
            });
{#            setTimeout(function()#}
{#            {#}
{#                $(".notification").fadeOut(500, function()#}
{#                {#}
{#                    $(".notification").remove();#}
{#                })#}
{#            }, 10000);#}
        }
        $("#main-video-link").fancybox();
    });

    $(function () {
        $('#slides').slides({
            play:5000,
            pause:2500,
            hoverPause:true,
            effect:'fade'
        });
    });

    $(function () {
        $('ul.person-menu .auth').popupform({
            afterPopup:function () {
                $.getScript('//ulogin.ru/js/ulogin.js',
                        function (script, textStatus, jqXHR) {
                            uLogin.extraction();
                        }
                );
            }
        });
    });

</script>

<script>
    $(function () {
        $('.ask-button').popupform({
            klass:'ask-popup',
            setPosition:function () {
                var top = $(this).offset().top,
                        h = $(this).width();

                return {
                    'top':top - h
                }
            }
        });
    })
</script>

<script type="text/javascript">
    $(function () {
        //$('.formset1').formset({ prefix:'form',addText:'Добавить институт',deleteText:'Удалить'});
        //$('.formset2').formset({prefix:'form',addText:'Добавить ассоциацию',deleteText:'Удалить'});
    })
</script>

