{% load util %}

<div class="inner" id="main-menu">

    <a href="/"><img src="{{ STATIC_URL }}psyco/img/logo.png" alt="Кабинет №1" id="logo"></a>

    <ul>
        <li class="{% active request "/groups/1/" %}">
            <a href="{% url 'wizzard_step' 'experts' %}?group=1"><span class="icon icons-children"></span>Родителям</a>
        </li>

        <li class="{% active request "/groups/2/" %}">
            <a href="{% url 'wizzard_step' 'experts' %}?group=2"><span class="icon icons-adult"></span>Взрослым</a>
        </li>
        <li class="{% active request "/groups/3/" %}">
            <a href="{% url 'wizzard_step' 'experts' %}?group=3"><span class="icon icons-teen"></span>Подросткам</a>
        </li>
        <li class="{% active request "/groups/4/" %}">
            <a href="{% url 'wizzard_step' 'experts' %}?group=4"><span class="icon icons-couple"></span>Семейным парам</a>
        </li>
        <li class="{% active request "/groups/5/" %}">
            <a href="{% url 'wizzard_step' 'experts' %}?group=5"><span class="icon icons-org"></span>Организациям</a>
        </li>
        <li class="{% active request "/for_experts/" %}">
            <a href="/for_experts/"><span class="icon icons-spec"></span>Специалистам</a>
        </li>
    </ul>
</div>
