{% extends "base.html" %}

{% block main-content %}
    <h1>Профиль</h1>
    <div class="b-frame ">
        <div class="frame round-5">

            {% for message in messages %}
                {% include "flash_messages.html" %}
            {% endfor %}

            {% include "lk/profile__consultations_block.html" %}


            {% include "lk/profile__forum_last_topics.html" %}

            {% include "lk/profile__forum_last_posts.html" %}

            {% include "lk/profile__edit_form.html" %}

        </div>
        <div class="shadow round-5"></div>
    </div>

{% endblock main-content %}
