<div class="notification">
    {% for m in c_messages %}
        <div class="notification-item">
        <a href="#" rel="{{ m.0 }}" class="notification-item-close">
            <img src="{{ STATIC_URL }}psyco/img/gritter.png">
        </a>
            {{ m.1|safe }}
        </div>
    {% endfor %}
</div>
