<div class="slides_cont">
    <div id="slides">
        <div class="slides_container">
            <a href="#"><img src="{{ STATIC_URL }}psyco/img/images/slide.jpg"/></a>
            <a href="#"><img src="{{ STATIC_URL }}psyco/img/images/slide.jpg"/></a>
            <a href="#"><img src="{{ STATIC_URL }}psyco/img/images/slide.jpg"/></a>
        </div>
    </div>


</div>
