<div class="inner">

    <ul class="top-menu">
        <li><a href="/">Главная</a></li>
        <li><a href="/about/">О проекте</a></li>
        <li ><a href="{% url "expert-list" %}">Психологи</a></li>
        <li ><a href="{% url 'expert-questions-view' %}">Советы психологов</a></li>
        <li><a href="{% url "news-list" %}">Статьи</a></li>
        <li><a href="{% url "pybb:index" %}">Форум</a></li>
        <li><a href="{%  url 'feedback-all' %}">Обратная связь</a></li>
    </ul>

</div>
