<!--/sprypay.tag.check:53721af9af170/-->
<div id="top">
    <div class="inner">
        <ul class="person-menu">
            {% if not user.is_authenticated %}
                <li><a href="{% url "login" %}?next=/accounts/schedule/">Вход / Регистрация</a></li>
{#                <li><a href="{% url "'registration_register'" %}">Регистрация</a></li>#}
            {% else %}
                <li><a href="{% url "schedule-view" %}">Личный кабинет - {{ user.username }}</a></li>
                <li><a href="{% url "auth_logout" %}">Выход</a></li>
            {% endif %}
        </ul>


        <div class="cite">
            <p class="q">{{ aphorism.text }}</p>

            <p class="cite">{{ aphorism.author }}</p>
        </div>

    </div>
</div>
<!-- /top -->
