{% load bootstrap_tags util widget_tweaks %}

{% if field.is_hidden %}
    {{ field }}
{% else %}
    <div id="div_{{ field.auto_id }}"
         class="control-group {% if field.errors %}error{% endif %} {% if field.css_classes %} {{ field.css_classes }}{% endif %}">
        {% if field.label and not field|css_class == "checkboxinput" %}
            <label for="{{ field.auto_id }}"
                   class="control-label {% if field.field.required %}required-field{% endif %}">
                {{ field.label|safe }}{% if field.field.required %}<span class="req">*</span>{% endif %}
            </label>
        {% endif %}

        <div class="controls">
            {% if field|css_class == "checkboxselectmultiple" %}
                {% include "bootstrap/_field_errors_block.html" %}
                {% for choice in field.field.queryset %}
                    <label class="checkbox checkbox_level{{ choice.level }} parent{{ choice.parent.id }}">
                        <input type="checkbox"
                               {% if choice.pk|if_in_list:field.value or choice.id == field.value %}checked="checked"{% endif %}
                               name="{{ field.html_name }}" id="id_{{ field.html_name }}_{{ forloop.counter }}"
                               value="{{ choice.id }}">{{ choice.name }}
                    </label>
                {% endfor %}
                {% include "bootstrap/_field_help_text.html" %}
            {% endif %}


            {% include "bootstrap/_field_errors.html" %}
            {% include "bootstrap/_field_help_text.html" %}
        </div>
    </div>
{% endif %}
