{% load bootstrap_tags util widget_tweaks %}

{% if field.is_hidden %}
    {{ field }}
{% else %}
    <div id="div_{{ field.auto_id }}" class="{% if field.auto_id == 'id_fix' or field.auto_id == 'id_consultation_time' %}min_height_100{% endif %} control-group {% if field.errors %}error{% endif %} {% if field.css_classes %} {{ field.css_classes }}{% endif %}">
        {% if field.label and not field|css_class == "checkboxinput" %}
            <label for="{{ field.auto_id }}" class="control-label {% if field.field.required %}required-field{% endif %}">
                {{ field.label|safe }}
                {% if field.field.required %}<span class="req">*</span>{% endif %}
            </label>
        {% endif %}

        <div class="controls">
{#            {% if field|css_class == "checkboxselectmultiple" %}#}
{#                {% include "bootstrap/_field_errors_block.html" %}#}
{#                {% for choice in field.field.choices %}#}
{#                    <label class="checkbox">#}
{#                        <input type="checkbox" {% if choice.0 in field.value or choice.0 == field.value %}checked="checked"{% endif %} name="{{ field.html_name }}" id="id_{{ field.html_name }}_{{ forloop.counter }}" value="{{ choice.0 }}">{{ choice.1 }}#}
{#                    </label>#}
{#                {% endfor %}#}
{#                {% include "bootstrap/_field_help_text.html" %}#}
{#            {% endif %}#}
{#            {% if field|css_class == "radioselect" %}#}
{#                {% include "bootstrap/_field_errors_block.html" %}#}
{#                {% for choice in field.field.choices %}#}
{#                    <label class="radio">#}
{#                        <input type="radio" {% if choice.0 == field.value %}checked="checked" {% endif %} name="{{ field.html_name }}" id="id_{{ field.html_name }}_{{ forloop.counter }}" value="{{ choice.0 }}">{{ choice.1 }}#}
{#                    </label>#}
{#                {% endfor %}#}
{#                {% include "bootstrap/_field_help_text.html" %}#}
{#            {% endif %}#}

{#            {% if field|css_class != "checkboxselectmultiple" and field|css_class != "radioselect"  %}#}
                {% if field|css_class == "checkboxinput" %}
                    <label for="{{ field.auto_id }}" class="checkbox {% if field.field.required %}required-field{% endif %}">
                        {% if field.field.required %}
                            {{ field|add_class:"validate[required]"  }}
                            {% else %}
                            {{ field }}
                        {% endif %}
                        {{ field.label|safe }}
                    </label>
                    {% include "bootstrap/_field_errors_block.html" %}
                    {% include "bootstrap/_field_help_text.html" %}
                {% else %}

{#                    {% if field.field.required and field.field|klass != "ImageFormField" %}#}
{#                        {{ field|add_class:"validate[required]"  }}#}
{#                    {% else %}#}
{#                        {{ field }}#}
{#                    {% endif %}#}

                    {{ field }}

                    {% include "bootstrap/_field_errors.html" %}
                    {% include "bootstrap/_field_help_text.html" %}
{#                    {% if field.name == 'username' %}#}
{#                        <div class="clear" style="color: #005580;font-size: 12px;">#}
{#                            английские буквы#}
{#                        </div>#}
{#                    {% endif %}#}
                {% endif %}
{#            {% endif %}#}
        </div>
    </div>
{% endif %}
