{% load thumbnail %}
<div class="control-group  " id="div_id_{{ field.html_name }}">
    <label class="control-label " for="id_{{ field.html_name }}">
        {{ field.label }}
    </label>
    <div class="controls">
        {% thumbnail field.value "150x150" as im %}
            <img src="{{ im.url }}" alt=""><br>
            <label for="{{ field.html_name }}-clear_id" class="checkbox">
                <input type="checkbox" id="{{ field.html_name }}-clear_id" name="{{ field.html_name }}-clear"> Очистить
            </label>
        {% endthumbnail %}
        Изменить: <input type="file" id="id_{{ field.html_name }}" name="{{ field.html_name }}">
    </div>
</div>