{% load i18n bootstrap_tags%}
{% load ulogin_tags %}
{% load thumbnail %}
{% load util %}
<div class="step step5 pay_cont">

    <h1>Оформление закончено</h1>
    <div class="b-frame ">
        <div class="frame round-5">
            Пожалуйста, ожидайте подтверждение специалиста в ближайшее время. Информация о подтверждении времени консультации доступна в вашем личном кабинете, а так же будет направлена вам по электронной почте. <a href="{% url "schedule-view" %}">[Перейти в личный кабинет]</a>
        </div>
        <div class="shadow round-5"></div>
    </div>
</div>
