{% extends 'wizard_base.html' %}

{% block content %}
    <div id="content" style="overflow: visible;padding-left:0px;width:763px;float:left;">
        {% block main-content %}
            {% include "done_content.html" %}
        {% endblock main-content %}
    </div>
    <div class="clear"></div>
{% endblock content %}
