    <div style='font: 2.857em/120% "PFDinTextCompProMedium";color: black; margin-bottom: 15px;'>или</div>

    <div class="b-frame next_step">
        <div class="frame3 round-10">
            <a href="{% url "wizzard_step" 'experts' %}"><h3>Пропустить этот шаг и посмотреть всех специалистов</h3>
            </a>
        </div>
        <div class="shadow3 round-10"></div>
    </div>

