{% extends 'wizard_base.html' %}
{% load i18n bootstrap_tags %}
{% load ulogin_tags %}
{% load thumbnail %}
{% load util %}
{% load widget_tweaks %}

{% block before-main-wrap %}
    <div class="steps">
        <ul>
            <li>
                <div>
                    <a href="{% url "wizzard_step" 'experts' %}">Выберите специалиста</a>
                </div>
            </li>
            <li class="">
                <div>
                    <a href="{% url "wizzard_step" 'time' %}">Выберите вид консультации и удобное время</a>
                </div>
            </li>
            <li class="active last">
                <div>
                    <span>Уведомление специалиста</span>
                </div>
            </li>

        </ul>
    </div>
{% endblock before-main-wrap %}

{% block content %}
    <div class="right-column">
        {% block right-column %}
        {% endblock right-column %}
    </div>
    <div id="content" style="overflow: visible;padding-left:0px;">
        {% block main-content %}
            <div class="step step5 pay_cont">

                <h1>Шаг 3. Уведомить специалиста</h1>

                    <div id="pay_head">
                    </div>

                    <div class="b-frame pay-form">
                        <div class="frame round-5">
                            <div class="pay-info-head">
                                Информация о консультации:
                            </div>
                            <div class="pay-info-body">
                                <div class="pay-info-body-img">
                                    {% thumbnail expert.expertblank.avatar "93x108" crop="center" as im %}
                                        <img src="{{ im.url }}" />
                                    {% endthumbnail %}
                                </div>
                                <div class="specialist-photo-name">
                                    <b>{{ expert.expertblank.first_name }}</b><br/>
                                    {{ expert.expertblank.middle_name }}<br />
                                    {{ expert.expertblank.last_name }}
                                </div>
                                <div  class="pay-info-consl-chars">
                                    <div>
                                        <span>Дата консультации:</span> {% ru_strftime date=datetime format="%d %B %Y, %H:%M" %}
                                    </div>
{#                                    <div>#}
{#                                        <span>Продолжительность консультации:</span> {{ value }} мин.#}
{#                                    </div>#}
                                    <div>
                                        <span>Стоимость консультации ({{ expert.expertblank.consultation_time }} мин.):</span> {{ expert.expertblank.fix }} руб.
                                    </div>
                                </div>
                            </div>
                                {% if request.user.is_authenticated %}

                                    {% if needmoremoney %}
                                    <div class="pay-info-need-more">
                                        На данный момент на Вашем балансе {{ balance.sum }} руб<br />
                                        Вам необходимо пополнить баланс минимум на {{ needmoremoney }} руб
                                        <br />
                                        <div class="" style="">
                                            <br />
                                            Любой тип оплаты он-лайн на Ваш выбор
                                        </div>
                                    </div>
                                    {% endif %}
                                        {% if needmoremoney %}
                                            <form id="balance-pay-form" method="POST" accept-charset="utf-8" target="_blank" action="http://sprypay.ru/sppi/" >
                                                {% for field in balance_payment_form %}
                                                    <p>
                                                        {{ field }}
                                                    </p>
                                                {% endfor %}
                                                <input type="hidden" value="balance-pay-ok" />
                                                <input class="button" onclick="_gaq.push(['_trackEvent', 'wizzard', 'pay']);" type="submit" style="border: 0px;" value="Пополнить" id="balance-pay-btn">
                                            </form>
                                        {% else %}
                                            <div class="pay-info-enough-money">
                                                На вашем балансе достаточно средств для проведения платежа.<br />
                                                Нажмите на "Уведомить специалиста", чтобы отправить заявку на консультацию.
                                            </div>
                                            <form action="" method="post">{% csrf_token %}
                                                <table>
                                                    {{ wizard.management_form }}
                                                    <input type="hidden" id="id_pay-some" name="pay-some" value="1" >
                                                </table>

                                                <input type="submit" value="Уведомить специалиста" class="button" style="border: 0px;"/>
                                            </form>
                                        {% endif %}
                                {% else %}
                                    <div class="pay-info-need-more free-reg">
                                        <p>
                                            Для проведения консультации, необходимо пополнить Ваш личный счет.
                                            В случае, если по каким-то причинам Вы решите отказаться от данной консультации, то она может быть прервана в первые 5 минут абсолютно бесплатно. Средства с Вашего счета списаны не будут. Вы сможете выбрать другого специалиста или запросить возврат средств.
                                        </p>
                                        <p>
                                            Для перехода к оплате, войдите в личный кабинет или зарегистрируйтесь.
                                        </p>
                                    </div>
                                    <div>
                                        <div class="login-form-step3">
                                            <div class="form-reg-title">Войдите в Личный Кабинет:</div>
                                            <form class="pay-login-form" method="{{ method|default:"post" }}" action="/accounts/basic/login/" {{ enctype }}>
                                                {% csrf_token %}
                                                <input type="hidden" name="next" value="/wizzard/pay/" />

                                                {% if form.non_field_errors %}
                                                    <div class="alert alert-error">
                                                        {% for error in form.non_field_errors %}
                                                            {{ error }}<br />
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}

                                                <div class="control-group {{ form.username.css_classes }}">
                                                    <div class="controls">
                                                        {{ form.username|attr:"placeholder:Ваш e-mail" }}
                                                        {% include "bootstrap/_field_errors.html" %}
                                                        {% include "bootstrap/_field_help_text.html" %}
                                                    </div>
                                                </div>
                                                <div class="control-group {{ form.password.css_classes }}">
                                                    <div class="controls last-block">
                                                        {{ form.password|attr:"placeholder:Ваш пароль" }}
                                                        {% include "bootstrap/_field_errors.html" %}
                                                        {% include "bootstrap/_field_help_text.html" %}
                                                    </div>
                                                </div>
                                                <p>
                                                    <a href="{% url "auth_password_reset" %}">Забыли пароль?</a>
                                                </p>

                                                <div class="form-actions" style="margin-top: 27px;">
                                                    <button class="btn btn-primary" type="submit">
                                                        {% with text=submit_text|default:"Войти" %}
                                                            {% blocktrans with text=text %}
                                                                {{ text }}
                                                            {% endblocktrans %}
                                                        {% endwith %}
                                                    </button>
                                                </div>
                                            </form>
                                    </div>
                                        <div class="reg-form-step3">
                                            <div class="form-reg-title">Зарегистрируйтесь:</div>
                                            <form method="POST" autocomplete="off" action="" class="free-reg">
                                                {% csrf_token %}
                                                <div>
                                                    {{ reg_form.username|attr:"autocomplete:off"|attr:"placeholder:Ваше имя" }}
                                                    <div style="display: inline-block; vertical-align: top; width: 300px; margin-top: 0; font-size: 12px;
                                                    color: #888;">При желании Вы можете использовать любой псевдоним, а не Ваше настоящее имя</div>
{#                                                    <div class="clear" style="color: #005580;font-size: 12px;margin-bottom: 29px; margin-top: 0">#}
{#                                                        английские буквы#}
{#                                                    </div>#}
                                                </div>
                                                <div>
                                                    {{ reg_form.email|attr:"autocomplete:off"|attr:"placeholder:Ваш e-mail" }}
                                                    <div style="display: inline-block; vertical-align: top; width: 310px; margin-top: 0; font-size: 12px; color: #888;margin-bottom: 0">
                                                        Ваш адрес не будет опубликован на сайте и ни при каких обстоятельства не будет передан
                                                        третьим лицам
                                                    </div>
                                                </div>
                                                {% ulogin_widget %}
                                                <div class="form-actions">
                                                    <div class="reg-form-accept">
                                                        <input type="checkbox" required="required" class="validate[required]" /> согласен с <a href="/rules/">условиями использования сайта</a>
                                                    </div>
                                                    <button class="btn btn-primary btn-create-user" style="margin-top: 0px">
                                                        Создать
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                {% endif %}

                        </div>
                        <div class="shadow round-5"></div>
                    </div>
                <a href="/wizzard/{{ prev_step }}/" class="wizzard-back-link">Вернуться на предыдущую страницу</a>
            </div>
        {% endblock main-content %}
    </div>
    <div class="clear"></div>
{% endblock content %}
