{% extends 'wizard_base.html' %}

{% block before-main-wrap %}
    <div class="steps">
        <ul>
{#            <li class="first">#}
{#                <div>#}
{#                    <a  href="{% url "wizzard_step" 'category' %}">Выберите группу</a>#}
{#                </div>#}
{#            </li>#}
{#            <li class="">#}
{#                <div>#}
{#                    {% if issue %}#}
{#                        <a href="{% url "wizzard_step" 'issue' %}">Определите проблему</a>#}
{#                    {% else %}#}
{#                        <span>Определите проблему</span>#}
{#                    {% endif %}#}
{#                </div>#}
{#            </li>#}
            <li class="active">
                <div>
                    <span>Выберите специалиста</span>
                </div>
            </li>
            <li class="">
                <div>
                    <span>Выберите вид консультации и удобное время</span>
                </div>
            </li>
            <li class="last">
                <div>
                    <span>Уведомление специалиста</span>
                </div>
            </li>

        </ul>
    </div>

{% endblock before-main-wrap %}

{% block main-content %}
    <div class="step kabinet specialist_list step3">

        <h1>Шаг 1. Выберите специалиста</h1>

        {% include 'expert_filter.html' %}

        <div class="person_cont">
            {% include 'expert_list_ajax.html' %}
            <div class="clear"></div>
        </div>
        {% if prev_step %}
        <a href="/wizzard/{{ prev_step }}/" class="wizzard-back-link">Вернуться на предыдущую страницу</a>
        {% endif %}

    </div>
{% endblock main-content %}

{% block right-column %}
    {% load util %}
            <div class="main_right">
            <div class="ask-expert-banner ask-expert">
                <div style="text-align: center">
                    <img src="{{ STATIC_URL }}psyco/img/question-icon-2.png" />
                </div>
                <div class="ask-expert-title">Бесплатный вопрос психологу</div>
                <textarea></textarea>
                <div>
                    <button class="round-15 begin_btn">Задать</button>
                </div>
            </div>

        </div>

{#    <div class="b-services1">#}
{#        <div class="b-services1-cont">#}
{#            <div class="title">#}
{#                Шаг 3#}
{#            </div>#}
{##}
{##}
{#            <ul class="service-menu1">#}
{#                <li>#}
{#                    <div class="serv_left">#}
{#                        1#}
{#                    </div>#}
{#                    <div class="serv_right">#}
{#                        {% if category %}#}
{#                            Выбрана группа «{{ category.name }}»#}
{#                            <p><a href="{% url "wizzard_step" 'category' %}">Изменить</a></p>#}
{#                        {% else %}#}
{#                            Группа не выбрана#}
{#                            <p><a href="{% url "wizzard_step" 'category' %}">Выбрать</a></p>#}
{#                        {% endif %}#}
{#                    </div>#}
{#                </li>#}
{##}
{#                <li>#}
{#                    <div class="serv_left">#}
{#                        2#}
{#                    </div>#}
{#                    <div class="serv_right">#}
{#                        {% if issue %}#}
{#                            Выбрана проблема «{% wizzard_group_name issue.name %}»#}
{#                            <p><a href="{% url "wizzard_step" 'issue' %}">Изменить</a></p>#}
{#                        {% else %}#}
{#                            Проблема не выбрана#}
{#                            <p><a href="{% url "wizzard_step" 'issue' %}">Выбрать группу проблем</a></p>#}
{#                        {% endif %}#}
{#                    </div>#}
{#                </li>#}
{##}
{##}
{#            </ul>#}
{##}
{#        </div>#}
{#    </div>#}
{% endblock right-column %}
