{% extends 'wizard_base.html' %}

{% block before-main-wrap %}
    <div class="steps">
        <ul>
            <li class="active first">
                <div>
                    <span>Выберите группу</span>
                </div>
            </li>
            <li>
                <div>
                    <span>Определите проблему</span>
                </div>
            </li>
            <li>
                <div>
                    <a href="{% url "wizzard_step" 'experts' %}">Выберите специалиста</a>
                </div>
            </li>
            <li>
                <div>
                    <span>Выберите вид консультации и удобное время</span>
                </div>
            </li>
            <li class="last">
                <div>
                    <span>Оплатите услугу и получите помощь</span>
                </div>
            </li>

        </ul>
    </div>
{% endblock before-main-wrap %}

{% block main-content %}
    <div class="step step1">
        <h1>Шаг 1. Выберите группу</h1>

        <div class="descr">
        </div>
        <div class="change_group">

            <form action="" method="post">{% csrf_token %}
                {{ wizard.management_form }}
                {% for group in categories %}
                    {% include "step1_group.html" %}
                {% endfor %}
            </form>

            <div class="group_item1 last">
                {% include "simple_go2experts.html" %}
            </div>
        </div>

    </div>
{% endblock main-content %}


{% block right-column %}
    <div class="b-services1">
        <div class="b-services1-cont">
            <div class="title">
                Шаг 1
            </div>

            <ul class="service-menu1">
                <li>
                    <div class="serv_right">
                        Вы можете определить группу, к которой вы себя относите
                    </div>
                </li>
            </ul>
        </div>
    </div>
{% endblock right-column %}
