{% extends 'wizard_base.html' %}

{% block before-main-wrap %}
    <div class="steps">
        <ul>
            <li class="first">
                <div>
                    <a  href="{% url "wizzard_step" 'category' %}">Выберите группу</a>
                </div>
            </li>
            <li class="active">
                <div>
                    <a href="{% url "wizzard_step" 'issue' %}">Определите проблему</a>
                </div>
            </li>
            <li>
                <div>
                    <a href="{% url "wizzard_step" 'experts' %}">Выберите специалиста</a>
                </div>
            </li>
            <li>
                <div>
                    <span>Выберите вид консультации и удобное время</span>
                </div>
            </li>
            <li class="last">
                <div>
                    <span>Оплатите услугу и получите помощь</span>
                </div>
            </li>

        </ul>
    </div>
{% endblock before-main-wrap %}

{% block main-content %}
    <div class="step step2">

        <h1>Шаг 2. Определите проблему</h1>
        <div class="descr">
            <p>
                Чтобы сделать выбор специалиста более простым, Вы можете сформулировать в ключевом слове или словосочетании ваш вопрос.  Альтернативой может быть просмотр полного списка специалистов.
            </p>
        </div>
        <div class="change_problem">
            <div class="b-frame change_problem_left">
                <div class="frame round-10">
                    <div class="" style="padding: 15px; width: 400px;">
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ wizard.management_form }}

                            {% if groups %}
                                {% for k,v in groups.items %}
                                    <h3>{{ k }}</h3>
                                    {% include "step2_group_level345.html" with issues=v %}
                                {% endfor %}
                            {% else %}
                                {% for issue in issues %}
                                    {% if issue.children.all %}
                                        <h3>{{ issue }}</h3>

                                        {% include "step2_group_level345.html" with issues=issue.children.all %}
                                    {% else %}
                                        <ul style="margin-bottom:0px;">
                                            <li>
                                                <button class="as_link" name="issue-issue" type="submit" value="{{ issue.id }}">
                                                    {{ issue.name }}
                                                </button>
                                            </li>
                                        </ul>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}


                        </form>


                    </div>

                </div>
                <div class="shadow round-10"></div>
            </div>
            <div class="change_problem_right">
                {% include "simple_go2experts.html" %}
            </div>
        </div>
        <a href="/wizzard/{{ prev_step }}/" class="wizzard-back-link">Вернуться на предыдущую страницу</a>
    </div>
{% endblock main-content %}

{% block right-column %}
    <div class="b-services1">
        <div class="b-services1-cont">
            <div class="title">
                Шаг 2
            </div>

            <ul class="service-menu1">
                <li>
                    <div class="serv_left">
                        1
                    </div>
                    <div class="serv_right">
                        {% if category %}
                            Выбрана группа «{{ category.name }}»
                            <p><a href="{% url "wizzard_step" 'category' %}">Изменить</a></p>
                        {% else %}
                            Группа не выбрана
                            <p><a href="{% url "wizzard_step" 'category' %}">Выбрать</a></p>
                        {% endif %}
                    </div>
                </li>


            </ul>

        </div>
    </div>
{% endblock right-column %}
