{% extends 'wizard_base.html' %}


{% block before-main-wrap %}
    <div class="steps">
        <ul>
{#            <li class="first">#}
{#                <div>#}
{#                    <a  href="{% url "wizzard_step" 'category' %}">Выберите группу</a>#}
{#                </div>#}
{#            </li>#}
{#            <li class="">#}
{#                <div>#}
{#                    {% if issue %}#}
{#                        <a href="{% url "wizzard_step" 'issue' %}">Определите проблему</a>#}
{#                    {% else %}#}
{#                        <span>Определите проблему</span>#}
{#                    {% endif %}#}
{#                </div>#}
{#            </li>#}
            <li>
                <div>
                    <a href="{% url "wizzard_step" 'experts' %}">Выберите специалиста</a>
                </div>
            </li>
            <li class="active">
                <div>
                    <span>Выберите вид консультации и удобное время</span>
                </div>
            </li>
            <li class="last">
                <div>
                    <span>Уведомление специалиста</span>
                </div>
            </li>

        </ul>
    </div>
{% endblock before-main-wrap %}

{% block content %}
    <div class="right-column">
        {% block right-column %}
{#            {% load util %}#}
{#            <div class="b-services1">#}
{#                <div class="b-services1-cont">#}
{#                    <div class="title">#}
{#                        Шаг 4#}
{#                    </div>#}
{##}
{##}
{#                    <ul class="service-menu1">#}
{#                        <li>#}
{#                            <div class="serv_left">#}
{#                                1#}
{#                            </div>#}
{#                            <div class="serv_right">#}
{#                                {% if category %}#}
{#                                    Выбрана группа «{{ category.name }}»#}
{#                                    <p><a href="{% url "wizzard_step" 'category' %}">Изменить</a></p>#}
{#                                {% else %}#}
{#                                    Группа не выбрана#}
{#                                    <p><a href="{% url "wizzard_step" 'category' %}">Выбрать</a></p>#}
{#                                {% endif %}#}
{#                            </div>#}
{#                        </li>#}
{##}
{#                        <li>#}
{#                            <div class="serv_left">#}
{#                                2#}
{#                            </div>#}
{#                            <div class="serv_right">#}
{#                                {% if issue %}#}
{#                                    Выбрана проблема «{% wizzard_group_name issue.name %}»#}
{#                                    <p><a href="{% url "wizzard_step" 'issue' %}">Изменить</a></p>#}
{#                                {% else %}#}
{#                                    Проблема не выбрана#}
{#                                    <p><a href="{% url "wizzard_step" 'issue' %}">Выбрать группу проблем</a></p>#}
{#                                {% endif %}#}
{#                            </div>#}
{#                        </li>#}
{##}
{##}
{#                        <li>#}
{#                            <div class="serv_left">#}
{#                                3#}
{#                            </div>#}
{#                            <div class="serv_right">#}
{#                                {% if expert %}#}
{#                                    Выбран специалист {{ expert.expertblank.first_name }} {{ expert.expertblank.last_name }}#}
{#                                    <p><a href="{% url "wizzard_step" 'experts' %}">Изменить</a></p>#}
{#                                {% else %}#}
{#                                    Специалист не выбран#}
{#                                    <p><a href="{% url "wizzard_step" 'experts' %}">Выбрать специалиста</a></p>#}
{##}
{#                                {% endif %}#}
{##}
{##}
{#                            </div>#}
{#                        </li>#}
{##}
{##}
{#                    </ul>#}
{##}
{#                </div>#}
{#            </div>#}
        {% endblock right-column %}
    </div>
    <div id="content" style="overflow: visible;padding-left:0px;width:763px;float:left;">
        {% block main-content %}
            <div class="step step4" style="min-height: 600px;">

                <h1>Шаг 2. Выберите удобные дату и время</h1>

                <div class="change_service">
                    {% include "step4_content_item2.html" %}
                </div>
                <a href="/wizzard/{{ prev_step }}/" class="wizzard-back-link">Вернуться на предыдущую страницу</a>

            </div>
        {% endblock main-content %}
    </div>
    <div class="clear"></div>
{% endblock content %}
