<div class="b-services1">
    <div class="b-services1-cont">
        <div class="title">
            Шаг 1
        </div>

        <ul class="service-menu1">
            <li>
                <div class="serv_right">
                    Вы можете определить группу, к которой вы себя относите
                </div>
            </li>
        </ul>
    </div>
</div>
