<button name="category-category" type="submit" value="{{ group.id }}" class="wizzard_step1_btn">
    <div class="group_item round-10">
        <a href="#"></a>
        <h2>
            <span class="as_link" >
                <img src="{{ MEDIA_URL }}{{ group.icon }}"/>{{ group.name }}
            </span>
        </h2>
        <div>
            {% autoescape off %}
                {{ group.description_short }}
            {% endautoescape %}
        </div>
    </div>
</button>