<div class="step step2">

    <h1>Шаг 2. Определите проблему</h1>

    <div class="descr">
        <p>
            Чтобы сделать выбор специалиста более простым, Вы можете сформулировать в ключевом слове или словосочетании ваш вопрос.  Альтернативой может быть просмотр полного списка специалистов.
        </p>
    </div>
    <div class="change_problem">
        <div class="b-frame change_problem_left">
            <div class="frame round-10">
                <div class="" style="padding: 15px; width: 400px;">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ wizard.management_form }}

                        {% if groups %}
                            {% for k,v in groups.items %}
                                <h3>{{ k }}</h3>
                                {% include "step2_group_level345.html" with issues=v %}
                            {% endfor %}
                        {% else %}
                            {% for issue in issues %}
                                {% if issue.children.all %}
                                    <h3>{{ issue }}</h3>

                                    {% include "step2_group_level345.html" with issues=issue.children.all %}
                                {% else %}
                                    <ul style="margin-bottom:0px;">
                                        <li>
                                            <button class="as_link" name="issue-issue" type="submit" value="{{ issue.id }}">
                                                {{ issue.name }}
                                            </button>
                                        </li>
                                    </ul>
                                {% endif %}
                            {% endfor %}
                        {% endif %}


                    </form>


                </div>

            </div>
            <div class="shadow round-10"></div>
        </div>
        <div class="change_problem_right">
            {% include "go2experts.html" %}
        </div>
    </div>
</div>
