<div class="steps">
    <ul>
        <li class="first">
            <div>
                <a  href="{% url "wizzard_step" 'category' %}">Выберите группу</a>
            </div>
        </li>
        <li class="active">
            <div>
                <a href="{% url "wizzard_step" 'issue' %}">Определите проблему</a>
            </div>
        </li>
        <li>
            <div>
                <a href="{% url "wizzard_step" 'experts' %}">Выберите специалиста</a>
            </div>
        </li>
        <li>
            <div>
                <span>Выберите вид консультации и удобное время</span>
            </div>
        </li>
        <li class="last">
            <div>
                <span>Оплатите услугу и получите помощь</span>
            </div>
        </li>

    </ul>
</div>
