{#<tr class="serv_detail1">#}
{#    <td colspan="6">#}
        <div class="b-frame serv">
            <div class="frame round-10">
                <h2>Развёрнутый писменный ответ. 1000 рублей</h2>
                <p>текст текст текст</p>


                <form action="" method="post" >{% csrf_token %}
                    {{ wizard.management_form }}
                    <input type="hidden" id="id_time-type_tag" name="time-type_tag" value="text" >

                    <input type="hidden" id="id_time-datetime0" name="time-datetime" class="datepicker" value="DD.MM.YYYY"/>

                    <input class="btn btn-primary" type="submit" value="Заказать"/>
                </form>
            </div>
            <div class="shadow round-10"></div>
        </div>
{#    </td>#}
{#</tr>#}
{##}
