<div class="step kabinet specialist_list step3">

    <h1>Шаг 3. Выберите специалиста</h1>

    <div class="search_spec">
        <div class="search_spec_left">
            <a href="{% url "expert-list" %}">Все специалисты</a>
        </div>
        <div class="search_spec_right">
            <h4>Только специалисты, готовые оказать услугу в удобное для меня время:</h4>

            <form method="GET" action="">
                <table width="100%" cellpadding="0" cellspacing="">
                    <tr>
                        <td valign="middle">
                            с &nbsp;<input type="text" style="margin: 0px;" name="range_start" class="datepicker" value="{{ range_start }}" placeholder="DD/MM/YYYY"/> <img
                                data-target="range_start" class="show-calendar"
                                src="{{ STATIC_URL }}psyco/img/images/calendar.png"/> до <input class="datepicker"
                                                                                                style="margin: 0px;"
                                                                                                   type="text"
                                                                                                   name="range_end"
                                                                                                   value="{{ range_end }}" placeholder="DD/MM/YYYY"/>
                            <img class="show-calendar" data-target="range_end"
                                 src="{{ STATIC_URL }}psyco/img/images/calendar.png"/>
                        </td>
                        <td valign="middle"><label><input {% if is_workday %}checked="checked" {% endif %} type="checkbox" name="is_workday"/> В будние</label></td>
                        <td align="left" valign="middle" rowspan="2"><input class="round-15" type="submit"
                                                                             value="Показать"/></td>
                    </tr>
                    <tr>
                        <td align="right" valign="middle" style="padding-top: 15px; width: 290px;">
                            Время консультации:&nbsp;
                            <select name="time" style="margin-right: 25px;">
                                <option {% if time == "all" %}selected="selected"{% endif %} value="all">Любое</option>
                                <option {% if time == "morning" %}selected="selected"{% endif %} value="morning">Утро</option>
                                <option {% if time == "day" %}selected="selected"{% endif %} value="day">День</option>
                                <option {% if time == "evening" %}selected="selected"{% endif %} value="evening">Вечер</option>
                            </select>
                        </td>
                        <td valign="middle"><label><input {% if is_holiday %}checked="checked" {% endif %} type="checkbox" name="is_holiday"/> В выходные</label></td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="clear"></div>
    </div>
    <div class="person_cont">
    {% if experts %}

        {% for expertblank in experts %}

            {% include "step3__expert_list__item.html" with expert=expertblank %}
        {% endfor %}

    {% else %}
        <p>Ничего не нашли</p>
    {% endif %}



        <div class="clear"></div>
    </div>

</div>
