<script type="text/javascript">
    $(function()
    {
        $(".mode-msg-close").click(function()
        {
            $(".mode-msg").hide();
            return false;
        });
        $(".mode-table tr td a").click(function()
        {
            if (!$(this).hasClass('passed'))
            {
                $(".mode-table").hide();
                var _this = $(this);
                $.ajax({
                    type: 'GET',
                    url: '/wizzard/get_periods_for_choose/'+$(this).attr('href') + '&expert=' + {{ expert.pk }},
{#                    url: '/wizzard/get_periods/'+$(this).attr('href') + '&expert=' + {{ expert.pk }},#}
                    success: function(resp)
                    {
                        $('input[name="time-datetime"]').val(_this.attr('href').split('?day=')[1]);
                        $(".mode-table").after(resp);
                        $(".schedule-title").hide();
                        $("input.order-consult").show();
{#                        $(".mode-msg div.mode-msg-content").html(resp);#}
{#                        $(".mode-msg").show();#}
{#                        var pos = _this.position();#}
{#                        $(".mode-msg").css({'margin-left': pos.left, 'margin-top': pos.top});#}
                    }
                });
            }
            return false;
        });
    });
</script>
{#<h2>Расписание специалиста</h2>#}
{#        <div class="schedule-title">#}
{#            <a href="?year={{ prev_year }}&month={{ prev_month }}">#}
{#                <img src="/static/psyco/img/msg-left-arr.png" /></a>#}
{#            <span>{{ now_month_human }} {{ now_year }}</span>#}
{#            <a href="?year={{ next_year }}&month={{ next_month }}">#}
{#                <img src="/static/psyco/img/msg-right-arr.png" />#}
{#            </a>#}
{#        </div>#}
        <div class="mode-msg" style="display: none;padding: 10px; width: 130px;">
            <a href="#" class="mode-msg-close">
                <img src="/static/psyco/img/gray-cross.png" style="width: 20px;" width="20" />
            </a>
            <div class="mode-msg-title">Рабочее время</div>
            <div class="mode-msg-content"></div>
        </div>
        <div class="schedule-title">
            <a href="?year={{ prev_year }}&month={{ prev_month }}" class="prev-month">
                <img src="/static/psyco/img/msg-left-arr.png" /></a>
            <span>{{ now_month_human }} {{ now_year }}</span>
            <a href="?year={{ next_year }}&month={{ next_month }}" class="next-month">
                <img src="/static/psyco/img/msg-right-arr.png" />
            </a>
        </div>
        <table class="mode-table schedule">
            <tr class="head">
                <td></td>
                <td><span title="Настроить расписание на все понедельники">Понедельник</span></td>
                <td><span title="Настроить расписание на все вторники">Вторник</span></td>
                <td><span title="Настроить расписание на все среды">Среда</span></td>
                <td><span title="Настроить расписание на все четверги">Четверг</span></td>
                <td><span title="Настроить расписание на все пятницы">Пятница</span></td>
                <td><span title="Настроить расписание на все субботы">Суббота</span></td>
                <td><span title="Настроить расписание на все воскресенья">Воскресенье</span></td>
            </tr>
            {% for d in calendar %}
                {% if forloop.first %}
                    <tr class="week-{{ d.2 }}">
                        <td class="left-head"><div title="Настроить расписание на всю неделю">{{ d.2|add:"1" }}<br> <br>н<br>е<br>д</div></td>
                        {% else %}
                        {% if forloop.counter0|divisibleby:"7" %}
                            </tr><tr class="week-{{ d.2 }}">
                            <td class="left-head"><div class="week-config" title="Настроить расписание на всю неделю">{{ d.2|add:"1" }}<br> <br>н<br>е<br>д</div></td>
                        {% endif %}
                {% endif %}
            <td class="{% if not d.0 %}invisibled{% endif %} "
                    {% if d.1 %}
                style="{% if d.0 < now_day and this_month %}background: #eee; opacity: 0.3;{% else %}border: 2px solid #1AB9DB; background: #F4FAFB;{% endif %}"
                    {% else %}
                        {% if d.0 %}
                        style="background: #eee; opacity: 0.3;"
                        {% endif %}
                    {% endif %}
                    >
                <a href="?day={{ d.0 }}.{{ now_month }}.{{ now_year }}" class="
                {% if not d.1 %}
                    {% if d.0 < now_day or this_month %}passed{% endif %}
                {% endif %}
                ">
                    <span class="daynumber">{{ d.0 }}</span>
                    <div class="schedule-img">
                        {% if d.1 %}
                            {% if this_month %}
                                {% if now_day <= d.0 %}
                                    <img src="/static/psyco/img/msg-right-arr.png">
                                {% endif %}
                            {% else %}
                                <img src="/static/psyco/img/msg-right-arr.png">
                            {% endif %}
                        {% endif %}
                    </div>
                </a>
            </td>
            {% if forloop.last %}
                </tr>
            {% endif %}
            {% endfor %}

        </table>
