{% load util %}
<ul>
    {% for issue in issues %}
        <li>
            <button class="as_link" name="issue-issue" type="submit" value="{{ issue.id }}">
                {% wizzard_group_name issue.name %}
{#                {{ issue.name }}#}
            </button></li>
    {% endfor %}
</ul>
