<div class="steps">
    <ul>
        <li class="first">
            <div>
                <a  href="{% url "wizzard_step" 'category' %}">Выберите группу</a>
            </div>
        </li>
        <li class="">
            <div>
                {% if issue %}
                    <a href="{% url "wizzard_step" 'issue' %}">Определите проблему</a>
                {% else %}
                    <span>Определите проблему</span>
                {% endif %}
            </div>
        </li>
        <li>
            <div>
                <a href="{% url "wizzard_step" 'experts' %}">Выберите специалиста</a>
            </div>
        </li>
        <li class="">
            <div>
                <a href="{% url "wizzard_step" 'time' %}">Выберите вид консультации и удобное время</a>
            </div>
        </li>
        <li class="active last">
            <div>
                <span>Оплатите услугу и получите помощь</span>
            </div>
        </li>

    </ul>
</div>
