<div class="steps">
    <ul>
        <li class="first{% ifequal active 'step1' %} active{% endifequal %}">
            <div>
                <a  href="{% url "step1" %}">Выберите группу</a>
            </div>
        </li>
        <li class="{% ifequal active 'step2' %}active{% endifequal %}">
            <div>
                <a href="#">Определите проблему</a>
            </div>
        </li>
        <li class="{% ifequal active 'step3' %}active{% endifequal %}">
            <div>
                <a href="{% url "step3" 0 %}">Выберите специалиста</a>
            </div>
        </li>
        <li class="{% ifequal active 'step4' %}active{% endifequal %}">
            <div>
                <a href="#">Выберите вид консультации и удобное время</a>
            </div>
        </li>
        <li class="last{% ifequal active 'step5' %} active{% endifequal %}">
            <div>
                <a href="{% url "step5" %}">Оплатите услугу и получите помощь</a>
            </div>
        </li>

    </ul>
</div>
