{% load util %}
<div class="b-services1">
    <div class="b-services1-cont">
        <div class="title">
            Шаг 5
        </div>


        <ul class="service-menu1">
            <li>
                <div class="serv_left">
                    1
                </div>
                <div class="serv_right">
                    {% if category %}
                        Выбрана группа «{{ category.name }}»
                        <p><a href="{% url "wizzard_step" 'category' %}">Изменить</a></p>
                    {% else %}
                        Группа не выбрана
                        <p><a href="{% url "wizzard_step" 'category' %}">Выбрать</a></p>
                    {% endif %}
                </div>
            </li>

            <li>
                <div class="serv_left">
                    2
                </div>
                <div class="serv_right">
                    {% if issue %}
                        Выбрана проблема «{% wizzard_group_name issue.name %}»
                        <p><a href="{% url "wizzard_step" 'issue' %}">Изменить</a></p>
                    {% else %}
                        Проблема не выбрана
                        <p><a href="{% url "wizzard_step" 'issue' %}">Выбрать группу проблем</a></p>
                    {% endif %}
                </div>
            </li>


            <li>
                <div class="serv_left">
                    3
                </div>
                <div class="serv_right">
                    {% if expert %}
                        Выбран специалист {{ expert.expertblank.first_name }} {{ expert.expertblank.last_name }}
                        <p><a href="{% url "wizzard_step" 'experts' %}">Изменить</a></p>
                    {% else %}
                        Специалист не выбран
                        <p><a href="{% url "wizzard_step" 'experts' %}">Выбрать специалиста</a></p>

                    {% endif %}


                </div>
            </li>

            <li>
                <div class="serv_left">
                    4
                </div>
                <div class="serv_right">
                    {% if expert %}
                        Выбрана дата и время: {% ru_strftime date=datetime format="%d %B %Y в %H:%M" %}
                        <p><a href="{% url "wizzard_step" 'time' %}">Изменить</a></p>
                    {% else %}
                        Дата и время не выбраны
                        <p><a href="{% url "wizzard_step" 'time' %}">Выбрать дату и время</a></p>

                    {% endif %}


                </div>
            </li>


        </ul>

    </div>
</div>
