{% load i18n bootstrap_tags%}
{% load ulogin_tags %}
{% load thumbnail %}
{% load util %}
<div class="step step5 pay_cont">

    <h1>Шаг 5. Оплата</h1>
{% if request.user.is_authenticated %}
    <div id="pay_head">
    </div>

    <div class="b-frame ">
        <div class="frame round-5">
            <div class="pay-info-head">
                Информация о консультации:
            </div>
            <div class="pay-info-body">
                <div class="pay-info-body-img">
                    {% thumbnail expert.expertblank.avatar "93x108" crop="center" as im %}
                        <img src="{{ im.url }}" />
                    {% endthumbnail %}
                </div>
                <div class="specialist-photo-name">
                    <b>{{ expert.expertblank.first_name }}</b><br/>
                    {{ expert.expertblank.middle_name }}<br />
                    {{ expert.expertblank.last_name }}
                </div>
            <div  class="pay-info-consl-chars">
                <div>
                    <span>Дата консультации:</span> {% ru_strftime date=datetime format="%d %B %Y, %H:%M" %}
                </div>
                <div>
                    <span>Продолжительность консультации:</span> {{ value }} мин.
                </div>
                <div>
                    <span>Стоимость одного часа работы специалиста:</span> {{ expert.expertblank.fix }} руб.
                </div>
            </div>
            {% if needmoremoney %}
                <div class="pay-info-need-more">
                    Для заказа консультации вам необходимо иметь на вашем личном счете средства, достаточные для оплаты 1 часа консультации специалиста.<br>
                    На данный момент у вас на счете {{ balance.sum }} руб.<br>
                    Вам необходимо пополнить счет минимум на {{ needmoremoney }} руб.
                    <br />
                    <br />
                    <br />
                    <div><a href="?updatemoney=1">[ ТЕСТИРОВАНИЕ ] Добавить 3000 р. на счет</a></div>
                    <br />
                </div>
            {% endif %}
            </div>
            {% if needmoremoney %}
                <form id="balance-pay-form" method="POST" accept-charset="utf-8" target="_blank" action="http://sprypay.ru/sppi/" >
                    {% for field in balance_payment_form %}
                        <p>
                            {{ field }}
                        </p>
                    {% endfor %}
                    {#                                <input type="text" value="100.0" name="balance-pay-sum" />#}
                    <input type="hidden" value="balance-pay-ok" />
                    <input class="button" type="submit" style="border: 0px;" value="Пополнить" id="balance-pay-btn">
                </form>
{#                {{ iframe|safe }}#}
            {% else %}
                <div class="pay-info-enough-money">
                    На вашем балансе достаточно средств для проведения платежа.<br />
                    Нажмите на "Уведомить специалиста", чтобы отправить заявку на консультацию.
                </div>
                <form action="" method="post">{% csrf_token %}
                    <table>
                        {{ wizard.management_form }}
                        <input type="hidden" id="id_pay-some" name="pay-some" value="1" >
                        {#                        {% if wizard.form.forms %}#}
{#                            {{ wizard.form.management_form }}#}
{#                            {% for form in wizard.form.forms %}#}
{#                                {{ form }}#}
{#                            {% endfor %}#}
{#                        {% else %}#}
{#                            {{ wizard.form }}#}
{#                        {% endif %}#}
                    </table>

                    <input type="submit" value="Уведомить специалиста" class="button" style="border: 0px;"/>
                </form>
            {% endif %}
        </div>
        <div class="shadow round-5"></div>
    </div>

{#    <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>#}


{% else %}
    <form class="pay-login-form" method="{{ method|default:"post" }}" action="/accounts/basic/login/" {{ enctype }}>
        {% csrf_token %}
        {{ wizard.management_form }}
        <input type="hidden" name="next" value="/wizzard/pay/" />

        {{ form|as_bootstrap }}

        {% if formset %}
            <div class="formsets">
                {% for form in formset %}
                    <div class="formset">
                        {{ form|as_bootstrap }}
                    </div>
                {% endfor %}
                {{ formset.management_form }}
            </div>
        {% endif %}
        <p>
            <a href="{% url "auth_password_reset" %}">Забыли пароль?</a>
            <br />
            <a href="{% url "registration_register" %}">Регистрация?</a>
        </p>

        <div class="form-actions">
            <button class="btn btn-primary" type="submit">
                {% with text=submit_text|default:"Войти" %}
                    {% blocktrans with text=text %}
                        {{ text }}
                    {% endblocktrans %}
                {% endwith %}
            </button>
        </div>
    </form>
{% endif %}
</div>
