<div class="steps">
    <ul>
        <li class="active first">
            <div>
                <span>Выберите группу</span>
            </div>
        </li>
        <li>
            <div>
                <span>Определите проблему</span>
            </div>
        </li>
        <li>
            <div>
                <a href="{% url "wizzard_step" 'experts' %}">Выберите специалиста</a>
            </div>
        </li>
        <li>
            <div>
                <span>Выберите вид консультации и удобное время</span>
            </div>
        </li>
        <li class="last">
            <div>
                <span>Оплатите услугу и получите помощь</span>
            </div>
        </li>

    </ul>
</div>
