<div class="step step4" style="min-height: 600px;">

<h1>Шаг 4. Выберите вид услуги и удобное время</h1>

<div class="change_service">
{#    <table width="100%" cellpadding="0" cellspacing="0">#}
{#        <tr>#}
{#            <th style="width:280px" colspan="2">Тип услуги</th>#}
{#            <th style="width:170px;padding-left:15px">Продолжительность<br/> сессии, минут</th>#}
{#            <th style="width:62px;padding-left:15px">Итого,<br/> руб</th>#}
{#            <th style="width:115px;padding-left:20px">Дата</th>#}
{#            <th style="width:93px;">Выберите время начала сессии</th>#}
{#        </tr>#}



{#        {% include "step4_content_item.html" %}#}

        {% include "step4_content_item2.html" %}


{#    </table>#}

</div>

</div>
