{% load thumbnail %}
<script type="text/javascript">
    $(function()
    {
        var expert_price = {{ expert.expertblank.fix|default:"500" }};
{#        $('#slider').slider({range: [15, 150]});#}
{#        var valMap = [60, 90, 120, 150, 180, 210];#}
{#        $("#slider").slider({#}
{#            min: 0,#}
{#            max: valMap.length - 1,#}
{#            values: [0],#}
{#            slide: function(event, ui) {#}
{#                $('#summ-for-consl-value').text((valMap[ui.values[0]]*expert_price)/60);#}
{#                $('#id_time-value').val(valMap[ui.values[0]]);#}
{#            }#}
{#        });#}

        $('.controls select').change(function()
        {
            $(".available-help").html('');
            var date = $("#id_time-datetime").val();
            var time_hour = $('select[name="time-hour-consl"]').val();
            var time_min = $('select[name="time-min-consl"]').val();
            if (date != '' && time_hour != '-1' && time_min != -1)
            {
                $.ajax({
                    url: '/experts/check-interval-ajax/',
                    type: 'GET',
                    data: {
                        'date': date,
                        'time-hour': time_hour,
                        'time-min': time_min
                    },
                    success: function(resp)
                    {
                        if (resp != '1')
                        {
                            $('.available-help').html('Данный период недоступен для проведения консультации.<br />Выберите другое время');
                        }
                        else
                        {
                            if (time_hour.length != 2)
                            {
                                time_hour = '0' + time_hour;
                            }
                            $('input[name="time-datetime"]').val(date + '-' + time_hour + '-' + time_min);
                        }
                    }
                });
{#                console.log('DATE: ' + date);#}
{#                console.log('HOUR: ' + time_hour);#}
{#                console.log('MIN: ' + time_min);#}
            }
        });

        $("#date-time-form").submit(function()
        {
            $(".available-help").html("");
            if ($('input[name="time-datetime"]').val() != '' &&
                    $('input[name="time-datetime"]').val()[0] != '-' &&
                    $(".ct-hours input[type='radio']:checked").length)
            {
                $('input[name="time-datetime"]').val($('input[name="time-datetime"]').val() + '-' + $(".ct-hours input[type='radio']:checked").val() + '-' +
            $(".ct-minutes input[type='radio']:checked").val());
            }
            else
            {
                $(".available-help").html("Введите дату и время консультации");
                return false;
            }
            if (!($("#id_time-datetime").val() != "DD.MM.YYYY" && $('select[name="time-hour-consl"]').val() != "-1"))
            {
                $(".available-help").html("Введите дату и время консультации");
                return false;
            }
        });
    })
</script>
{#<tr class="serv_detail1">#}
{#    <td colspan="6">#}
        <div class="b-frame serv">
            <div class="frame round-10">
                <div class="specialist-photo">
                <a href="{% url "expert-details" expert.username %}">
                    <div class="specialist-photo-item">
                        {% thumbnail expert.expertblank.avatar "93x108" crop="center" as im %}
                        <img src="{{ im.url }}" />
                        {% endthumbnail %}
                    </div>
                    <div class="specialist-photo-name">
                        <b>{{ expert.expertblank.last_name }}</b><br/>
                        {{ expert.expertblank.first_name }}<br />
                        {{ expert.expertblank.middle_name }}
                    </div>
                </a>
                </div>

                {% include 'step4_content_schedule.html' %}

{#                <h2 style="margin-left: 120px;margin-top: 30px;">Длительность консультации:</h2>#}
                <div style="margin-left: 120px;">
{#                    <div id="summ-for-consl">{{ expert.expertblank.consultation_time }} мин ( {{ expert.expertblank.fix }} руб.)</div>#}
{#                    <div id="slider"></div>#}
{#                    <div id="amount">#}
{#                        <span>15</span>#}
{#                        <span>30</span>#}
{#                        <span>60</span>#}
{#                        <span style="width: 31px;">90</span>#}
{#                        <span>120</span>#}
{#                        <span>150</span>#}
{#                        <span>180</span>#}
{#                        <span>210</span>#}
{#                    </div>#}
                </div>



{#                <h2 style="margin-left: 120px;">Дата и время консультации:</h2>#}
{##}
                <form action="" method="post" id="date-time-form">{% csrf_token %}
                    {{ wizard.management_form }}
                    <input type="hidden" id="id_time-value" name="time-value" value="{{ expert.expertblank.consultation_time }}" >
                    <input type="hidden" id="id_datetime" name="time-datetime" value="" >
{##}
{#                    <div class="control-group">#}
{#                        <label class="control-label" for="inputEmail">Дата консультации</label>#}
{#                        <div class="controls">#}
{#                            <input type="text" id="id_time-datetime" name="" class="datepicker limitedpicker" value="DD.MM.YYYY"/> <img#}
{#                                data-target="date" class="show-calendar"#}
{#                                src="{{ STATIC_URL }}psyco/img/images/calendar.png"/>#}
{#                            <select name="time-hour-consl" class="chzn-select">#}
{#                                <option value="-1">-----</option>#}
{#                                <option value="0">0</option>#}
{#                                <option value="1">1</option>#}
{#                                <option value="2">2</option>#}
{#                                <option value="3">3</option>#}
{#                                <option value="4">4</option>#}
{#                                <option value="5">5</option>#}
{#                                <option value="6">6</option>#}
{#                                <option value="7">7</option>#}
{#                                <option value="8">8</option>#}
{#                                <option value="9">9</option>#}
{#                                <option value="10">10</option>#}
{#                                <option value="11">11</option>#}
{#                                <option value="12">12</option>#}
{#                                <option value="13">13</option>#}
{#                                <option value="14">14</option>#}
{#                                <option value="15">15</option>#}
{#                                <option value="16">16</option>#}
{#                                <option value="17">17</option>#}
{#                                <option value="18">18</option>#}
{#                                <option value="19">19</option>#}
{#                                <option value="20">20</option>#}
{#                                <option value="21">21</option>#}
{#                                <option value="22">22</option>#}
{#                                <option value="23">23</option>#}
{#                            </select> час.#}
{#                            <select name="time-min-consl" class="chzn-select">#}
{#                                <option value="0">00</option>#}
{#                                <option value="15">15</option>#}
{#                                <option value="30">30</option>#}
{#                                <option value="45">45</option>#}
{#                            </select> мин.#}
{#                        </div>#}
{#                    </div>#}
                    <div class="available-help"></div>
                    <input class="order-consult" type="submit" style="display: none;" value=""/>
                </form>
            </div>
            <div class="shadow round-10"></div>
        </div>
{#    </td>#}
{#</tr>#}
