<div class="step step1">
    <h1>Шаг 1. Выберите группу</h1>

<div class="descr">
{#    <p>Вы знаете, что сложно быть специалистом во всем. Мы знаем, что причины вопросов и переживаний во многом#}
{#        связаны#}
{#        с возрастом и социальным статусом человека. Среди наших специалистов есть те, которые специализируются#}
{#        на работе#}
{#        с определенными возрастными или социальными группами, а это значит, что у большинства опыта и, скорее#}
{#        всего, они#}
{#        смогут лучше понять вас.</p>#}
{##}
{#    <p>Поэтому мы предлагаем вам определить группу, к которой вы себя относите, и тогда мы сможем#}
{#        более точно рекомендовать специалистов для ее решения.</p>#}
</div>
<div class="change_group">

    <form action="" method="post">{% csrf_token %}
        {{ wizard.management_form }}
        {% for group in categories %}
            {% include "step1_group.html" %}
        {% endfor %}
    </form>




    <div class="group_item1 last">
        {% include "go2experts.html" %}
    </div>
</div>

</div>
