{% load thumbnail %}
<div class="person">
    {% url "expert-details" expert.username as expert_page %}

    {% thumbnail expert.expertblank.avatar "93x108" crop="center" as im %}
        <a class="specialist_photo_link" href="{{ expert_page }}?issue={{ issue.pk }}">
            <img class="specialist_photo" src="{{ im.url }}" alt="">
            {% if expert.expertblank.online %}
                <img class="status" src="{{ STATIC_URL }}psyco/img/online.png"/>
            {% endif %}
            {#            <img class="specialist_info" src="{{ STATIC_URL }}psyco/img/user_icons/info.png"/>#}
                {% if expert.expertblank.for_parents %}
                    <div title="Родителям" class="for_icons" style="top: 0px; background-position: 50% 277px;"></div>
                {% else %}
                    <div title="Родителям" class="for_icons" style="top: 0px; background-position: 50% 306px;"></div>
                {% endif %}
                {% if expert.expertblank.for_adults %}
                    <div title="Взрослым" class="for_icons" style="top: 23px; background-position: 50% 103px;"></div>
                {% else %}
                    <div title="Взрослым" class="for_icons" style="top: 23px; background-position: 50% 132px;"></div>
                {% endif %}
                {% if expert.expertblank.for_teenagers %}
                    <div title="Подросткам" class="for_icons" style="top: 46px; background-position: 50% 75px;"></div>
                {% else %}
                    <div title="Подросткам" class="for_icons" style="top: 46px; background-position: 50% 45px;"></div>
                {% endif %}
                {% if expert.expertblank.for_families %}
                    <div title="Семейным парам" class="for_icons" style="top: 69px; background-position: 50% -59px;"></div>
                {% else %}
                    <div title="Семейным парам" class="for_icons" style="top: 69px; background-position: 50% -29px;"></div>
                {% endif %}
                {% if expert.expertblank.for_organizations %}
                    <div title="Организациям" class="for_icons" style="top: 92px; background-position: 50% -220px;"></div>
                {% else %}
                    <div title="Организациям" class="for_icons" style="top: 92px; background-position: 50% -192px;"></div>
                {% endif %}
        </a>
    {% endthumbnail %}
    <div class="name">
        <a href="{{ expert_page }}"></a>

        <div><b>{{ expert.expertblank.last_name }}</b></div>
        <div>{{ expert.expertblank.first_name }}</div>
        <div>{{ expert.expertblank.middle_name }}</div>
{#        <div class="fb-count">{{ expert.recal_expert.count }}</div>#}
    </div>
{#    <div class="b-frame bubble_person">#}
{#        <div class="frame round-10">#}
{#            <div class="person_left">#}
{##}
{#                {% thumbnail expert.expertblank.avatar "93x108" crop="center" as im %}#}
{#                    <a href="{{ expert_page }}?issue={{ issue.pk }}">#}
{#                        <img src="{{ im.url }}" alt="">#}
{#                    </a>#}
{##}
{#                {% endthumbnail %}#}
{##}
{#            </div>#}
{#            <div class="person_right">#}
{##}
{##}
{#                <div>{{ expert.expertblank.personal }}</div>#}
                {#                <div><b>Образование:</b> какой-то текст</div>#}
{#            </div>#}
{#            <div class="clear"></div>#}
{#            <div class="person_bottom">#}
{#                <div class="name">#}
{#                    <div><b>{{ expert.expertblank.last_name }}</b></div>#}
{#                    <div>{{ expert.expertblank.first_name }}</div>#}
{#                    <div>{{ expert.expertblank.middle_name }}</div>#}
{#                </div>#}
{##}
{#                <div class="fb-count">{{ expert.recal_expert.count }}</div>#}
{##}
{#                <form action="" method="post">#}
{#                    {% csrf_token %}#}
{#                    {{ wizard.management_form }}#}
{#                        <input type="hidden" name="wizard-current_step" value="experts" id="id_wizard-current_step">#}
{#                        <button class="zakaz round-15" type="submit" name="experts-expert" value="{{ expert.id }}">#}
{#                            <div>Заказать консультацию</div>#}
{#                        </button>#}
{#                </form>#}
{#                <a href="{{ expert_page }}?issue={{ issue.pk }}" class="read">Анкета и отзывы<br /> специалиста</a>#}
{#            </div>#}
{#        </div>#}
{#        <div class="shadow round-10"></div>#}
{#    </div>#}



    <form action="/wizzard/experts/" method="post">
        {% csrf_token %}
        <input type="hidden" name="wizard-current_step" value="experts" id="id_wizard-current_step">
        <table>
{#            {{ wizard.management_form }}#}
{#            {% if wizard.form.forms %}#}
{#                {{ wizard.form.management_form }}#}
{#                {% for form in wizard.form.forms %}#}
{#                    {{ form }}#}
{#                {% endfor %}#}
{#            {% else %}#}
{#            <input type="hidden" id="id_experts-expert" name="experts-expert" value="{{ expert.id }}">#}
{#                {{ wizard.form }}#}
{#            {% endif %}#}
        </table>
        <a href="{{ expert_page }}" class="expert-list-order-btn round-15 begin_btn order_consult">
            Подробнее
        </a>
{#        <button type="submit" name="experts-expert" value="{{ expert.pk }}" class="expert-list-order-btn round-15 begin_btn order_consult">#}
{#        </button>#}
    </form>

{#        <input class="btn btn-primary" type="submit" value="Заказать"/>#}
{#    </form>#}


</div>
