{% extends 'base.html' %}

{% block extra_script %}
    <script>
        $(function () {

            var dates = {};
            var ajax_dates = {};

            var loadDates = function (key, el) {
                $.ajax({
                    url:"/experts/workdays-ajax/",
                    dataType:'json',
                    data:{
                        key:key,
{#                        duration:duration#}
                    },
                    success:function (data) {
{#                        dates[duration][key] = data || [];#}
                        ajax_dates[key] = data;
                        $(el).datepicker("refresh");
                    }
                });
            };

{#            var highlightDays = function (date, duration) {#}
{#                var key;#}
{#                if (!dates[duration]) {#}
{#                    dates[duration] = {};#}
{#                }#}
{#                if (this && date) {#}
{#                    key = $.datepicker.formatDate('mm.yy', date);#}
{##}
{#                    if (dates[duration][key] === "loading") {#}
{#                        return [true, ''];#}
{#                    } else if (!dates[duration][key]) {#}
{#                        dates[duration][key] = "loading";#}
{#                        loadDates(key, this, duration);#}
{#                        return [true, ''];#}
{#                    } else {#}
{#                        var inArr = $.inArray($.datepicker.formatDate('dd.mm.yy', date), dates[duration][key]) >= 0;#}
{#                        return inArr ? [true, ''] : [false, ''];#}
{#                    }#}
{#                }#}
{#                return [true, ''];#}
{#            }#}

            var locale_datepicker = $.datepicker.regional["ru"]
            locale_datepicker.dateFormat = 'dd.mm.yy'
            $.datepicker.setDefaults(locale_datepicker);

            $(".datepicker").click(function()
            {
                var date = new Date();
                var month = date.getMonth()+1;
                var key = month + '.' + date.getFullYear();
                if (month.toString().length == 1)
                {
                    key = '0' + key;
                }
                if ($(this).hasClass("limitedpicker"))
                    loadDates(key, ".datepicker");
            });

            $(".datepicker").each(function () {
                var el = $(this),
                        form = el.closest("form"),
                        durEl = form.find('[name="duration"]'),
                        times = form.find(".serv6")

                durEl.on("change", function () {
                    el.val("");
                    times.html("");
                });

                $(this).datepicker({
                    minDate: 0,
                    onChangeMonthYear:function(year, month){
                        if (el.hasClass('limitedpicker'))
                        {
                            var key = month.toString() + '.' + year.toString();
                            if (month.toString().length == 1)
                            {
                                key = '0' + key;
                            }
                            if (!ajax_dates[key])
                            {
                                loadDates(key, this);
                            }
                        }
                    },
                    beforeShowDay:function (date) {
                        if (el.hasClass('limitedpicker'))
                        {
                            var key = $.datepicker.formatDate('mm.yy', date);
                            var date_key = $.datepicker.formatDate('dd.mm.yy', date);
                            var inArr = $.inArray(date_key, ajax_dates[key]) >= 0;
                            return inArr ? [true, ''] : [false, ''];
                        }
                        return [true, ''];
                    },
{#                    onSelect:function (dataText, instance) {#}
{#                        $.ajax('/order/timetable-free/1/', {#}
{#                            data:{date:dataText, duration:durEl.val()},#}
{#                            success:function (data) {#}
{#                                var fields = "";#}
{#                                times.html("");#}
{#                                for (i in data) {#}
{#                                    fields += '<div><label><input value="' + data[i] + '" name="time" type="radio">' + data[i] + '</label></div>';#}
{#                                }#}
{#                                times.html(fields);#}
{#                            }#}
{#                        })#}
{#                    }#}
                });
            })

            $('.show-calendar').click(function () {
                var el = $(this)
                el.parent().find('input[name="' + $(this).data('target') + '"]').datepicker('show')
            })

            $(".slider").each(function () {
                var el = $(this),
                        container = el.closest("form").find(".demo-price"),
                        slider_data = el.data("sliderdata"),
                        list_el = el.next("ul"),
                        duration_field = $('input[name="duration"]', el),
                        service_field = $('input[name="service"]', el),
                        len, step_width;


                var set_value = function (obj) {
                    container.text(obj.price);

                    if (duration_field.val() !== obj.duration) {
                        duration_field.val(obj.duration).trigger("change")
                    }
                    service_field.val(obj.pk)
                };

                var slide_handler = function (event, ui) {
                    set_value(slider_data[ui.value]);
                };

                if (slider_data) {
                    len = slider_data.length;
                    step_width = 100 / (len - 1);

                    list_el.css({
                        "position":"relative"
                    });

                    $.each(slider_data, function (i, item) {
                        var li = $("<li>" + item.duration + "</li>").appendTo(list_el);

                        li.css({
                            "position":"absolute",
                            "top":"0",
                            padding:0,
                            width:"3ex",
                            marginLeft:"-1.5ex"
                        });
                        if (len - 1 === i) {
                            li.css({
                                "right":"-10px"
                            });
                        } else {
                            li.css({
                                "left":(step_width * i) + "%"
                            });
                        }
                    });

                    el.slider({
                        value:100,
                        min:0,
                        max:len - 1,
                        step:1,
                        slide:slide_handler,
                        change:slide_handler
                    });
                    set_value(slider_data[slider_data.length - 1])
                }
            });


        });
    </script>
{% endblock %}


