{% extends 'wizard_base.html' %}

{% block before-main-wrap %}
    {% include "step5_nav.html"%}
{% endblock before-main-wrap %}

{% block content %}
{#    {{ container }}#}
{#    {{ form_list }}#}
    <div class="right-column">
        {% block right-column %}
            {% include "step5_aside.html" %}
        {% endblock right-column %}
    </div>
    <div id="content" style="overflow: visible;padding-left:0px;width:763px;float:left;">
        {% block main-content %}
            {% include "step5_content.html" %}
        {% endblock main-content %}
    </div>
    <div class="clear"></div>
{% endblock content %}
