<script type="text/javascript">
    $(document).ready(function() {

        $(".RBLabelClass").click(function()
        {
            $(this).parents('td').eq(0).find('input').click();
            return false;
        });

        $(".RBClass").change(function()
        {
            $(".RBClass").each(function(){
                if($(this).is(":checked")){
                    $(this).next("label").addClass("RBLabelSelected");
                }else{
                    $(this).next("label").removeClass("RBLabelSelected");
                }
            });
        });
    });
</script>
<div class="choose-time">
    <div class="date-label">Дата: {{ date }}, {{ wday }}</div>
    <h2>Выберите удобное время начала консультации:</h2>
    <div class="time-table-label">
        Часы
    </div>
    <table class="ct-hours">
        <tr>
{#            <td class="choose-time-head"></td>#}
{#            <td class="choose-time-head"></td>#}
            {% for hour in hour_periods %}
                <td style="width: 20px; text-align: center; padding: 2px 0px;" class="choose-time-head">{{ hour.0 }}</td>
            {% endfor %}
        </tr>
        <tr class="choose-time-body">
{#            <td style="padding-top: 5px; padding-left: 2px; padding-right: 2px;">{{ wday }}</td>#}
{#            <td style="padding-top: 5px; padding-left: 2px; padding-right: 2px;">{{ date }}</td>#}
            {% for hour in hour_periods %}
                <td style=" text-align: center;padding: 5px 0px;">
                {% if hour.1 %}
                    <input type="radio" class="RBClass" name="time" value="{{ hour.0 }}" style="position: static;" >
                    <label class="RBLabelClass">&nbsp;</label>
                {% endif %}
                </td>
            {% endfor %}
        </tr>
    </table>

    <div class="sub-times">
        <div class="time-table-label">
            Минуты
        </div>
        <table class="ct-minutes">
            <tr>
                <td style="width: 20px; text-align: center; padding: 2px 0px;" class="choose-time-head">00</td>
                <td style="width: 20px; text-align: center; padding: 2px 0px;" class="choose-time-head">15</td>
                <td style="width: 20px; text-align: center; padding: 2px 0px;" class="choose-time-head">30</td>
                <td style="width: 20px; text-align: center; padding: 2px 0px;" class="choose-time-head">45</td>
            </tr>
            <tr class="choose-time-body">
                <td style=" text-align: center;padding: 5px 0px;">
                    <input type="radio" class="RBClass" checked="checked" name="minutes" value="0" style="position: static;" >
                    <label class="RBLabelClass RBLabelSelected">&nbsp;</label>
                </td>
                <td style=" text-align: center;padding: 5px 0px;">
                    <input type="radio" class="RBClass" name="minutes" value="15" style="position: static;" >
                    <label class="RBLabelClass">&nbsp;</label>
                </td>
                <td style=" text-align: center;padding: 5px 0px;">
                    <input type="radio" class="RBClass" name="minutes" value="30" style="position: static;" >
                    <label class="RBLabelClass">&nbsp;</label>
                </td>
                <td style=" text-align: center;padding: 5px 0px;">
                    <input type="radio" class="RBClass" name="minutes" value="45" style="position: static;" >
                    <label class="RBLabelClass">&nbsp;</label>
                </td>
            </tr>
        </table>
    </div>
</div>