{% extends 'base.html' %}

{% block title %}
    {% if flatpage.pk == 1 %}
        Работа психологом онлайн
    {% else %}
        {{ flatpage.title }}
    {% endif %}
{% endblock title %}

{% block content %}
    <h1>{{ flatpage.title }}</h1>
    <div class="b-frame b-videos">
        <div class="frame round-5">
            {{ flatpage.content }}
        </div>
        <div class="shadow round-5"></div>
    </div>
{% endblock content %}
