{% extends 'base.html' %}
{% block title %}{{ flatpage.title }}{% endblock title %}

{% block content %}
    <div class="right-column">
        {% block right-column %}
            {% include "right-column.html" %}
        {% endblock right-column %}
    </div>
    <div id="content" class="left-type">
        {% block main-content %}
            <h1>{{ flatpage.title }}</h1>
            <div class="b-frame ">
                <div class="frame round-5">
                    {{ flatpage.content|safe }}
                </div>
                <div class="shadow round-5"></div>
            </div>
        {% endblock main-content %}
    </div>
    <div class="clear"></div>
{% endblock content %}