/* --- Topic/Forum table --- */
.forum-description {
  margin: 5px;
  font-size: $baseFontSize - 2;
}

.forum-row, .topic-row {
  width: 100%;
}

.forum-name, .topic-name {
  width: 40%;
}

.forum-topic-count, .forum-post-count, .topic-post-count, .topic-view-count {
  width: 16%;
  text-align: center;
}

.forum-last-post, .topic-last-post {
  width: 20%;
}

.category-table{
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
}
