.posts {
}

.post {
  margin: 3px 0 5px 0;
}

.post-header {
  padding: 3px 0 3px 20px;
  font-size: $baseFontSize - 2;
  background-color: $postHeaderColor;
}

.post tbody tr td, .post tbody tr:hover td {
  background-color: #fff;
  // Cancel bootstrap's on-hover highlight
}

.post-info {
  width: 200px;
  padding: 10px;

  .avatar {

  }

  .post-author {
    font-size: $baseFontSize +1;
    padding: 5px 0;
  }

  .post-extra-info {
    font-size: $baseFontSize - 2;
    color: $postExtraInfoColor;
  }

  .post-controls {
    font-size: $baseFontSize - 2;
  }
}

.post-content {
  vertical-align: top;
  padding: 10px;
}

.post-signature {
  color: #CCC;
  margin-top: 15px;
  border-top: 1px dotted #CCC;
  display: block;
}

.post-related {
  margin-top: 20px;
}
