{% extends 'news_base.html' %}

{% load thumbnail %}

{% block extra_script %}
    <link rel="stylesheet" href="{{ STATIC_URL }}psyco/css/validationEngine.jquery.css" type="text/css"/>
    <script src="{{ STATIC_URL }}psyco/js/validation_engine/languages/jquery.validationEngine-ru.js"
            type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}psyco/js/validation_engine/jquery.validationEngine.js" type="text/javascript"
            charset="utf-8"></script>
    <script>
        $(document).ready(function () {
            $("#comment-form").validationEngine();
        });
    </script>
{% endblock %}

{% block main-content %}
    <div class="news_detail">
        <span class="date_detail">{{ novelty.datetime|date:"d.m.Y, H:i" }}</span>

        <h1>{{ novelty.title }}</h1>

        <div class="b-frame">
            <div class="frame round-5">
                {% autoescape off %}
                    <div class="descr_main">{{ novelty.body }}</div>
                {% endautoescape %}

            <div class="blog-post-author-block">
                {% if novelty.author and not novelty.author.expertblank.is_tested %}
                    {% thumbnail novelty.author.expertblank.avatar "93x108" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.weight }}" height="{{ im.height }}" />
                    {% endthumbnail %}
                    <div class="eq-ans-desc">
                        <div class="eq-ans-expert">{{ novelty.author.expertblank.last_name }} {{ novelty.author.expertblank.first_name }} {{ novelty.author.expertblank.middle_name }}</div>
                        <form action="/wizzard/experts/" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="wizard-current_step" value="experts" id="id_wizard-current_step">
                                <button type="submit" name="experts-expert" value="{{ expert.pk }}" class="expert-detail-order-btn round-15 begin_btn order_consult">
                                    {% if novelty.author.expertblank.free_consult %}
                                        Заказать бесплатную консультацию
                                    {% else %}
                                        Заказать консультацию
                                    {% endif %}
                                </button>
                        </form>
                    </div>
                {% else %}
                    <a href="{% url 'expert-list' %}" class="expert-detail-order-btn round-15 begin_btn order_consult order_consult_in_news">
                        Подобрать психолога</a>
                {% endif %}
            </div>
            <div class="clear"></div>

                {% include "comments/comments.html" with object=novelty %}

                <a id="all_news" class="button" href="{% url "news-list" %}">Все записи</a>
            </div>
            <div class="shadow round-5"></div>
        </div>
    </div>


{% endblock main-content %}
