{% extends 'news_base.html' %}
{% load digg_paginator %}

{% block title %}
    Статьи о психологии
{% endblock %}

{% block main-content %}
    <h1>Статьи о психологии</h1>
    {% if news %}
        {% for item in news %}
            {% include "news_in_list.html" %}
        {% endfor %}
    {% else %}
        <p>Записей пока нет</p>
    {% endif %}

    {% if is_paginated %}
        {% digg_paginator %}
    {% endif %}
{% endblock main-content %}
