{% load thumbnail %}
<div class="news_item b-frame">
    <div class="frame round-5">
        <span class="date">{{ item.datetime|date:"d.m.Y, H:i" }}</span>

        <h3 class="title"><a href="{% url "news-details" item.id %}">{{ item.title }}</a></h3>
        {% if item.author and not item.author.expertblank.is_tested %}
            <a class="blog-post-author" href="{% url 'expert-details' item.author.username %}">Автор: {{ item.author.expertblank.last_name }}
            {{ item.author.expertblank.first_name }} {{ item.author.expertblank.middle_name }}</a>
        {% endif %}
        {% thumbnail item.image "200x200" as im %}
            <img src="{{ im.url }}">
        {% endthumbnail %}

        <div class="news_item_left">


            <div class="descr">{{ item.body|removetags:"img, div"|safe|truncatechars:600 }}</div>
            <a class="more" href="{% url "news-details" item.id %}">Дальше</a>
        </div>

    </div>
    <div class="shadow round-5"></div>

</div>

