{% extends 'base.html' %}


{% block content %}
    <script type="text/javascript">
        var server_uri = "rtmp://37.200.68.238:1935/mychat";
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}psyco/js/swfobject.js"></script>
    <script type="text/javascript">
        var flashvars = {
            "server_uri":server_uri,
            "img_path":"{{ STATIC_URL }}psyco/img/moment/"
        };

        var params = {
            "movie":"{{ STATIC_URL }}psyco/flash/MyChat.swf",
            "bgcolor":"#fff",
            "scale":"noscale",
            "quality":"high",
            "allowfullscreen":"true",
            "allowscriptaccess":"always"
        };

        var attributes = {
            "id":"MyChat",
            "width":"100%",
            "height":"100%",
            "align":"Default"
        };

        swfobject.embedSWF("{{ STATIC_URL }}psyco/flash/MyChat.swf", "MyChat_div", "100%", "100%",
                "9.0.0", false, flashvars, params, attributes);
    </script>




    <div id="WelcomeScreen" style="height: 100%; width: 100%">
        <table style="height: 100%; border: 0; margin-left: auto; margin-right: auto" cellpadding="0" cellspacing="0">
            <tr>
                <td style="vertical-align: middle">
                    <table style="border: 0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td style="vertical-align: middle; padding-right: 1ex">
                                <span style="color: #808080">Введите код разговора:&nbsp;</span>
		<span style="color: #333333">
		  <input id="CodeInput" class="code_input" type="text" placeholder="Код разговора"
                 onkeydown="codeKeyDown(event)"/>
		</span>
                            </td>
                            <td class="connect_button" onclick="connect()">
                                Подключиться
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <div id="Header" class="header">

        <div class="flash_div">
            <div id="MyChat_div">
                <a href="http://adobe.com/go/getflashplayer">Get Adobe Flash player</a>
            </div>
        </div>
    </div>

    <div id="ChatApp" class="chat_app">
        <div style="height: 490px; padding-bottom: 120px; width: 100%"></div>
        <div class="body">
            <div class="chat_frame">
                <div id="ChatScroll" class="chat_scroll">
                    <div id="ChatDiv" class="chat_div">
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="input_div">
                <table style="width: 100%; height: 100%; border: 0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="width: 100%; text-align: left; color: #333333">
                            <div id="ChatInputWrapper" >
                                <input id="ChatInput" class="chat_input chat_input_blocked" type="text"
                                       placeholder="Введите сообщение" onkeydown="chatKeyDown(event)"/>
                            </div>
                        </td>
                        <td id="SendButton" tabindex="0" class="send_button send_button_blocked"
                            style="vertical-align: middle" onclick="sendButtonClick()" onkeydown="sendKeyDown(event)">
                            Отправить
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ STATIC_URL }}psyco/js/moment_chat.js"></script>

{% endblock content %}


{% block bottom-content %}


{% endblock bottom-content %}
