<h2>Новые публикации</h2>

<div class="main_news">
    <div class="main_news_left">
        <ul id="carusel3">
            {% for item in news %}
                {% include "news-slider__item-in-list.html" %}
            {% endfor %}
        </ul>
    </div>
</div>
