<h1>Подобрать психолога для онлайн консультации</h1>

    <div class="change_group main_category_block">
        {% for group in categories %}
            {% if group.name != 'Другое' %}
            <form action="/wizzard/experts/?group={{ group.pk }}" method="post">{% csrf_token %}
                <input type="hidden" name="wizard-current_step" value="category" id="id_wizard-current_step">
            {% include "step1_group.html" %}
            </form>
            {% endif %}
        {% endfor %}
        <div class="group_item1 last">
            {% include "simple_go2experts.html" %}
        </div>
    </div>
