{% if lib_items %}
<h2>Библиотека</h2>
<a class="button" href="#">Как получить доступ?</a>

    {% for item in lib_items %}
        <div class="left_item">
            <h4>{{ item.owner.first_name }} {{ item.owner.last_name }}</h4>
            <h5><a href="{% url "libitem-details" item.id %}">{{ item.name }}</a></h5>

            {% autoescape off %}
                {{ item.text|truncatewords_html:30 }}
            {% endautoescape %}


        </div>


    {% endfor %}
{% endif %}