{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Помощь психолога онлайн. Психологическая помощь и консультации онлайн{% endblock %}

{% block right-column %}
    {% include "right-column.html" %}
{% endblock right-column %}


{% block main-content %}
    {% include "content.html" %}
{% endblock main-content %}


{% block bottom-content %}
    <div class="b-incut main">
        <div class="top"></div>
        <div class="incut">
        <div class="inner" style="padding-bottom: 0px;">
                <div>
                    <div class="main_left4">

                    {% include "experts_block.html" %}

                    </div>
                    <div class="main_right">
{#                        {% include "library.html" %}#}
                        <div class="ask-expert-banner ask-expert">
                            <div style="text-align: center">
                                <img style="float: left; margin-right: 2px;" src="{{ STATIC_URL }}psyco/img/question-icon-2.png" />
                            </div>
                            <div class="ask-expert-title main">Бесплатный вопрос психологу</div>
                            <textarea placeholder="В этом поле Вы можете задать вопрос психологу"></textarea>
                            <div>
                                <button class="round-15 begin_btn">Задать</button>
                            </div>
                        </div>

                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    <div class="bottom"></div>
        <div class="inner">
            <div class="main">
                {% include 'experts_block_under.html' %}
            </div>
            <div class="clear">

            </div>
        </div>
    </div>
    <!-- /b-incut -->

    {% include "news-slider.html" %}
{% endblock bottom-content %}
