{% extends 'base.html' %}

{#{% block right-column %}#}
{#    {% include "right-column.html" %}#}
{#{% endblock right-column %}#}

{% block main-content %}
    <h1>Проект открыт для регистрации специалистов.</h1>
    <p><a class="btn btn-primary" href="/for_experts/">Перейти к регистрации</a></p>
{% endblock main-content %}


