{% load thumbnail %}

<li>
    <a href="{% url "news-details" item.id %}">
    {% thumbnail item.image "250x150" crop="center" as im %}
        <img src="{{ im.url }}">
    {% endthumbnail %}
    <div class="blog-post-title">{{ item.title }}</div>
    </a>
</li>