{#{% if news %}#}
{#<div class="inner">#}
{#    <div class="main_news">#}
{#        <div class="main_news_left">#}
{#            <a href="{% url "news-list" %}"><h2>Последние записи блога</h2></a>#}
{#            <ul id="carusel3">#}
{#                {% for item in news %}#}
{##}
{#                    {% include "news-slider__item-in-list.html" %}#}
{##}
{#                {% endfor %}#}
{##}
{#            </ul>#}
{#        </div>#}
{#        <div class="main_news_right">#}
{#            <a href="/how_to_pay/"><img src="{{ STATIC_URL }}psyco/img/images/online.png"/></a>#}
{#        </div>#}
{#        <div class="clear"></div>#}
{#    </div>#}
{#</div>#}
{#{% endif %}#}
