<h2>Вопросы и ответы</h2>

<div class="line">
    <div class="item">
        <div class="i">
            <div class="info">
                <p class="info">28.02.2012, 14.01. <em>Ирина:</em></p>

                <p>Спасибо Екатерине за восстановление хороших отношений с сыном. Диалог с ней - как
                    разговор с близким другом, он е,тельне стороны.</p>

                <p class="more"><a href="#">Ответ</a></p>
            </div>
        </div>
    </div>
    <!-- /item -->
    <div class="item">
        <div class="i">
            <div class="info">
                <p class="info">28.02.2012, 14.01. <em>Михаил:</em></p>

                <p>Здравствуйте. С 13 лет я занимаюсь в театральном кружке. Прошло уже 15 лет, а я
                    до сих пор боюсь выходить на сцену...</p>

                <p class="more"><a href="#">Ответ</a></p>
            </div>
        </div>
    </div>
    <!-- /item -->
</div>
<!-- /line -->
<div class="line">
    <div class="item">
        <div class="i">
            <div class="info">
                <p class="info">28.02.2012, 14.01. <em>Ирина:</em></p>

                <p>Спасибо Екатерине за восстановление хороших отношений с сыном. Диалог с ней - как
                    разговор с близким другом, он е,тельне стороны.</p>

                <p class="more"><a href="#">Ответ</a></p>
            </div>
        </div>
    </div>
    <!-- /item -->
    <div class="item">
        <div class="i">
            <div class="info">
                <p class="info">28.02.2012, 14.01. <em>Михаил:</em></p>

                <p>Здравствуйте. С 13 лет я занимаюсь в театральном кружке. Прошло уже 15 лет, а я
                    до сих пор боюсь выходить на сцену...</p>

                <p class="more"><a href="#">Ответ</a></p>
            </div>
        </div>
    </div>
    <!-- /item -->
</div>
<!-- /line -->
<div class="line">
    <div class="item">
        <div class="i">
            <div class="info">
                <p class="info">28.02.2012, 14.01. <em>Ирина:</em></p>

                <p>Спасибо Екатерине за восстановление хороших отношений с сыном. Диалог с ней - как
                    разговор с близким другом, он е,тельне стороны.</p>

                <p class="more"><a href="#">Ответ</a></p>
            </div>
        </div>
    </div>
    <!-- /item -->
    <div class="item">
        <div class="i">
            <a class="ask-button" href="questions/ask/index.html"><img
                    src="{{ STATIC_URL }}psyco/img/images/no_register.png"/></a>
        </div>
    </div>
    <!-- /item -->
</div>
<!-- /line -->
