{#{% if recals %}#}

{#<a href="http://www.youtube.com/embed/pFBjlZdQiOU" id="main-video-link" class="various fancybox.iframe">#}
<div id="slides-video">
    <div class="video_container">
        <div class="inner00">
            <img class="play-video-btn" src="{{ STATIC_URL }}psyco/img/play-video.png"  alt="http://www.youtube.com/embed/70sbF2NJoos?rel=0&autoplay=1" />
            <img class="play-video-preview" src="{{ STATIC_URL }}psyco/img/dev-1.jpg" />
        </div>
{#        <div class="inner00">#}
{#            <img class="play-video-btn" src="{{ STATIC_URL }}psyco/img/play-video.png"  alt="http://www.youtube.com/embed/CdDvGbubYLo?rel=0&autoplay=1" />#}
{#            <img class="play-video-preview" src="{{ STATIC_URL }}psyco/img/dev-2.jpg" />#}
{#        </div>#}
        <div class="inner00">
            <img class="play-video-btn" src="{{ STATIC_URL }}psyco/img/play-video.png"  alt="http://www.youtube.com/embed/nRl7cwIO_R4?rel=0&autoplay=1" />
            <img class="play-video-preview" src="{{ STATIC_URL }}psyco/img/dev-3.jpg" />
        </div>
        <div class="inner00">
            <img class="play-video-btn" src="{{ STATIC_URL }}psyco/img/play-video.png"  alt="http://www.youtube.com/embed/GwJwhlyaJt0?rel=0&autoplay=1" />
            <img class="play-video-preview" src="{{ STATIC_URL }}psyco/img/dev-4.jpg" />
        </div>
    </div>
</div>
{#    <div class="main_reviews">#}
{#        <div class="main_reviews_left">#}
{#            <h2>Отзывы<a href="{% url "recal-list" %}">Все отзывы</a></h2>#}
{#            <ul id="carusel4">#}
{#                {% for review in recals %}#}
{#                    {% include "reviews_slider_item_in_list.html" %}#}
{#                {% endfor %}#}
{#            </ul>#}
{#        </div>#}
{#        <div class="clear"></div>#}
{#    </div>#}
{#</a>#}
{#{% endif %}#}
