{% load thumbnail %}
<li>
    <div class="review-info">
        <p>
            {{ review.text }}
        </p>
    </div>

    <div class="review-expert">
        {% thumbnail review.expert.expertblank.avatar "150x150" as im %}
            <a href="{% url "expert-details" review.expert.username %}">
                <img src="{{ im.url }}" alt="">
            </a>
        {% endthumbnail %}

        <div class="name">
            <div><b>{{ review.expert.expertblank.last_name }}</b></div>
            <div>{{ review.expert.expertblank.first_name }}</div>
            <div>{{ review.expert.expertblank.middle_name }}</div>
        </div>
    </div>
</li>
