
    <div class="begin">
        <a href="{% url "wizzard_step" 'experts' %}?category={{ group.id }}">
            <img src="{{ STATIC_URL }}psyco/img/images/5.png"/>
        </a>

        <a href="{% url "wizzard_step" 'experts' %}?group={{ group.id }}" class="round-15 begin_btn order_consult">Заказать консультацию</a>
    </div>
    {% if right_banner and request.path != "/" %}
        <a href="{{ right_banner.link }}">
            {% if right_banner.image %}
                <img src="{{ MEDIA_URL }}{{ right_banner.image }}" width="211" style="margin-top: 15px;" />
            {% elif right_banner.image_link %}
                <img src="{{ MEDIA_URL }}{{ right_banner.image_link }}" width="211" style="margin-top: 15px;" />
            {% endif %}
        </a>
    {% endif %}
