<h2>Семинары</h2>
<a class="button" href="#">Как принять участие?</a>

<div class="left_item">
    <span>19 февраля 2012 г</span>
    <h5><a href="#">"Любовь и ненависть в психоанализе"</a></h5>

    <p>Цикл посвящен аспектам феномена переноса</p>

    <div class="video">
        <iframe width="152" height="85" src="http://www.youtube.com/embed/20I9plqbwSs"
                frameborder="0" allowfullscreen></iframe>
    </div>
</div>
<div class="left_item">
    <span>19 февраля 2012 г</span>
    <h5><a href="#">"Любовь и ненависть в психоанализе"</a></h5>

    <p>Цикл посвящен аспектам феномена переноса</p>
</div>
<div class="left_item">
    <span>19 февраля 2012 г</span>
    <h5><a href="#">"Любовь и ненависть в психоанализе"</a></h5>

    <p>Цикл посвящен аспектам феномена переноса</p>
</div>
