<div class="services_item">
    <h4>Развёрнутый ответ</h4>

    <div class="serv1">
        Вы можете подробно изложить ситуацию в письме специалисту и получите развернутый ответ в письменной форме,
        содержащий анализ ситуации и рекомендации по ее улучшению или преодолению Специалист ответит вам в течение 4
        часов с момента отправки письма.
    </div>
    <div class="serv3"></div>
    <div class="serv4">1000 руб.</div>
    <div class="serv5"></div>
    <div class="clear"></div>
{#    <div class="b-frame">#}
{#        <div class="frame round-10">#}
{##}
{#                <h4>Развёрнутый ответ</h4>#}
{##}
{#                <div class="serv1">#}
{#                    Вы можете подробно изложить ситуацию в письме специалисту и получите развернутый ответ в письменной#}
{#                    форме, содержащий анализ ситуации и рекомендации по ее улучшению или преодолению Специалист ответит#}
{#                    вам в течение 4 часов с момента отправки письма.#}
{#                </div>#}
{#                <div class="serv3">#}
{#                    <div class="demo">#}
{##}
{#                    </div>#}
{#                    <!-- End demo -->#}
{#                    <ul class="length"></ul>#}
{#                </div>#}
{#                <div class="serv4">#}
{##}
{#                    1000 руб.#}
{##}
{#                </div>#}
{#                <div class="serv5">#}
{#                    <a href="#" class="zakaz round-20 order-btn">#}
{#                        <div>Заказать консультацию</div>#}
{#                    </a>#}
{#                </div>#}
{#                <div class="clear"></div>#}
{##}
{#        </div>#}
{#        <div class="shadow round-10"></div>#}
{#    </div>#}
</div>
