<div class="services_item">
    <h4>Чат</h4>

    <div class="serv1">
        Текст текст текст.
    </div>
    <div class="serv3"></div>
    <div class="serv4">1500 руб.</div>
    <div class="serv5"></div>
    <div class="clear"></div>
{#    <div class="b-frame">#}
{#        <div class="frame round-10">#}
{#                <h4>Чат</h4>#}
{##}
{#                <div class="serv1">#}
{#                    Вы можете подробно изложить ситуацию .#}
{#                </div>#}
{#                <div class="serv3">#}
{#                    <div class="demo">#}
{##}
{#                    </div>#}
{#                    <!-- End demo -->#}
{#                    <ul class="length"></ul>#}
{#                </div>#}
{#                <div class="serv4">#}
{##}
{#                    1500 руб.#}
{##}
{#                </div>#}
{#                <div class="serv5">#}
{#                    <a href="#" class="zakaz round-20 order-btn">#}
{#                        <div>Заказать консультацию</div>#}
{#                    </a>#}
{#                </div>#}
{#                <div class="clear"></div>#}
{#        </div>#}
{#        <div class="shadow round-10"></div>#}
{#    </div>#}
</div>
