<div class="services">
    {% include "service-content-item.html" %}
    <hr>
    {% include "service-content-item2.html" %}
    <hr>
    <div class="services_item">
        <a href="{% url "wizzard_step" 'category' %}" class="zakaz round-20 order-btn">
            <div>Заказать консультацию</div>
        </a>

    </div>
</div>
